<div class="btn-group ml-2" role="group" aria-label="Severity filter">
    <button type="button" class="btn btn-outline-secondary" ng-class="{'active': severity.Normal}" ng-click="severity.Normal = !severity.Normal">Normal</button>
    <button type="button" class="btn btn-outline-secondary" ng-class="{'active': severity.Warning}" ng-click="severity.Warning = !severity.Warning">Warning</button>
    <button type="button" class="btn btn-outline-secondary" ng-class="{'active': severity.Minor}" ng-click="severity.Minor = !severity.Minor">Minor</button>
    <button type="button" class="btn btn-outline-secondary" ng-class="{'active': severity.Major}" ng-click="severity.Major = !severity.Major">Major</button>
    <button type="button" class="btn btn-outline-secondary" ng-class="{'active': severity.Critical}" ng-click="severity.Critical = !severity.Critical">Critical</button>
</div>