@CHARSET "UTF-8";
@import "../opennms/styles.css?v=${buildNumber}";

.topo-root-layout {
    width: 100%;
    height: auto;
    bottom: 0;
}

.opacity-50{
    opacity: 0.5;
    -moz-opacity:0.5;
}

.opacity-40{
    opacity: 0.4;
    -moz-opacity:0.4;
}

.center-text{
    text-align: center;
}

/** Ensure that tables don't have their font style/size overridden by GWT's standard.css */
.v-app table td {
    font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
    font-size: 12px;
}

.v-table-table {
    border-collapse: collapse;
}

div.v-table-header-wrap {
    text-transform: none;
}

/**
* End Button styles
*/

/**
* Toolbar spacing
*/
.v-vertical > .v-spacing {
    height: 10px;
}

.v-horizontal > .v-spacing {
    width: 5px;
}
/**
* End toolbar spacing
*/

/** Edge Styles **/
.edge {
	stroke: #ccc;
}

.edge.selected,
.edge.ncs.selected {
	stroke: #00ffff;
}

.edge.ncs {
	stroke: #4D6C80;
}

.edge.ncs.direct {
	stroke: #FFD700;
}

.edge .status.indeterminate {
    stroke: #999000;
}

.edge.up,
.edge.ncs.up,
.edge.normal {
    stroke: #336600;
}

.edge.warning {
    stroke: #FFCC00;
}

.edge.minor {
    stroke: #FF9900;
}

.edge.major {
    stroke:#FF3300;
}

.edge.down,
.edge.ncs.down,
.edge.critical {
    stroke:#CC0000;
}

.map-layout {
    overflow: hidden;
}

.map-content {
	background-color: #ffffff;
	border-left: 1px solid #dddddd;
    width: 100%;
    height: 100%;
}

/** Ionicons */
.v-icon.Ionicons {
    font-family: Ionicons;
}

/** Vertex Styles **/
.vertex .icon-container {
    pointer-events: none;
}

.vertex .navigate-to {
    opacity: 1;
    fill: black;
}

.vertex .navigate-to .text {
    font-family: Ionicons;
    font-size: 10px;
    fill: #505154;
    stroke: white;
}

.vertex-label {
    alignment-base: text-before-edge;
    text-anchor: middle;
    font-size: 9px;
}

/******** Vertex Status Styles ********/
.vertex .status.selected,
.vertex .status.cleared,
.vertex .status.normal, 
.vertex .status.indeterminate,
.vertex .status.warning, 
.vertex .status.minor,
.vertex .status.major,
.vertex .status.critical {
	opacity: 1;
}

.vertex .status.cleared{
	stroke:#999;
	fill: #999;
}

.vertex .status.normal{
	stroke:#336600;
	fill: #336600;
}

.vertex .status.indeterminate{
	stroke:#999000;
	fill:#999000;
}

.vertex .status.warning{
	stroke:#FFCC00;
	fill:#FFCC00;
}

.vertex .status.minor{
	stroke:#FF9900;
	fill:#FF9900;
}
.vertex .status.major{
	stroke:#FF3300;
	fill:#FF3300;
}

.vertex .status.critical{
	stroke:#CC0000;
	fill:#CC0000;
}

.vertex .status.selected{
    stroke: #91C054;
    stroke: #91C054;
}

.status-counter {
  stroke: white;
  fill: white;

}

.node-status-counter {
  overflow: visible;
}

/* Status Badge */
.status-badge-container {
    fill: white;
}

.status-badge {
    font-family: Ionicons;
    stroke-width: 0px;
    font-size: 16.5pt;
}

.status-badge.status.normal {
    stroke:#336600;
    fill: #336600;
}

.status-badge.status.indeterminate{
    stroke:#999000;
    fill:#999000;
}

.status-badge.status.warning{
    stroke:#FFCC00;
    fill:#FFCC00;
}

.status-badge.status.minor{
    stroke:#FF9900;
    fill:#FF9900;
}
.status-badge.status.major{
    stroke:#FF3300;
    fill:#FF3300;
}

.status-badge.status.critical{
    stroke:#CC0000;
    fill:#CC0000;
}

/*** End Vertex Styles***/

/** SearchBox Styles **/
.topology-search {
    padding: 18px;
}

.search-token-field {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    color: black;
	padding: 2px 5px 2px 5px;
	margin: 1px;
}

.search-token-namespace{
	font-weight: bold;
	padding-right: 5px;
}

.search-token-label{
    padding-right: 5px;
    max-width: 180px;
    word-wrap: break-word;
}

.search-token-ctrls .icon-remove:before  {
    font-family: FontAwesome;
    content: "\f00d";
}

.search-token-ctrls .icon-location-arrow:before  {
    font-family: FontAwesome;
    content: "\f124";
}

.search-token-ctrls .icon-minus:before {
    content:"\f068";
    font-family: FontAwesome;
}

.search-token-ctrls .icon-plus:before {
    content:"\f067";
    font-family: FontAwesome;
}

.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
  height: 450px;
  overflow: auto !important;
  font-family: Helvetica, Arial, sans-serif;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #cdcdcd;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: url(/opennms/images/chrome/hborder.png) repeat-x;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: url(/opennms/images/chrome/hborder.png) repeat-x 0px -4px;
  -background: url(/opennms/images/chrome/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: url(/opennms/images/chrome/vborder.png) repeat-y;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: url(/opennms/images/chrome/vborder.png) repeat-y -4px 0px;
  -background: url(/opennms/images/chrome/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(/opennms/images/chrome/corner.png) no-repeat 0px -23px;
  -background: url(/opennms/images/chrome/corner_ie6.png) no-repeat 0px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(/opennms/images/chrome/corner.png) no-repeat -5px -23px;
  -background: url(/opennms/images/chrome/corner_ie6.png) no-repeat -5px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(/opennms/images/chrome/corner.png) no-repeat 0px -28px;
  -background: url(/opennms/images/chrome/corner_ie6.png) no-repeat 0px -28px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(/opennms/images/chrome/corner.png) no-repeat -5px -28px;
  -background: url(/opennms/images/chrome/corner_ie6.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

/** End Search Box Styles **/

/** HUD Display Styles **/
.topoHudDisplay {
	border-width: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;

}

.topoHudDisplay td{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	text-align: right;
}

.topoHudDisplay th{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

/* Icon Selection Dialog */
.svgIconOverlay.selected {
    stroke-width: 2px;
    stroke: #2e6da4;
    opacity: 1;
    fill-opacity: 0;
}

.icon-selection-component,
.v-slot-icon-selection-component {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Info Panel Styling */
.toggle-button {
    background: rgba(255, 255, 255, 0.9) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==") no-repeat scroll 7px center / 7px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 8px;
    left: 100%;
    z-index: 10000;
    cursor: pointer;
    height: 48px;
    width: 23px;
}

.toggle-button.info-panel-collapsed {
    transform: scaleX(-1);
}

.info-panel-component {
    background-color: #f9f9f9;
    height: 100%;
    max-width: 350px;
    overflow-y: auto;
}

.info-panel-item {
    overflow: auto;
}

.info-panel-item-label {
    font-weight: bold;
}

.info-panel-area {
    height: 100%;
    max-width: 350px; /* When changing this, also change the width of the dummy label in InfoPanel#refreshInfoArea */
    overflow-y: auto;
}

/** Simulation Info Panel Styling */
.info-panel-component .v-slot-simulation .v-slot-warning {
    color: orange;
}

.info-panel-component .v-slot-simulation .v-slot-warning .v-caption-warning {
    display: inline;
}

.info-panel-component .v-slot-simulation .v-label-warning {
    vertical-align: top;
    padding-left: 8px;
}

/** Threshold Explanation Window */
.threshold .v-table-cell-content-selected {
    background-color: #B2DFFF;
    /*color: white;*/
}

/** Toolbar */
.toolbar {
    background-color: #f9f9f9;
    height: 100%;
    max-width: 250px;
    overflow-y: auto;
    z-index: 10000;
    border-left: 1px solid #323336;
}

.toolbar .layout.selected {
    background-color: #4c9d29; /* $color_opennms */
    color: #fff;
}

.toolbar .layout:hover {
    cursor: pointer;
}

.toolbar .toolbar-component {
    position: absolute;
    width: 50px;
    right: 100%;
    top: 25px;
}

.toolbar .toolbar-component-group {
    width: 50px;
    background-color: #323336;
    color: #d1d3d6;
    border-radius: 8px 0 0 8px;
    margin: 8px;
}

.toolbar .toolbar-group-item {
    border-style: none;
    background-image: none !important;
    text-align: center;
    padding: 8px;
    width: 100%;
    height: 100%;
    font-size: 150%;
}

.toolbar .toolbar-group-item.selected,
.toolbar .toolbar-group-item.selected:hover {
    background-color: #4c9d29; /* $color_opennms */
    color: #fff;
}

.toolbar .toolbar-group-item:hover {
    color: #4c9d29; /* $color_opennms */
    cursor: pointer;
}
