<div>

    <div class="panel panel-default">
        <div class="panel-body" ng-if="bsToEdit !=== null">
            <strong>There are no business services defined.</strong>
        </div>
        <div class="panel-body" ng-if="bsToEdit.id > 0">
            <strong>ID: {{bsToEdit.id}}</strong>

            <form>
                <div class="form-group">
                    <label for="bsName">Business Service Name</label>
                    <input id="bsName" ng-model="bsToEdit.name" type="text" class="form-control"
                           placeholder="Business Service Name" value="{{bsToEdit.name}}">
                </div>
                <button id="update" type="submit" class="btn btn-default" ng-click="bsUpdate()">Update</button>
                <button id="cancel" type="submit" class="btn btn-default" ng-click="bsCancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>
