<div class="panel panel-default">
    <form class="form-inline pull-right">
        <div class="form-group">
            <input type="search" class="form-control" id="createInput" ng-model="name"
                   placeholder="Business Service Name">
        </div>
        <button id="createButton" type="submit" ng-click="bsCreate()" class="btn btn-default">Create</button>
    </form>

    <div class="panel-body" ng-if="items.length < 1">
        <strong>There are no business services defined.</strong>
    </div>

    <table class="table table-bordered table-striped table-condensed" ng-if="items.length > 0">
        <tbody>
        <tr>
            <th class="col-sm-1">
                ID
            </th>
            <th class="col-sm-5">
                Name
            </th>
            <th class="col-sm-6">
                Attributes
            </th>
            <th class="col-sm-7">
                Edit
            </th>
            <th class="col-sm-7">
                Delete
            </th>
        </tr>
        <tr ng-repeat="item in items">
            <td>
                {{item.id}}
            </td>
            <td>

                <div ng-if="item.name.length < 1">
                    (No name is set)
                </div>
                <div ng-if="item.name.length > 0">
                    {{item.name}}
                </div>
            </td>
            <td class="text-left">
                <div ng-if="!item.attributes.attribute || item.attributes.attribute.length == 0">
                    (No attributes are set)
                </div>
                <p ng-if="item.attributes.attribute.length > 0" ng-repeat="attribute in item.attributes.attribute">
                    <b>{{attribute.key}}:</b> {{attribute.value}}
                </p>
            </td>
            <td>
                <button ng-attr-id="{{'edit-' + item.name}}" class="btn btn-default" ng-click="goEdit(item.id)">edit
                </button>
            </td>
            <td>
                <button ng-attr-id="{{'delete-' + item.name}}" class="btn btn-default" ng-click="bsDelete(item.id)">
                    delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>