{{- /* Upon updating this file please ensure that the schema minion-config-schema.yml accurately reflects the keys that
are used by this template. */ -}}
{{if exists "/ipc/rpc/kafka/bootstrap.servers" -}}
!opennms-core-ipc-rpc-jms
opennms-core-ipc-rpc-kafka
{{end -}}