{{- /* Upon updating this file please ensure that the schema minion-config-schema.yml accurately reflects the keys that
are used by this template. */ -}}
#
# DON'T EDIT THIS FILE :: GENERATED WITH CONFD
#
{{$karafSshPath := "/karaf/shell/ssh" -}}
sshPort={{getv (print $karafSshPath "/port") "8201"}}
sshHost={{getv (print $karafSshPath "/host") "127.0.0.1"}}
hostKeyFormat=PEM
sshRealm=karaf
hostKey=${karaf.etc}/host.key