{{- /* Upon updating this file please ensure that the schema minion-config-schema.yml accurately reflects the keys that
are used by this template. */ -}}
{{if exists "/location" -}}
location = {{getv "/location"}}
{{end -}}
{{if exists "/id" -}}
id = {{getv "/id"}}
{{end -}}
{{if exists "/broker-url" -}}
broker-url = {{getv "/broker-url"}}
{{end -}}
{{if exists "/http-url" -}}
http-url = {{getv "/http-url"}}
{{end -}}