{{range $idx, $elm := ls "/process-env/java-opts" -}}
{{if not $idx -}}
#
# DON'T EDIT THIS FILE :: GENERATED WITH CONFD
#
JAVA_OPTS=
    {{- range $index, $element := getvs "/process-env/java-opts/*" -}}
        {{- if $index}} {{end -}}
        {{- $element -}}
    {{- end}}
{{end -}}
{{end -}}
