#
# DON'T EDIT THIS FILE :: GENERATED WITH CONFD
#
org.osgi.service.http.port={{getv "/jetty/web/port" "8181"}}
org.ops4j.pax.web.listening.addresses={{getv "/jetty/web/host" "0.0.0.0"}}
javax.servlet.context.tempdir=${karaf.data}/pax-web-jsp
org.ops4j.pax.web.config.file=${karaf.etc}/jetty.xml