#
# DON'T EDIT THIS FILE :: GENERATED WITH CONFD
#
sshPort={{getv "/karaf/shell/ssh/port" "8201"}}
sshHost={{getv "/karaf/shell/ssh/host" "127.0.0.1"}}
hostKeyFormat=PEM
sshRealm=karaf
hostKey=${karaf.etc}/host.key