<project xmlns="http://maven.apache.org/POM/4.0.0" schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <groupId>org.opennms</groupId>
  <parent>
    <artifactId>opennms</artifactId>
    <groupId>org.opennms</groupId>
    <version>1.3.1-SNAPSHOT</version>
  </parent>
  <modelVersion>4.0.0</modelVersion>
  <artifactId>opennms-@module.id@</artifactId>
  <name>@module.name@</name>
  <packaging>@module.packaging@</packaging>
  <dependencies>
    @module.dependencies@
  </dependencies>
  <build>
    <plugins>
      <plugin>
	<groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-antrun-plugin</artifactId>
	<version>1.1-SNAPSHOT</version>
        <dependencies>
          <dependency>
            <groupId>ant</groupId>
            <artifactId>ant-nodeps</artifactId>
            <version>1.6.5</version>
            <scope>runtime</scope>
          </dependency>
          <dependency>
            <groupId>ant-contrib</groupId>
            <artifactId>cpptasks</artifactId>
            <version>1.0b3</version>
            <scope>runtime</scope>
          </dependency>
        </dependencies>
        <executions>
          <execution>
            <phase>compile</phase>
            <configuration>
              <tasks>
		<ant>
			<property name="java.home" value="${java.home}"/>
			<property name="build.postgresql.include.dir" value="${build.postgresql.include.dir}"/>
			<property name="build.rrdtool.include.dir" value="${build.rrdtool.include.dir}"/>
			<property name="build.rrdtool.lib.dir" value="${build.rrdtool.lib.dir}"/>
                        <reference refid="maven.dependency.classpath"/>
		</ant>
              </tasks>
            </configuration>
            <goals>
              <goal>run</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
</project>
