<div class="card-body">
    <div class="btn-toolbar pull-right mb-2">
        <button id="action.refresh" class="btn btn-secondary" ng-click="refresh()" title="Refresh list"><i class="fa fa-refresh"></i></button>
    </div>
    <div ng-show="groups.length == 0">No groups defined.</div>
    <pagination model="query" ng-show="groups.length > 0" position="bottom" on-change="refresh">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
                <th class="col-md-1 text-nowrap">Priority</th>
                <th class="col-md-3 text-nowrap">Name</th>
                <th class="col-md-5 text-nowrap">Description</th>
                <th class="col-md-1 text-nowrap">Editable</th>
                <th class="col-md-2 text-nowrap">Enabled</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex" ng-repeat="group in groups" data-row="{{group.name}}">
                <td class="col-md-1 text-nowrap">{{group['priority']}}</td>
                <td class="col-md-3 text-nowrap">{{group['name']}}</td>
                <td class="col-md-5 text-nowrap">{{group['description']}}</td>
                <td class="col-md-1 text-nowrap">{{!group['readOnly']}}</td>
                <td class="col-md-2 text-nowrap">
                    <toggle id="action.{{group.name}}.toggle" size="btn-sm" ng-model="group['enabled']" ng-change="updateGroup(group)"></toggle>
                </td>
            </tr>
            </tbody>
        </table>
    </pagination>
</div>