<div>
    <div class="col" ng-class="{'col-md-12': isClassificationCollapsed, 'col-md-9': !isClassificationCollapsed}">
        <ul id="tabs" class="nav nav-tabs">
            <li role="presentation" ui-sref-active="active">
                <a ui-sref="classifications.config" data-name="settings">Settings</a>
            </li>

            <li role="presentation" ui-sref-active="active" ng-repeat="group in groups">
                <a ui-sref="classifications.group({'id': group.id, 'group': group})" title="{{group.description}}" data-name={{group.name}}>
                    {{group.name | capitalize}} Rules <span class="badge badge-primary" title="{{group.ruleCount}} defined rules">{{group.ruleCount}}</span>
                </a>
            </li>
        </ul>
        <div class="panel" ui-view>
        </div>
    </div>

    <button id="action.classification.toggle" class="btn btn-default"
            style="position: absolute; right: 30px; z-index: 1000"
            ng-click="isClassificationCollapsed = !isClassificationCollapsed"
            title="{{isClassificationCollapsed ? 'Test classification' : 'Collapse classification panel'}}">
        <i class="fa" ng-class="{'fa-magic': isClassificationCollapsed, 'fa-caret-right': !isClassificationCollapsed}"/>
    </button>

    <div id="classification-tab" class="col-md-3" class="collapse" uib-collapse="isClassificationCollapsed">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a>Test Classification</a>
                </li>
            </ul>
        </div>
        <div class="panel">
            <div class="panel-default panel-body">
                <div class="col-md-12">
                    <form name="classifyForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="classify-protocol">Protocol</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text"
                                       id="classify-protocol"
                                       name="classify-protocol"
                                       ng-model="classificationRequest.protocol"
                                       placeholder="tcp"
                                       typeahead-min-length="0"
                                       uib-typeahead="protocol.keyword for protocol in protocols | filter:$viewValue"
                                       typeahead-editable="false"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="classify-ipAddress">IP Address</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="classify-ipAddress" name="classify-ipAddress" placeholder="127.0.0.1" ng-model="classificationRequest.ipAddress"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="classify-port">Port</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="classify-port" name="classify-port" placeholder="80" ng-model="classificationRequest.port"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="alert alert-danger" ng-show="error">{{error}}</span>
                                <span id="classification-response" ng-show="classificationResponse" title="Based on the current set of rules, the given flow would be mapped to" class="badge">{{classificationResponse}}</span>
                                <button type="submit" class="btn btn-primary pull-right" id="classification-submit" ng-click="classify(classificationRequest)" ng-disabled="classifyForm.$invalid || !fullyDefined()">Classify</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
