<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="opennms-remoting" version="2.4"
                 xmlns="http://java.sun.com/xml/ns/j2ee"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
                 
  <display-name>opennms-remoting</display-name>

  <!--  This is used by the Spring Log4jConfigListener <listener> below -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>

  <!--  This is used by the Spring ContextLoaderListener <listener> below -->
  <!--
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        /WEB-INF/applicationContext-spring-security.xml
        /WEB-INF/applicationContext-jersey.xml
    </param-value>
  </context-param>
  -->

  <context-param>
    <param-name>parentContextKey</param-name>
    <param-value>pollerBackEndContext</param-value>
  </context-param>

  <listener>
    <!-- This listener handles our custom startup/shutdown behavior. -->
    <listener-class>org.opennms.web.InitializerServletContextListener</listener-class>
  </listener>

  <!--
    Log4jConfigListener must come after InitializerServletContextListener
    because the opennms.webapplogs.dir system property used in log4j.properties
    is set by InitializerServletContextListener.

    However, putting this after InitializerServletContextListener means you
    won't see any of the log messages generated in contextInitialized() in
    InitializerServletContextListener.

    So, if you're getting a 'SEVERE: Error listenerStart' or similar error from
    Tomcat, and the OpenNMS webapp logs don't appear to contain any errors, try
    manually replacing ${opennms.webapplogs.dir} in log4j.properties, and moving
    this listener above InitializerServletContextListener, so you can see the
    messages generated by InitializerServletContextListener.
  <listener>
    <listener-class>org.opennms.web.Log4jConfigListener</listener-class>
  </listener>
  -->

  <listener>
    <!-- This listener handles our custom startup/shutdown behavior. -->
    <listener-class>org.opennms.web.DependencyCheckingContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- servlet for HTTP remoting (Hessian) -->
  <servlet>
    <servlet-name>pollerBackEnd</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- servlet for java webstart -->
  <servlet>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>pollerBackEnd</servlet-name>
    <url-pattern>/pollerBackEnd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <url-pattern>/webstart/*</url-pattern>
  </servlet-mapping>

</web-app>
