body {
	background:#b5d0d0;
	color:#285585;
	font-family:Arial;
}
body#home {
	background:url('images/back.png') no-repeat top left #b5d0d0;
	margin-left:150px;
}

a {
	color:#1978cf;
}
a:hover {
	color:#fff;
}
h2, h3, h4 {
	white-space:nowrap;
	margin:1em 0 0 0;
}
#desc {
	white-space:nowrap;
	font-size:1em;
}
#map {
	border-radius:.125em;
	border:2px solid #1978cf;
	box-shadow: 0 0 8px #999;
	float:left;
	width:600px;
	height:400px;	
}
ul {
	font-size:.85em;
	margin:0;
	padding:0;
}
li {
	margin:0 0 2px 18px;
}
#post-it {
	width:9em;
	height:9em;
	margin-left:2em;
	padding:1em;
	float:left;
	background:#fbf5bf;
	border:1px solid #c6bb58;
	box-shadow: 2px 2px 6px #999;
	color:#666;
}
#copy {
	position:fixed;
	top:-.85em;
	right:3em;
	color:#00c;
	background:#fff;
	border-radius:.5em;
	box-shadow: 0 0 6px #888;	
	padding:1em .5em .25em .5em;
	z-index:4000;
	font-size:small;
	filter: alpha(opacity=70);
	-khtml-opacity: .7;
	-moz-opacity: .7;
	opacity: .7;		
}
#content {
	float:left;
	margin:0 3em 3em 0;	
}
#refs {
	float:left;
	margin:0 3em 3em 0;	
}
#comments {
	clear:both;
}

