/** Add css rules here for your application. */
/*
button {
  display: block;
  font-size: 16pt;
  margin-top: 10px;
}
*/

P {
	margin-bottom: 10px;
}

.widePanel {
  width: 100%
}

IMG {
  margin-top: 20px;
}

/* Provide a background image */
BODY {
	background-color: #c9dfc9;
	background-image: url('../images/logo-background.gif');
	background-repeat: repeat-x; 
}

.transparent-background {
	background-color: transparent;
}

.accordion-panel {
	padding: 10px;
}

.check-success-icon { 
	background: url('../images/greentick.gif') no-repeat center left !important; 
}

.check-failure-icon { 
	background: url('../images/redcross.gif') no-repeat center left !important; 
}

.check-progress-icon { 
	background: url('../images/indicator.gif') no-repeat center left !important; 
}
