
# OPENNMS: Change port to 8201
sshPort=8201
# OPENNMS: Restrict SSH to localhost only
sshHost=127.0.0.1
# OPENNMS: Use PEM format since we generate the key after 
# package installation using ssh-keygen
hostKeyFormat=PEM
sshRealm=karaf
hostKey=${karaf.etc}/host.key

