<?xml version="1.0" encoding="utf-8"?>
<!-- JNLP File for SwingSet2 Demo Application -->
<jnlp
  spec="1.5+"
  codebase="$$codebase"
  href="$$name">
  <information>
    <title>OpenNMS Remote Poller</title>
    <vendor>The OpenNMS Group</vendor>
    <shortcut online="false">
      <desktop/>
      <menu submenu="My Corporation Apps"/>
    </shortcut>
  </information>
  <!-- security>
      <all-permissions/>
  </security -->
  <resources>
    <j2se version="1.5+"/>
    $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp> 
