#
# Comma separated list of features repositories to register by default
#
featuresRepositories=mvn:org.opennms.container/karaf/${project.version}/xml/features,mvn:org.opennms.karaf/opennms/${project.version}/xml/features

#
# Comma separated list of features to install at startup
#
#karaf-framework,shell,features,service-security,admin,config,ssh,management,kar,deployer,diagnostic,\
featuresBoot=karaf-framework,ssh,config,features,management,\
  http,\
  http-whiteboard,\
  deployer,\
  opennms-topology-runtime-browsers,\
  opennms-topology-runtime-linkd,\
  opennms-topology-runtime-simple,\
  opennms-topology-runtime-vmware,\
  osgi-nrtg-local,\
  vaadin-node-maps,\
  vaadin-snmp-events-and-metrics, \
  vaadin-dashboard, \
  dashlet-summary, \
  dashlet-alarms, \
  dashlet-map, \
  dashlet-image, \
  dashlet-charts, \
  dashlet-rtc, \
  dashlet-rrd, \
  dashlet-ksc, \
  dashlet-topology, \
  dashlet-url, \
  dashlet-surveillance, \
  vaadin-surveillance-views, \
  jmxconfiggenerator.webui
