<div ng-controller="MinionListCtrl">

	<!-- Modal form for adding filters -->
	<div id="filterModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<!-- Filter form -->
					<label>Add Filter:</label>
					<form class="form-inline" onSubmit="$('#filterModal').modal('hide')" ng-submit="addSearchClause(clause)">
						<div class="form-group">
						<select class="form-control" ng-model="clause.property" ng-init="clause.property = 'id'">
							<option value="id">ID</option>
							<option value="label">Label</option>
							<option value="location">Location</option>
							<option value="status">Status</option>
							<option value="lastUpdated">Last Updated</option>
						</select>
						<select class="form-control" ng-model="clause.operator" ng-init="clause.operator = 'EQ'">
							<option value="EQ">=</option>
							<option value="NE">!=</option>
							<option value="LT">&lt;</option>
							<option value="LE">&lt;=</option>
							<option value="GT">&gt;</option>
							<option value="GE">&gt;=</option>
						</select>
						<input class="form-control" type="text" ng-model="clause.value"/>
						</div>
						<br/><br/>
						<button class="btn btn-default" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Filter list -->
	<nav class="navbar navbar-default">
		<div class="navbar-brand" style="padding: 16.5px 15px !important; line-height:12px;">
			Filters&nbsp;&nbsp;
			<a onClick="$('#filterModal').modal()"><i class="fa fa-plus fa-lg"></i></a>
			&nbsp;
			<a ng-click="clearSearch()"><i class="fa fa-ban fa-lg"></i></a>
		</div>
		<span ng-hide="searchClauses.length == 0">
			<span ng-repeat="clause in searchClauses">
				<div class="btn-group">
					<!-- TODO: Make the filter captions pretty -->
					<button class="btn btn-primary navbar-btn" style="margin:8px 0px;" ng-click="removeSearchClause(clause)">
						{{clause.property}}
						{{clause.operator}}
						{{clause.value}}
						&nbsp;
						<i class="fa fa-close"></i>
					</button>
				</div>
			</span>
		</span>
	</nav>

	<br/>

	<!-- Paging controls -->
	<!--
	<div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;&nbsp;First</a>
			</div>
			<div class="btn-group">
				<a class="btn btn-default"><i class="fa fa-play fa-flip-horizontal"></i>&nbsp;&nbsp;Previous</a>
			</div>
	
			<div class="btn-group">
				<a class="btn btn-default">1</a>
				<a class="btn btn-default">2</a>
				<a class="btn btn-default">3</a>
				<a class="btn btn-default">4</a>
				<a class="btn btn-default">5</a>
			</div>

			<div class="btn-group pull-right">
				<a class="btn btn-default">Last&nbsp;&nbsp;<i class="fa fa-forward"></i></a>
			</div>
			<div class="btn-group pull-right">
				<a class="btn btn-default">Next&nbsp;&nbsp;<i class="fa fa-play"></i></a>
			</div>
			<div class="pull-right">
				<h5>Items 50 - 80 (10423 total)</h5>
			</div>
		</div>
	</div>

	<br/>
	-->

	<div class="panel panel-default">
		<!--
		<div class="panel-heading">
			<h3 class="panel-title">Minion Systems</h3>
		</div>
		-->
		<!-- The style is here to override a weird Chrome user agent stylesheet issue -->
		<table class="table table-bordered table-striped" style="font-size:100%">
			<tbody>
				<tr>
					<th class="col-sm-2">
						<a ng-click="changeOrderBy('id')">ID</a>
						<i ng-show="orderBy === 'id' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'id' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2">
						<a ng-click="changeOrderBy('label')">Label</a>
						<i ng-show="orderBy === 'label' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'label' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2">
						<a ng-click="changeOrderBy('location')">Location</a>
						<i ng-show="orderBy === 'location' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'location' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1">
						<a ng-click="changeOrderBy('type')">Type</a>
						<i ng-show="orderBy === 'type' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'type' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1">
						<a ng-click="changeOrderBy('status')">Status</a>
						<i ng-show="orderBy === 'status' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'status' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2">
						<a ng-click="changeOrderBy('lastUpdated')">Last Updated</a>
						<i ng-show="orderBy === 'lastUpdated' && order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="orderBy === 'lastUpdated' && order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2">
						Properties
					</th>
				</tr>

				<tr ng-repeat="minion in minions">
					<td class="text-nowrap">
						{{minion.id}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'id',operator:'EQ',value:minion.id})"><i class="fa fa-plus-square-o"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'id',operator:'NE',value:minion.id})"><i class="fa fa-minus-square-o"/></a>
					</td>
					<td class="text-nowrap">
						<form ng-show="enableEditLabel" ng-submit="update(minion)" style="margin: 0;">
							<input class="form-control input-sm" type="text" ng-model="minion.label" ng-blur="unedit()"/>
						</form>
						<span ng-hide="enableEditLabel" ng-click="editLabel(minion.id)">{{minion.label}}</span>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'label',operator:'EQ',value:minion.label})"><i class="fa fa-plus-square-o"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'label',operator:'NE',value:minion.label})"><i class="fa fa-minus-square-o"/></a>
					</td>
					<td class="text-nowrap">
						<form ng-show="enableEditLocation" ng-submit="update(minion)" style="margin: 0;">
							<input class="form-control input-sm" type="text" ng-model="minion.location" ng-blur="unedit()"/>
						</form>
						<span ng-hide="enableEditLocation" ng-click="editLocation(minion.id)">{{minion.location}}</span>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'location',operator:'EQ',value:minion.location})"><i class="fa fa-plus-square-o"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'location',operator:'NE',value:minion.location})"><i class="fa fa-minus-square-o"/></a>
					</td>
					<td class="text-nowrap">
						{{minion.type}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'type',operator:'EQ',value:minion.type})"><i class="fa fa-plus-square-o"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'type',operator:'NE',value:minion.type})"><i class="fa fa-minus-square-o"/></a>
					</td>
					<td class="text-nowrap">
						{{minion.status}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'status',operator:'EQ',value:minion.status})"><i class="fa fa-plus-square-o"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'status',operator:'NE',value:minion.status})"><i class="fa fa-minus-square-o"/></a>
					</td>
					<td class="text-nowrap">
						{{minion.lastUpdated | date:'MMM d, yyyy h:mm:ss a'}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'lastUpdated',operator:'GE',value:minion.lastUpdated})"><i class="fa fa-toggle-left"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'lastUpdated',operator:'LE',value:minion.lastUpdated})"><i class="fa fa-toggle-right"/></a>
					</td>
					<td class="text-nowrap">
						<span ng-repeat="(key,value) in minion.properties">
						<span class="label label-default">
							{{key}}: {{value}}
						</span>&nbsp;
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
