<h1 style="font-weight:bold;">Minion Systems</h1>

<div ng-controller="MinionListCtrl">

	<!-- Filter form -->
	<form class="form-inline" style="font-weight:bold;" ng-submit="addSearchClause(clause)">
		<span>Filter:</span>
		<select class="form-control" ng-model="clause.property" ng-init="clause.property = 'id'">
			<option value="id">ID</option>
			<option value="label">Label</option>
			<option value="location">Location</option>
			<option value="status">Status</option>
			<option value="lastUpdated">Last Updated</option>
		</select>
		<select class="form-control" ng-model="clause.operator" ng-init="clause.operator = 'EQ'">
			<option value="EQ">=</option>
			<option value="NE">!=</option>
			<option value="LT">&lt;</option>
			<option value="LE">&lt;=</option>
			<option value="GT">&gt;</option>
			<option value="GE">&gt;=</option>
		</select>
		<input class="form-control" type="text" ng-model="clause.value"/>
		<button class="btn btn-default" type="submit">Submit</button>
		<a class="btn btn-default" ng-click="clearSearch()">Clear filters</a>
	</form>

	<!-- Filter list -->
	<span ng-hide="searchClauses.length == 0">
		<span style="font-weight:bold;">Filters:</span>
		<span ng-repeat="clause in searchClauses">
			<div class="btn-group">
				<button class="btn btn-primary">
					{{clause.property}}
					{{clause.operator}}
					{{clause.value}}
				</button>
				<button class="btn btn-primary" ng-click="">X</button>
			</div>
		</span>
		<br/><br/>
	</span>


	<!-- Filter list -->
	<div class="panel panel-default">
		<!--
		<div class="panel-heading">
			<h3 class="panel-title">Minion Systems</h3>
		</div>
		-->
		<!-- The style is here to override a weird Chrome user agent stylesheet issue -->
		<table class="table table-bordered table-striped" style="font-size:100%">
			<tbody>
				<tr>
					<th class="col-sm-2">ID</th>
					<th class="col-sm-2">Label</th>
					<th class="col-sm-2">Location</th>
					<th class="col-sm-1">Type</th>
					<th class="col-sm-1">Status</th>
					<th class="col-sm-2">Last Updated</th>
					<th class="col-sm-2">Properties</th>
				</tr>

				<tr ng-repeat="minion in minions">
					<td class="text-nowrap">{{minion.id}}</td>
					<td class="text-nowrap">
						<form ng-show="enableEditLabel" ng-submit="update(minion)" style="margin: 0;">
							<input class="form-control input-sm" type="text" ng-model="minion.label" ng-blur="unedit()"/>
						</form>
						<span ng-hide="enableEditLabel" ng-click="editLabel(minion.id)">{{minion.label}}</span>
					</td>
					<td class="text-nowrap">
						<form ng-show="enableEditLocation" ng-submit="update(minion)" style="margin: 0;">
							<input class="form-control input-sm" type="text" ng-model="minion.location" ng-blur="unedit()"/>
						</form>
						<span ng-hide="enableEditLocation" ng-click="editLocation(minion.id)">{{minion.location}}</span>
					</td>
					<td class="text-nowrap">{{minion.type}}</td>
					<td class="text-nowrap">{{minion.status}}</td>
					<td class="text-nowrap">{{minion.lastUpdated | date:'MMM d, yyyy h:mm:ss a'}}</td>
					<td class="text-nowrap">
						<span ng-repeat="(key,value) in minion.properties">
						<span class="label label-default">
							{{key}}: {{value}}
						</span>&nbsp;
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
