.gitignore
!/.gitignore
\#*#
*~
.swp
.*.swp
.swp
.gwt
.gwt-tmp
target
.classpath
.externalToolBuilders
.project
.settings
.springBeans
.vscode
.DS_Store
build.properties
*.iml
*.iws
*.ipr
.launch
.*launch
nb-configuration.xml
.idea
.jqwik-database
dependency-reduced-pom.xml
npm-debug.log
yarn-error.log
/core/web-assets/node_modules
/features/discovery/activemq-data
/features/topology-map/org.opennms.features.topology.app/www-test/
/opennms-alarms/jms-northbounder/activemq-data/
ui/dist/
ui/node_modules/
ui/package-lock.json
ui/devConfig.ts
.circleci/main.yml

# jansi downloads a native lib on osx sometimes
/maven/**/*.jnilib

# Ignore Visual Studio Code
.factorypath
# Ignore Docker/OCI temporary files
.docker_temp*
*.oci
opennms-container/*/rpms/*.repo
opennms-container/*/rpms/*.rpm
opennms-container/*/tarball/*.tar.gz

# Python
*.pyc
__pycache__

# Antora artifacts
/build/
/public/

# Ignore jenv local version files
.java-version

# Ignore secure vault
opennms-base-assembly/src/main/filtered/etc/scv.jce

core/web-assets/.eslintcache
