# This file sets the properties for generating and saving licence keys
# Rename to productkeys.properties and fill in default values for build to work

# Maven Repository where the generated licence specification will be deployed
# The generated licence authenticator will be deployed in the normal opennms repo
# NOTE use maven settings.xml in production for passwords project NOT Url basic auth http://admin:admin123@localhost
licenceSpecRepo=http://admin:admin123@localhost:28081/nexus/content/repositories/osgi-plugins-licence-specs
licenceSpecSnapshotRepo=http://admin:admin123@localhost:28081/nexus/content/repositories/osgi-plugins-licence-specs-snapshots

# Product name, version and groupId for generated licence artifacts
# The licence will be accessed using the featureId subscriptionName/subscriptionVersion
subscriptionName=Meridian2017
subscriptionVersion=1.1.0-SNAPSHOT
subscriptionGroupId=org.opennms.authenticator
subscriptionCheckEnabled=true

# Subscription licence will be regenerated on each build. 
# Set this false once you have a permanent licence generated and deployed to a repo
regenerateSubscription=true

#org.opennms.subscription.groupid=org.opennms.plugin
#org.opennms.subscription.artifactid=Meridian2017
#org.opennms.subscription.version=1.0.0-SNAPSHOT