# This file sets the properties for generating and saving licence keys
# Rename to productkeys.properties and fill in default values for build to work

# Product name, version and groupId for generated licence artifacts
# The licence will be accessed using the featureId subscriptionName/subscriptionVersion
subscriptionName=Meridian2017
subscriptionVersion=1.0.0-SNAPSHOT
subscriptionGroupId=org.opennms.authenticator
subscriptionCheckEnabled=true

# if true Subscription licence will be regenerated on each build. 
# Set this false once you have a permanent licence generated and deployed to a repo
regenerateSubscription=true
