<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
">

  <tx:annotation-driven />
  <context:annotation-config />


  <bean id="remotePollerPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="properties">
      <props>
        <prop key="gwt.geocoder.class">org.opennms.features.poller.remote.gwt.server.geocoding.NullGeocoder</prop>
        <prop key="gwt.apikey"></prop>
      </props>
    </property>
  </bean>
  
  <bean id="apiKey" class="java.lang.String">
    <constructor-arg value="${gwt.apikey}" />
  </bean>

  <bean id="geocoder" class="${gwt.geocoder.class}" />

  <bean id="locationDataService" class="org.opennms.features.poller.remote.gwt.server.DefaultLocationDataService" />

  <bean id="locationDataManager" class="org.opennms.features.poller.remote.gwt.server.LocationDataManager">
    <property name="locationDataService" ref="locationDataService" />
  </bean>

<!-- Don't need this anymore since we update the locations and applications on a schedule 
  <bean id="locationBroadcastProcessor" class="org.opennms.features.poller.remote.gwt.server.LocationBroadcastProcessor" />
 -->
  <!--
  <bean name="locationEventListenerAdapter" class="org.opennms.netmgt.events.api.AnnotationBasedEventListenerAdapter">
    <property name="annotatedListener" ref="locationBroadcastProcessor" />
    <property name="eventSubscriptionService" ref="eventSubscriptionService" />
  </bean>
  -->

</beans>
