<div ng-controller="QuickSearchCtrl">

	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
		<input autofocus class="form-control input-lg" type="text" ng-model="query.q"/>
	</div>

	<br/>

	<div class="text-center">
		<div class="btn-group" style="margin:0px 0px 0px 0px">
			<!-- <button style="outline: none" type="button" class="btn btn-default" ng-class="{active:query.nodes}" ng-click="query.nodes = !query.nodes">Nodes</button> -->
			<button style="outline: none" type="button" class="btn btn-default" ng-class="{active:query.alarms}" ng-click="query.alarms = !query.alarms">Alarms</button>
			<button style="outline: none" type="button" class="btn btn-default" ng-class="{active:query.events}" ng-click="query.events = !query.events">Events</button>
			<button style="outline: none" type="button" class="btn btn-default" ng-class="{active:query.notifications}" ng-click="query.notifications = !query.notifications">Notifications</button>
		</div>
	</div>

	<div ng-show="query.alarms &amp;&amp; alarms.length > 0">
		<h4>Alarms <i ng-click="query.alarms = false" class="fa fa-close fa-lg"/></h4>

		<div class="row">
			<div class="col-sm-6 col-md-4" ng-repeat="item in alarms">
				<a href="alarm/detail.htm?id={{::item.id}}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">#{{::item.id}}: {{::item.logMessage | stripTags}}</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt ng-repeat-start="(key, value) in getKeyFields(item, ['nodeLabel', 'lastEventTime', 'severity'])">
									{{::key}}:
								</dt>
								<dd ng-repeat-end class="typeahead">
									<span ng-bind-html="value | stripTags | uibTypeaheadHighlight:query.q"></span>
								</dd>
							</dl>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div ng-show="query.events &amp;&amp; events.length > 0">
		<h4>Events <i ng-click="query.events = false" class="fa fa-close fa-lg"/></h4>

		<div class="row">
			<div class="col-sm-6 col-md-4" ng-repeat="item in events">
				<a href="event/detail.jsp?id={{::item.id}}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">#{{::item.id}}: {{::item.logMessage | stripTags}}</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt ng-repeat-start="(key, value) in getKeyFields(item, [ 'nodeLabel', 'severity', 'time' ])">
									{{::key}}:
								</dt>
								<dd ng-repeat-end class="typeahead">
									<span ng-bind-html="value | stripTags | uibTypeaheadHighlight:query.q"></span>
								</dd>
							</dl>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div ng-show="query.notifications &amp;&amp; notifications.length > 0">
		<h4>Notifications <i ng-click="query.notifications = false" class="fa fa-close fa-lg"/></h4>

		<div class="row">
			<div class="col-sm-6 col-md-4" ng-repeat="item in notifications">
				<a href="notification/detail.jsp?id={{::item.notifyId}}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">#{{::item.notifyId}}: {{::item.logMessage | stripTags}}</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt ng-repeat-start="(key, value) in getKeyFields(item, [ 'nodeLabel' ])">
									{{::key}}:
								</dt>
								<dd ng-repeat-end class="typeahead">
									<span ng-bind-html="value | stripTags | uibTypeaheadHighlight:query.q"></span>
								</dd>
							</dl>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<br/>

</div>
