<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:onms="http://xmlns.opennms.org/xsd/spring/onms"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://xmlns.opennms.org/xsd/spring/onms http://xmlns.opennms.org/xsd/spring/onms/onms.xsd
    ">
    
    <onms:service id="testDaemon" class="org.opennms.spring.xml.TestDaemon">
        <property name="attr" value="attrFromBeansFile" />
    </onms:service>
    
</beans>
