<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ROOT" version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>

  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
		 
  <display-name>OpenNMS ROOT</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/pagenotfound.jsp</location>
  </error-page>
</web-app>
