body {margin:0 1px 0 0;padding:0;font:.80em verdana, sans-serif;background:#FFF;color:#000000;text-align:center;float:center;}
div#container{width:760px;float:center;text-align:left;margin:0 auto;float:center;}
img {border: none;}
hr {display:none}
div#header {font-size:.80em;border-bottom:0px solid #DFDFDF;background:#FFF;color:#CCC;}
div#colonna-sx {float:left;width:174px;background:#FFF;color:#000;border-color:#DFDFDF;border-left-width:1px;}
#colonna-sx .box {padding:10px;height:284px;border-color:#DFDFDF;border-bottom-width:1px;border-left-width:1px;}
#colonna-dx .box {padding:	0px;width: 167px;}
#colonna-dx { margin-right: -1px; }
div#principale {float:left;width:586px;background:#FFF;color:#000;margin:0 0 -1px 0;}
div#principale .box {border-style:none solid solid solid;border-color:#DFDFDF;border-bottom-width:1px;border-right-width:1px;border-left-width:1px;border-top-width:0px;padding:10px;border-top:0px solid #DFDFDF;min-height:450px !important;}
#footer {clear:left;border-top:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;padding:1px 10px;background:#FFF;color:#FFF;font-size:.80em;line-height:1em;text-align:center;}
.selected{background-color:#FFE0C1;color:black;text-decoration: none;padding-left: 0em;}
p.head {font-weight:bold;}
p.delimitato {border:0px solid silver;padding-top:0px;padding-bottom:0px}
p.delimitato span {font-weight:lighter;color:#0000FF;}
.table-row-dispari *{background: #FFFFFF;border-top: 0px solid silver;}
.table-row-pari *{background:#EFEFEF; border-top:opx solid silver;}
table.list {border:1px solid #ccc;border-collapse:collapse;margin-top:10px;width:100%;}
div.left-elenco {border:none;float:left;margin:0;padding:0;width: 50%;text-align:left;}
div.right-elenco {border:none;float:right;margin:0;padding:0;width:50%;text-align:left;}
a:link{color:black;text-decoration: none;}
a:visited{color:black;text-decoration: none;}
a:hover{color:black;text-decoration:none;}
fieldset {border:1px solid #DFDFDF;}
ul.menu {margin:0 0 0 0;padding:0 0 0 0;list-style:none;list-style-type:none;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;background-color:#ffffff;color:#0060FF;font-weight:bold;}
ul.menu ul {margin:0;padding:0;list-style:none;list-style-type:none;font-weight:normal;}
ul.menu li{margin:0;padding: 0px 5px 0px 3px;}
ul.menu a{padding:0px 5px 0px 3px;color:#000000;background-color:#ffffff;text-decoration:none;}
ul.menu a:visited{padding:0px 5px 0px 3px;color:#000000;background-color:#ffffff;text-decoration:none;}
ul.menu a:hover{padding:0px 5px 0px 3px;color:#FFFFFF;background:url(../img/hover-bg.gif) no-repeat left top;text-decoration:none;}
ul.menu ul a{padding:0px 5px 0px 10px;color:#000000;background-color:#ffffff;text-decoration:none;}
ul.menu ul a:visited{padding:0px 5px 0px 10px;color:#000000;background-color:#ffffff;text-decoration:none;}
ul.menu ul a:hover{padding:0px 5px 0px 10px;color:#FFFFFF;background:url(../img/hover-bg.gif);text-decoration:none;}
a.arrowr{display:block;background-image:url(../img/right0.gif);width:20px; height:20px}
a.arrowr:hover{background-image:url(../img/right2.gif);}
a.arrowl{display:block;background-image:url(../img/left0.gif);width:20px; height:20px}
a.arrowl:hover{background-image:url(../img/left2.gif);}
div.lista div{float:left;width:28%;width:33%;width:28%;padding:0 2%}
div.clearer{float:none;clear:none}
div.scorr{overflow: uto;width:100%;height:250px;}
.selectmultiple{height:150px;}
.pulsanti{margin-top:200px;}
input{border:1px solid #808080;}
input:focus{border: 1px solid #808080;background-color:#DFFAFF;}
submit{border:1px solid #808080;background-color:#ffffff;}
select{border:1px solid #808080;}
div#headerCenter{text-align:center;}
#tabsF {float:left;width:760px;background:#ffffff;font-size:93%;line-height:normal;border-bottom:1px solid #666;}
#tabsF ul {margin:0;padding:3px 10px 3px 10px;list-style:none;}
#tabsF li {display:inline;margin:0;padding:0;}
#tabsF a {float:left;background:url(../img/tableftF.gif) no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none;}
#tabsF a span {float:left;display:block;background:url(../img/tabrightF.gif) no-repeat right top;padding:5px 15px 4px 6px;color:#666;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsF a span {float:none;}
/* End IE5-Mac hack */
#tabsF a:hover span {color:#FFF;}
#tabsF a:hover {background-position:0% -42px;}
#tabsF a:hover span {background-position:100% -42px;}
.calendario {vertical-align: bottom;}
.prog-border {height:15px;width:205px;background:url(../img/normal.png);border: px solid #000;margin:0;padding:0;}
.prog-bar {height:11px;margin:2px;padding:0px;background:url(../img/active.png);}