src/main/webapp/META-INF
src/main/webapp/WEB-INF/configuration.properties
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/log4j.properties
src/main/webapp/WEB-INF/version.properties
bin
node_modules
tomcat
www-test
war
.gwt
/target/
