<div ng-controller="ListCtrl">
<div ng-controller="NotificationListCtrl">

	<!-- Modal form for adding filters -->
	<div id="filterModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<!-- Filter form -->
					<label>Add Filter:</label>
					<form class="form-inline" onSubmit="$('#filterModal').modal('hide')" ng-submit="addSearchClause(clause)">
						<div class="form-group">
						<select class="form-control" ng-model="clause.property" ng-init="clause.property = 'notifyId'" ng-change="updateClauseValue(clause.property)">
							<option ng-repeat="property in searchProperties" value="{{::property.id}}">{{::property.name}}</option>
						</select>
						<select class="form-control" ng-model="clause.operator" ng-init="clause.operator = 'EQ'">
							<option value="EQ">=</option>
							<option value="NE">!=</option>
							<option value="LT">&lt;</option>
							<option value="LE">&lt;=</option>
							<option value="GT">&gt;</option>
							<option value="GE">&gt;=</option>
						</select>
						<span ng-if="clauseValues.length === 0">
							<input class="form-control" type="datetime-local"    ng-model="clause.value" ng-if="getSearchProperty(clause.property).type === 'TIMESTAMP'"/>
							<input class="form-control" type="text"              ng-model="clause.value" ng-if="getSearchProperty(clause.property).type === 'STRING' || getSearchProperty(clause.property).type === 'IP_ADDRESS'"
								placeholder="Type to search..."
								uib-typeahead="value for value in getSearchPropertyMatches(clause.property, $viewValue)"
							/>
							<input class="form-control" type="number"            ng-model="clause.value" ng-if="getSearchProperty(clause.property).type === 'INTEGER' || getSearchProperty(clause.property).type === 'LONG'"/>
							<input class="form-control" type="number" step="any" ng-model="clause.value" ng-if="getSearchProperty(clause.property).type === 'FLOAT'"/>
							<span ng-if="getSearchProperty(clause.property).iplike" class="label label-default">IPLIKE</span>
							<span ng-if="loadingSearchProperties">
								<i class="fa fa-spinner fa-spin fa-lg fa-fw"/>
							</span>
						</span>
						<select class="form-control" ng-model="clause.value" ng-if="clauseValues.length !== 0" ng-options="value.id as value.name for value in clauseValues"/>
						</div>
						<br/><br/>
						<button class="btn btn-default" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal help window -->
	<div id="helpModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<!-- Filter form -->
					<h3>Help</h3>

					<h4>Filtering</h4>
					<p>
						Click on the <i class="fa fa-search-plus"></i> icon to filter the list. You can match a portion of a value by using
						the * character as a wildcard value. Click on the <i class="fa fa-ban"> icon to clear all filters.</i>
					</p>

					<h4>Filter by Example</h4>
					<p>
						You can click on the <i class="fa fa-plus-square-o"></i> icon next to a value to only show rows that contain that value. 
						If you click on the <i class="fa fa-minus-square-o"></i> icon, it will remove rows with that value from the results.
						For timestamp values, clicking on the <i class="fa fa-toggle-left"></i> icon will show timestamps newer than the specified
						value and clicking on the <i class="fa fa-toggle-right"></i> icon will show timestamps older than the value.
					</p>

					<h4>Sorting</h4>
					<p>Click on a column header to sort by that column. Click the same column again to reverse the sort order.</p>

					<h4>Items per Page</h4>
					<p>You can change the number of items per page by entering a numeric value in the <i class="fa fa-th-list"></i> box.</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Filter list -->
	<div class="well well-sm">
		<span class="h4" style="line-height:2.8;">
			Filters&nbsp;&nbsp;
			<a onClick="$('#filterModal').modal()"><i class="fa fa-search-plus fa-lg"></i></a>
			&nbsp;
			<a onClick="$('#helpModal').modal()"><i class="fa fa-question-circle fa-lg"></i></a>
			&nbsp;
			<a ng-click="clearSearch()"><i class="fa fa-ban fa-lg"></i></a>
			&nbsp;
		</span>
		<div class="btn-group" style="margin:3px">
			<button type="button" class="btn btn-default {{getSearchClause(ackClause) != null ? 'active' : ''}}" ng-click="replaceSearchClause(unackClause, ackClause)">Acknowledged</button>
			<button type="button" class="btn btn-default {{getSearchClause(unackClause) != null ? 'active' : ''}}" ng-click="replaceSearchClause(ackClause, unackClause)">Unacknowledged</button>
			<button type="button" class="btn btn-default {{(!getSearchClause(ackClause) &amp;&amp; !getSearchClause(unackClause)) ? 'active' : ''}}" ng-click="removeSearchClauses([getSearchClause(ackClause), getSearchClause(unackClause)])">All</button>
		</div>
		<span ng-hide="query.searchClauses.length == 0 || !searchPropertiesLoaded">
			<span ng-repeat="clause in query.searchClauses" ng-if="!clauseEquals(clause, ackClause) &amp;&amp; !clauseEquals(clause, unackClause)">
				<div class="btn-group" style="margin:3px;">
					<button class="btn btn-primary" ng-click="removeSearchClause(clause)">
						{{clause.property | property : searchProperties}}
						{{clause.operator | operator : clause.value}}
						{{clause.value | value : searchProperties : clause.property}}
						&nbsp;
						<i class="fa fa-close"></i>
					</button>
				</div>
			</span>
		</span>
	</div>

	<!-- Paging controls -->
	<div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn btn-default {{(query.offset-query.limit) &lt; 0 ? 'disabled' : ''}}" ng-click="setOffset(0)">
					<i class="fa fa-backward"></i>&nbsp;&nbsp;First
				</a>
			</div>
			<div class="btn-group">
				<a class="btn btn-default {{(query.offset-query.limit) &lt; 0 ? 'disabled' : ''}}" ng-click="setOffset(query.offset-query.limit)">
					<i class="fa fa-play fa-flip-horizontal"></i>&nbsp;&nbsp;Previous
				</a>
			</div>

			<div class="btn-group">
				<a class="btn btn-default" ng-click="setOffset(query.offset-(3*query.limit))" ng-hide="(query.offset-(3*query.limit)) &lt; 0" style="width:5em;">
					{{(query.offset/query.limit) - 2}}
				</a>
				<a class="btn btn-default" ng-click="setOffset(query.offset-(2*query.limit))" ng-hide="(query.offset-(2*query.limit)) &lt; 0" style="width:5em;">
					{{(query.offset/query.limit) - 1}}
				</a>
				<a class="btn btn-default" ng-click="setOffset(query.offset-query.limit)" ng-hide="(query.offset-query.limit) &lt; 0" style="width:5em;">
					{{query.offset/query.limit}}
				</a>
				<a class="btn btn-default active" ng-show="query.maxOffset &gt; 0" style="width:5em;">
					{{(query.offset/query.limit) + 1}}
				</a>
				<a class="btn btn-default" ng-click="setOffset(query.offset+query.limit)" ng-hide="(query.offset+query.limit) &gt; query.maxOffset" style="width:5em;">
					{{(query.offset/query.limit) + 2}}
				</a>
				<a class="btn btn-default" ng-click="setOffset(query.offset+(2*query.limit))" ng-hide="query.offset+(2*query.limit) &gt; query.maxOffset" style="width:5em;">
					{{(query.offset/query.limit) + 3}}
				</a>
				<a class="btn btn-default" ng-click="setOffset(query.offset+(3*query.limit))" ng-hide="query.offset+(3*query.limit) &gt; query.maxOffset" style="width:5em;">
					{{(query.offset/query.limit) + 4}}
				</a>
			</div>

			<div class="pull-right">
				<!-- Add 1 to each offset since they are zero-based -->
				<form class="form-inline" ng-submit="setLimit(query.newLimit)">
					<div class="input-group" style="margin-left:10px;">
						<span class="input-group-addon"><i class="fa fa-th-list"></i></span>
						<input class="form-control" type="number" ng-model="query.newLimit"/>
					</div>

					<div class="btn-group" style="margin-left:5px;">
						<a class="btn btn-default {{(query.offset+query.limit) &gt; query.maxOffset ? 'disabled' : ''}}" ng-click="setOffset(query.offset + query.limit)">
							Next&nbsp;&nbsp;<i class="fa fa-play"></i>
						</a>
					</div>

					<div class="btn-group" style="margin-left:5px;">
						<a class="btn btn-default {{(query.offset+query.limit) &gt; query.maxOffset ? 'disabled' : ''}}" ng-click="setOffset(1000000000)">
							Last&nbsp;&nbsp;<i class="fa fa-forward"></i>
						</a>
					</div>
				</form>
			</div>

			<h5 class="pull-right" ng-show="query.maxOffset &lt; 0">No items found.</h5>
			<h5 class="pull-right" ng-show="query.maxOffset &gt;= 0">{{query.offset === query.lastOffset ? "Item " + (query.offset + 1) : "Items " + (query.offset + 1) + " - " + (query.lastOffset + 1)}} ({{query.maxOffset + 1}} total)</h5>
		</div>
	</div>

	<br/>

	<div class="panel panel-default">
		<!-- The style is here to override a weird Chrome user agent stylesheet issue -->
		<table class="table table-bordered severity" style="font-size:100%">
			<tbody>
				<tr>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('notifyId')">ID</a>
						<i ng-show="query.orderBy === 'notifyId' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'notifyId' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('event.id')">Event ID</a>
						<i ng-show="query.orderBy === 'event.id' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'event.id' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('event.eventSeverity')">Severity</a>
						<i ng-show="query.orderBy === 'event.eventSeverity' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'event.eventSeverity' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('pageTime')">Sent Time</a>
						<i ng-show="query.orderBy === 'pageTime' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'pageTime' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('answeredBy')">Responder</a>
						<i ng-show="query.orderBy === 'answeredBy' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'answeredBy' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-1 text-nowrap">
						<a ng-click="changeOrderBy('respondTime')">Response Time</a>
						<i ng-show="query.orderBy === 'respondTime' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'respondTime' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2 text-nowrap">
						<a ng-click="changeOrderBy('node.label')">Node</a>
						<i ng-show="query.orderBy === 'node.label' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'node.label' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2 text-nowrap">
						<a ng-click="changeOrderBy('ipAddress')">IP Address</a>
						<i ng-show="query.orderBy === 'ipAddress' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'ipAddress' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
					<th class="col-sm-2 text-nowrap">
						<a ng-click="changeOrderBy('serviceType.name')">Service</a>
						<i ng-show="query.orderBy === 'serviceType.name' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
						<i ng-show="query.orderBy === 'serviceType.name' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
					</th>
				</tr>

				<tr ng-repeat-start="item in items" class="{{getSeverityClass(item.severity)}}">
					<td class="text-nowrap" style="line-height:24px;" rowspan="2">
						<input type="checkbox" ng-checked="selectedNotifications.indexOf(item.id) >= 0" ng-click="toggleNotificationSelection(item.id)"/>
						{{::item.id}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'notifyId',operator:'EQ',value:item.id})"><i class="fa fa-plus-square-o fa-lg"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'notifyId',operator:'NE',value:item.id})"><i class="fa fa-minus-square-o fa-lg"/></a>
					</td>
					<td class="text-nowrap" style="line-height:24px;" rowspan="2">
						{{::item.eventId}}
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'event.id',operator:'EQ',value:item.eventId})"><i class="fa fa-plus-square-o fa-lg"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'event.id',operator:'NE',value:item.eventId})"><i class="fa fa-minus-square-o fa-lg"/></a>
					</td>
					<td class="text-nowrap bright" style="line-height:24px;" rowspan="2">
						{{getPrettySeverity(item.severity)}}
						<!-- TODO: Convert item.severity to an integer -->
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'event.eventSeverity',operator:'EQ',value:item.severity})"><i class="fa fa-plus-square-o fa-lg"/></a>
						<a style="text-decoration: none;" ng-click="addSearchClause({property:'event.eventSeverity',operator:'NE',value:item.severity})"><i class="fa fa-minus-square-o fa-lg"/></a>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.pageTime | isNotEmpty">
							{{::item.pageTime | date:'MMM d, yyyy h:mm:ss a'}}
							<a style="text-decoration: none;" ng-click="addEpochTimestampSearchClause({property:'pageTime',operator:'GE',value:item.pageTime})"><i class="fa fa-toggle-left fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addEpochTimestampSearchClause({property:'pageTime',operator:'LE',value:item.pageTime})"><i class="fa fa-toggle-right fa-lg"/></a>
						</span>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.answeredBy | isNotEmpty">
							{{::item.answeredBy}}
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'answeredBy',operator:'EQ',value:item.answeredBy})"><i class="fa fa-plus-square-o fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'answeredBy',operator:'NE',value:item.answeredBy})"><i class="fa fa-minus-square-o fa-lg"/></a>
						</span>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.respondTime | isNotEmpty">
							{{::item.respondTime | date:'MMM d, yyyy h:mm:ss a'}}
							<a style="text-decoration: none;" ng-click="addEpochTimestampSearchClause({property:'respondTime',operator:'GE',value:item.respondTime})"><i class="fa fa-toggle-left fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addEpochTimestampSearchClause({property:'respondTime',operator:'LE',value:item.respondTime})"><i class="fa fa-toggle-right fa-lg"/></a>
						</span>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.nodeLabel !== null">
							<a href="element/node.jsp?node={{::item.nodeId}}" title="{{::item.nodeLabel}}">{{::item.nodeLabel}}</a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'node.id',operator:'EQ',value:item.nodeId})"><i class="fa fa-plus-square-o fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'node.id',operator:'NE',value:item.nodeId})"><i class="fa fa-minus-square-o fa-lg"/></a>
						</span>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.ipAddress | isNotEmpty">
							<a href="element/interface.jsp?node={{::item.nodeId}}&amp;intf={{::item.ipAddress}}">{{::item.ipAddress}}</a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'ipAddress',operator:'EQ',value:item.ipAddress})"><i class="fa fa-plus-square-o fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'ipAddress',operator:'NE',value:item.ipAddress})"><i class="fa fa-minus-square-o fa-lg"/></a>
						</span>
					</td>
					<td class="text-nowrap" style="line-height:24px;">
						<span ng-show="item.serviceType !== null &amp;&amp; item.serviceType.name !== null">
							<a href="element/service.jsp?node={{::item.nodeId}}&amp;intf={{::item.ipAddress}}&amp;service={{::item.serviceType.id}}">{{::item.serviceType.name}}</a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'serviceType.name',operator:'EQ',value:item.serviceType.name})"><i class="fa fa-plus-square-o fa-lg"/></a>
							<a style="text-decoration: none;" ng-click="addSearchClause({property:'serviceType.name',operator:'NE',value:item.serviceType.name})"><i class="fa fa-minus-square-o fa-lg"/></a>
						</span>
					</td>
				</tr>
				<tr ng-repeat-end class="{{getSeverityClass(item.severity)}}">
					<td colspan="6">{{::item.textMessage}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button type="button" ng-click="selectedNotifications = []" class="btn btn-default">Reset</button>
	<button type="button" ng-click="selectAllNotifications()" class="btn btn-default">Select All</button>
	<button type="button" ng-click="acknowledgeSelectedNotifications()" class="btn btn-default">Acknowledge Notices</button>
	<br/><br/>
</div>
</div>
