.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
/* 	background-clip: padding-box; */
	border-radius: 20px;
	color: white;
	text-shadow: 1px 1px 2px #000;
	}
.marker-cluster div {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	/*margin-top: -37px;*/
    position: absolute;
    top: 8px;
	text-align: center;
	border-radius: 12px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 24px;
	}
	
.Cleared {
	fill: #999;
	stroke: #999;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Normal {
	fill: #336600;
	stroke: #336600;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Minor{
	fill: #FF9900;
	stroke: #FF9900;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Major{
	fill: #FF3300;
	stroke: #FF3300;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Warning{
	fill: #FFCC00;
	stroke: #FFCC00;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Indeterminate{
	fill: #999000;
	stroke: #999000;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Critical{
	fill: #CC0000;
	stroke: #CC0000;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Cleared:hover {
	fill: #999;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Normal:hover {
	fill: #336600;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Minor:hover {
	fill: #FF9900;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Major:hover {
	fill: #FF3300;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Warning:hover {
	fill: #FFCC00;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Indeterminate:hover {
	fill: #999000;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Critical:hover {
	fill: #CC0000;
	opacity: 1.0;
	stroke-opacity: 1.0;
}