{{$snmp2In1Key := "/snmp/snmp4j/org.opennms.snmp.snmp4j.allowSNMPv2InV1" -}}
{{if exists $snmp2In1Key -}}
org.opennms.snmp.snmp4j.allowSNMPv2InV1={{getv $snmp2In1Key}}
{{end -}}

{{$jaegerAgentHostKey := "/tracing/jaeger-agent-host" -}}
{{if exists $jaegerAgentHostKey -}}
# Enable Tracing
JAEGER_AGENT_HOST={{getv $jaegerAgentHostKey}}
{{end -}}
