table.dashboard {
	border-collapse: separate;
}

td.dashletCell {
	vertical-align: top;
	border: none;
	background-color: inherit;
	padding: 0;
	margin: 0;
}


table.dashboard table {
	margin: 0;
	border-collapse: collapse;
}

table.dashboard table > tbody > tr > td {
	padding: 0;
	margin: 0;
}

table.dashboard table > tbody > tr.CellStatus > td.selected {
	background-color: #5D7CBA;
}

table.dashboard table > tbody > tr > td.divider {
	border-top-width: 2px;
	padding: 4px 5px;
}

table.dashboard table > tbody > tr > td.bright {
	padding-left: 20px;
}

table.dashboard table > tbody > tr.CellStatus > td {
	background-position:left top;
	background-repeat:repeat-y;
	padding-left:20px;
}

.gwt-Label {
	padding: 4px 5px;
}

.dashletLoader {
	padding: 0px 5px;
}

.pagerLeft {
	text-align: right;
      cursor: pointer;
}

.pagerText {
	text-align: center;
}

.pagerRight {
	text-align: left;
      cursor: pointer;
}

table.pager td {
	border-style: none;
}

tr.header td.selected {
	background-color: #5D7CBA;
}

tr.header td {
	line-height: normal;
	background-color:#444444;
	border:1px solid #999999;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 5px;
	text-align:left;
}

.gwt-DialogBox {
	left: 200px;
	top: 200px;
	width: 50%;
	border-style: outset;
	border-width: 2;
}

.gwt-DialogBox table {
	padding: 0;
	margin: 0;
}

.gwt-DialogBox td {
	padding: 0;
	margin: 0;
}

.gwt-DialogBox .Caption {
	background-color:#366903;
    background-image:url(../images/headingbg.png);
    background-position:center;
    background-repeat:repeat-x;
    border-style:none;
    color:#FFFFFF;
    margin-bottom:0pt;
    margin-top:7px;
    padding:6px;
    line-height: normal;
    font-weight: bold;
}

.gwt-DialogBox .Message {
	padding: 4px 5px;
}

.gwt-DialogBox .Button {
	text-align: right;
	padding: 4px 5px;
}

table.dashletTitlePanel td {
	background-color:#366903;
    background-image:url(../images/grid-paging-background-1x24.png);
    background-position:center;
    background-repeat:repeat-x;
    border-style:none;
    color:#FFFFFF;
    margin-bottom:0pt;
    margin-top:7px;
    padding:6px;
    line-height: normal;
    font-weight: bold;
}

td#surveillanceView table tbody tr td table tbody tr.header td {
      cursor: pointer;
}

td#surveillanceView table tbody tr td table tbody tr.CellStatus td {
      cursor: pointer;
}
