div.onms h2 {
	font-size: 80%
}

h3.o-box {
	background-image: url(../images/headingbg.png);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #366903;
	color: #FFF;
	border:1px solid #999;
	border-bottom: 0;
	margin-bottom: 0;
	margin-top: 7px;
	font-size: 70%;
	padding: 6px;
} 

table.o-box th {
    font-weight: bold;
    padding:4px 5px;
    text-align:left;
}

table.o-box td.bright, table.o-box tr.CellStatus td {
    padding-left: 20px;
}

table.o-box td {
    padding-top:4px;
    padding-bottom:4px;
    padding-right: 5px;
    padding-left: 5px;
}

table.o-box {
    border-collapse:collapse;
    margin-bottom:10px;
    margin-top:0;
    width:100%;
}

