/*
 Modifications:

 2006 Apr 25: Added table.wdth600
 2005 Oct 01: More CSS work. -- DJ Gregor  
 2005 Sep 30: Hacked up heavily to use CSS for layout and markup.  Some code
              (particularly #nav bits) provided by Mike Huot. -- DJ Gregor
 
 */

/* height and width stuff, width not really neccesary. */
a {
	color: #366903;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
	color: #000;
	font-family: "Lucida Grande", Verdana, sans-serif;
}
p, td, th, li {
	font-size:70%;
	line-height: 1.5em;
}
p {
	margin: 0 0 7px 0;
}
form {
	margin: 0;
}
.right {
	text-align: right;
}
hr {
	visibility: hidden;
	margin: 0;
	padding: 0;
	height: 0;
}
h1 {
	margin: 0;
	padding: 10px 20px;
}
h2 {
	margin: 0;
	font-size: 80%;
}
h3 {
	background-image: url(../images/headingbg.png);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #366903;
	color: #FFF;
	border:1px solid #999;
	border-bottom: 0;
	margin-bottom: 0;
	margin-top: 7px;
	font-size: 70%;
	padding: 6px;
} 
h3 a {
	color: #FFF;
}
ul.plain {
	list-style-type: none;
	margin:0;
	padding:0px;
}
ul.plain li { 
	line-height:1.3em;
}
div.boxWrapper {
	background-color: #FFF;
	border: 1px solid #999;
	padding: 5px 7px;
}


/* Widget Box Body */
.widget-box
{
	background: #cccccc;    
}


/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
.widget-box-fieldname
{
	background: #999999; 
}

#eventlist tr.eventlist-head {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #999999;
}

#eventlist tr.eventlist-odd
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: white;
}
#eventlist tr.eventlist-even
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #cccccc;
}


#nav, #nav ul	/* all lists */
{
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 11em;
}

#nav li /* all list items */
{
	position: relative;
	float: left;
	line-height: 1.25em;
	margin-bottom: -1px;
	width: 11em;
}
	
#nav li ul/* second-level lists */
{
	position: absolute;
	left: -999em;
	margin-left: 11.05em;
	margin-top: 0em;
	margin-bottom: 3px;
}

#nav li ul ul	/* third-and-above-level lists */
{
	left: -999em;
}

#nav li a
{
	width: 11em;
	w\idth: 10em;
	display: block;
	text-decoration: none;
	background-color: white;
	border: 1px solid #c9dfc9;
	padding: 0 0.5em;
}

#nav li a:hover
{
	color: #cccccc;
	background-color: black;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}
	
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul	/* lists nested under hovered list items */
{
	left: auto;
}

#content
{
	background-image: url(../images/mainbg.png);
	background-repeat: repeat-x;
	background-color: #EEE;
	margin: 0;
	padding: 15px 20px 30px 20px;
}

.navbar ul
{ 
	list-style: none;
	display: inline;
}


.navbar li
{ 
	padding: 0 10px 5px 0;
	list-style: none;
	display: inline;
	color: #999;
}

#linkbar
{
	padding: 0 0 1em 0;
}

#linkbar ul
{ 
	list-style: none;
	display: inline;
	padding: 0 0 0 0;
}

#linkbar li
{ 
	list-style: none;
	display: inline;
	padding-right: 0.75em;
}

div.standard
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	margin-top: 0;
}

table.wdth600 { 
	width: 600px;
}

td.standardnavlinks
{
        width: 25%;
}

td.standardwarning
{
        background-color: cyan;
}

.bold {
	font-weight: bold;
}

td {
	border: 1px solid #999;
	padding: 5px 6px;
	background-color: #FFF;
}
td.status1 {
	background-color: #C7DBAF;
}
th {
	border:1px solid #999;
	padding: 5px 6px;
	background-color: #444;
	font-weight: bold;
	text-align: left;
	color: #FFF;
}

#nodelist table
{ 
        width: 100%;
        border: 0;
}

#nodelist td
{
        padding: 2px;
	width: 50%;
}

td.availnode
{ 
        text-align: left;
        vertical-align: top;
        width: 25%;
	border: 2pt solid black;
	padding: 2px;
}

td.availunmanaged
{
	background-color: #cccccc;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availgood
{
	background-color: green;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availwarn
{
	background-color: #ffff33;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availcrit
{
	background-color: #ff3333;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

#eventlist
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

#include-eventlist td.sev_indeterminate
{
	background-color: lightblue;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_cleared
{
	background-color: white;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_normal
{
        background-color: green;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_warning
{
        background-color: cyan;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_minor
{
        background-color: yellow;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_major
{
        background-color: orange;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_critical
{
        background-color: red;
	border: 2pt solid black;
	padding: 2px;
}

#include-charts
{ 
	text-align: center;
	clear: both;
}

#graph-results
{ 
	text-align: center;
}

/*#graph-results-periods td */

#graph-results .periods td
{ 
  width: 80px;
  text-align: center;
}

#header {
	margin: 0;
	background-color:#333;
	background-image: url(../images/headerbg.png);
	background-repeat: repeat-x;
	color: #FFF;
}
#header a {
	color:#FFF;
}

#headertop { 
}

div.spacer
{
        clear: both;
        height: 1px;
}

div.center
{
        text-align: center;
}

#headerlogo
{
	width: 30%;
	float: left;
	padding: 6px 2px 6px 2px;
}

#headerlogo a img
{
	border: none;
}

#headertitle
{
	width: 50%;
	float: left;
	font-weight: bold;
	text-align: center;
	height: 82px;
	line-height: 82px;
	vertical-align: middle;
}

#headerinfo
{
	margin: 10px 20px;
	float: right;
	text-align: right;
}

#headerdate {
	float: right;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}

#headernavbarleft
{
        clear: both;
        float: left;
        padding: 2px;
}

#headernavbarright
{
	float: right;
	padding: 2px 2px 5px 2px;
}

#contentleft {
	width: 48%;
	float: left;
}

#contentleft td
{
        padding: 2px;
}

#contentright
{
        width: 48%;
        float: right;
}

#index-contentleft
{
        width: 24%;
        float: left;
        padding-left: 1%;
}

#index-contentmiddle
{
        width: 48%;
        float: left;
        padding-left: 1%;
}

#index-contentright
{
        width: 24%;
        float: right;
        padding-left: 1%;
        padding-right: 1%;
}

#footer {
	clear: both;
	text-align: center;
	padding: 30px 2px 2px 2px;
	background-image: url(../images/footerbg.png);
	background-repeat: repeat-x;
}

#copyright
{
	text-align: center;
	padding: 3px;
}
