/*
 Modifications:

 2006 Aug 22: A few CSS tweaks - Note that we're overriding font size and margin within
              tables to make things a bit more readable. In general we should be removing HTML
              from event descriptions - need to fix this
 2006 Apr 25: Added table.wdth600
 2005 Oct 01: More CSS work. -- DJ Gregor  
 2005 Sep 30: Hacked up heavily to use CSS for layout and markup.  Some code
              (particularly #nav bits) provided by Mike Huot. -- DJ Gregor
 
 */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Header
:: Navigation
:: Layout (Onms Column Layout)
:: Tables
:: Treeview from UL/LI -- currently only in the scheduled outage page
:: List Styles
:: Main Page content
:: Onms Panel (the o-box)
:: Onms Panel (the boxWrapper, want to remove eventually)
:: Standard Forms
:: Custom Form Styles
:: Typography
:: Pagination
:: Page Specifics
:: Image
:: Footer
:: Misc.
*/

/*  --------------------------------------------------
    :: Global Reset & Standards
    -------------------------------------------------- */
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        border: 0;
        vertical-align: baseline;
    }
    
    p, td, th, li {
	    font-size: 70%;
	    line-height: 1.25em;
	}
    
    li li { 
   	font-size: 100%; 
    }
 
    p {
        margin: 0 0 7px 0;
    }
    
    p.noBottomMargin {
	    margin-bottom: 0px;
	}
    a {
        color: #366903;
        text-decoration:none;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    body { background: #fff; font-family: "Lucida Grande", Verdana, sans-serif;  }
    
/*  --------------------------------------------------
    :: Header
    -------------------------------------------------- */
    #header {
	    position: relative;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	    background-image: url(../images/headerbg.png);
	    background-repeat: repeat-x;
	    color: #FFF;
	    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	}
	#header a {
	    color:#FFF;
	}
	
	h1#headerlogo {
	    position: absolute;
	    z-index: 2;
	    margin: 0;
	    padding: 0;
	    left: 15px;
	    top: 13px;
	}
	#headerinfo {
	    position: relative;
	    margin: 0px;
	    padding: 10px;
	    text-align: right;
	}
/*  --------------------------------------------------
    :: Navigation
    -------------------------------------------------- */
    /*Top Level Nav in the Grey Header area */
    .navbar ul{ 
        list-style: none;
        display: inline;
    }
		
    .navbar li{ 
        padding: 0 10px 5px 0;
		list-style: none;
		display: inline;
		color: #999;
	}
	
	#linkbar{ padding: 0 0 1em 0; }
	#linkbar ul{ list-style: none; display: inline; padding: 0 0 0 0; }
	#linkbar li{ list-style: none; display: inline; padding-right: 0.75em; }
	
	#headernavbarright {
	    position: relative;
	    float: right;
	    padding: 2px 0px 5px 0px;
	}
	
/*  --------------------------------------------------
    :: Layout (Onms Column Layout)
    -------------------------------------------------- */
    
	div.TwoColLeft {
	    width: 40%;
	    float: left;
	    position: relative;
	    margin-right: 2%;
	}
	div.TwoColRight {
	    width: 57%;
	    float: left;
	    position: relative;
	}
	
	div.TwoColLAdmin  {
	        width: 40%;
	        float: left;
	        position: relative;
	    margin-right: 2%;
	}
	
	div.TwoColRAdmin {
	        width: 58%;
	        float: left;
	        position: relative;
	}
/*  --------------------------------------------------
    :: Tables
    -------------------------------------------------- */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    table.o-box{ margin-bottom:0px; }
    
    td.bright { padding-left: 20px; background-position: top left; background-repeat: repeat-y; }
    
    tr.CellStatus td { padding-left: 20px; background-position: top left; background-repeat: repeat-y; }
	tr.CellStatus td.Critical{ background-color: #F5CDCD; border-top: 2px solid #CC0000 !important; background-image: url(../images/bgCritical.png); }
	tr.CellStatus td.Major{ background-color: #FFD7CD; border-top: 2px solid #FF3300 !important; background-image: url(../images/bgMajor.png); }
	tr.CellStatus td.Minor{ background-color: #FFEBCD; border-top: 2px solid #FF9900 !important; background-image: url(../images/bgMinor.png); }
	tr.CellStatus td.Warning{ background-color: #FFF5CD; border-top: 2px solid #FFCC00 !important; background-image: url(../images/bgWarning.png); }
	tr.CellStatus td.Indeterminate{ background-color: #EBEBCD; border-top: 2px solid #999000 !important; background-image: url(../images/bgIndeterminate.png); }
	tr.CellStatus td.Normal{ background-color: #D7E1CD; border-top: 2px solid #336600 !important; background-image: url(../images/bgNormal.png); }
	tr.CellStatus td.Cleared { background-color: #EEE; border-top: 2px solid #999 !important; background-image: url(../images/bgCleared.png); }
        tr.CellStatus td.nobright { background-image: none;}
    
    tr.Critical td { background-color: #F5CDCD; }
	tr.Critical td.divider { border-top: 2px solid #CC0000 !important; }
	tr.Critical td.bright { background-image: url(../images/bgCritical.png); }
	
	tr.Major td { background-color: #FFD7CD; }
	tr.Major td.divider { border-top: 2px solid #FF3300 !important; }
	tr.Major td.bright { background-image: url(../images/bgMajor.png); }
	
	tr.Minor td { background-color: #FFEBCD; }
	tr.Minor td.divider { border-top: 2px solid #FF9900 !important; }
	tr.Minor td.bright { background-image: url(../images/bgMinor.png); }
	
	tr.Warning td { background-color: #FFF5CD; }
	tr.Warning td.divider { border-top: 2px solid #FFCC00 !important; }
	tr.Warning td.bright { background-image: url(../images/bgWarning.png); }
	
	tr.Indeterminate td { background-color: #EBEBCD; }
	tr.Indeterminate td.divider { border-top: 2px solid #999900 !important; }
	tr.Indeterminate td.bright { background-image: url(../images/bgIndeterminate.png); }
	
	tr.Normal td { background-color: #D7E1CD; }
	tr.Normal td.divider { border-top: 2px solid #336600 !important; }
	tr.Normal td.bright { background-image: url(../images/bgNormal.png); }
	
	tr.Cleared td { background-color: #EEE; }
	tr.Cleared td.divider { border-top: 2px solid #999 !important; }
	tr.Cleared td.bright { background-image: url(../images/bgCleared.png); }
    
    table.onms-table{ margin-bottom: 0px; }
    
    td td { font-size: 100%; }
    
    td div.clip {
	    margin:0; 
	    padding:0; 
	    height:1.5em; 
	    overflow:hidden;
	}
	
	th {
	    border:1px solid #999;
	    padding: 4px 5px;
	    background-color: #444;
	    font-weight: bold;
	    text-align: left;
	    color: #FFF;
	}
	th a {
	    text-decoration: underline;
	    color: #FFF;
	}
	th a:hover {
	    color: #CCC;
	}
	/*Conflicting style*/
	td {
	    border: 1px solid #999;
	    padding: 4px 5px;
	    background-color: #FFF;
	}
	
	td td, td p {
	    font-size: 100%;
	    margin: 0;
	    padding: 0px;
	}
	
	.onms-table td{
	    background: #ffffff;
	}
    
    /* This is stupid needs to be consolidated or removed */
    table.top {
	    width: auto;
	    border: none;
	    background-color: transparent;
	    vertical-align: top;
	}
	table.top td {
	    border: none;
	    background-color: transparent;
	    vertical-align: top;
	}
	
	table.normal {
	    width: auto;
	    font-size: 100%;
	}
	table.normal td {
	    border: none;
	    background-color: transparent;
	    font-size: 70%;
	}
	
	td.normal {
	    border: none;
	    background-color: transparent;
	}
	/*end stupid styles */
	
/*  --------------------------------------------------
   :: Treeview from UL/LI -- currently only in the scheduled outage page
   -------------------------------------------------- */
	.treeview
	{
	    list-style-type: none;
	    font-size: 120%;
	    padding-left: 0;
	}
	
	.treeview ul li
	{
	    list-style-type: none;
	    font-size: 100%;
	    margin-left: -2em;
	}
	
/*  --------------------------------------------------
    :: List Styles
    -------------------------------------------------- */
	ul.plain {
	    list-style-type: none;
	    margin:0;
	    padding:0px;
	}
	ul.plain li { 
	    line-height:1.6em;
	}
    
/*  --------------------------------------------------
    :: Main Page content
    -------------------------------------------------- */
    #content {
	    position: relative;
	    background-image: url(../images/mainbg.png);
	    background-repeat: repeat-x;
	    background-color: #EEE;
	    margin: 0;
	    padding: 15px 20px 30px 20px;
	}
/*  --------------------------------------------------
    :: Onms Panel (the o-box)
    -------------------------------------------------- */
	div.o-box {
	    overflow: auto;
	    margin-top: 7px;
	}
	
	div.o-box .border{
	   background-color: white;
	   border: 1px solid #999;
       border-top: 0;
	}
	
	div.o-box h3{
	    background-image: url(../images/headingbg.png);
	    background-repeat: repeat-x;
	    background-position: center center;
	    background-color: #366903;
	    color: white;
	    margin-bottom: 0;
	    margin-top: 0px;
	    font-size: 70%;
	    padding: 6px;
	    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	}
	
	div.o-box-spacer{
        padding: 4px 6px;
    }
	
	div.o-box.slim{
	    padding:0px;
	}
	
	h3 a{
	    color: white;
	}
	
	h3.o-box-header{
	    background-image: url(../images/headingbg.png);
	    background-repeat: repeat-x;
	    background-position: center center;
	    background-color: #366903;
	    color: white;
	    margin-bottom: 0;
	    margin-top: 0px;
	    font-size: 70%;
	    padding: 6px;
	    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	}
	
	h3.o-box-header a{
	    color: white;
	}
	
/*  --------------------------------------------------
    :: Onms Panel (the boxWrapper, want to remove eventually)
    -------------------------------------------------- */	
	div.boxWrapper {
	    background-color: #FFF;
	    border: 1px solid #999;
	    border-top: 0;
	    padding: 4px 6px;
	    overflow: auto;
	}
	
/* -----------------------------------------
   Standard Forms
----------------------------------------- */
    input.input-text, textarea, select { display: inline; }
    
    form {
	    margin: 0;
	}
	input, select {
	    font-family: "lucida grande", verdana, sans-serif;
	    font-size: 70%;
	}
	p input, p select, li input, li select, td input, td select {
	    font-size: 100%;
	}
	.right {
	    text-align: right;
	}
	hr {
	    position: relative;
	    visibility: hidden;
	    margin: 0;
	    padding: 0;
	    height: 0;
	    clear: both;
	}
/* -----------------------------------------
   Custom Form Styles
----------------------------------------- */
	div.formOnly {
	    width:250px; 
	    text-align:right; 
	    margin:0 50px; 
	    padding:50px 0;
	}
	
/* --------------------------------------------------
    :: Typography
    -------------------------------------------------- */
    h2 {
	    margin: 0;
	    font-size: 80%;
	}
	
	h3 {
        background-image: url(../images/headingbg.png);
        background-repeat: repeat-x;
        background-position: center center;
		 background-color: #366903;
		 color: #FFF;
		 border:1px solid #999;
		 border-bottom: 0;
		 margin-bottom: 0;
		 margin-top: 7px;
		 font-size: 70%;
		 padding: 6px;
		text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	}
	
	p h3, td h3 {
	    font-size: 100%;
	}
    
/*     @media handheld, only screen and (max-width: 767px) { */
/*         h1 { font-size: 80%; margin: 0 } */
/*         h2 { font-size: 80%; margin: 0; } */
/*         h3 { font-size: 80%; margin: 0; } */
/*         h4 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; } */
/*         h5 { font-size: 16px; font-size: 1.6rem; line-height: 1.2; } */
/*         h6 { font-size: 15px; font-size: 1.5rem; line-height: 1.2; } */
/*         body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; } */
/*     } */

/* --------------------------------------------------
    :: Pagination
    -------------------------------------------------- */
	pagination {
	        height: 1%; /* IE tweak (holly hack) */
	        width: auto;
	        text-align: right;
	        margin-top: 5px;
	        margin-bottom: 5px;
	        font-size: 90%;
	        float: right;
	}
	
	.pagination span.page-sep {
	        display: none;
	}
	
	li.pagination {
	        margin-top: 0;
	}
	
	.pagination strong, .pagination b {
	    font-weight: normal;
	}
	
	.pagination span strong {
	        font-weight: normal;
	        color: #FFF;
	        background-color: #366903;
	}
	
	.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	        font-weight: normal;
	        text-decoration: none;
	        color: #366903;
	        line-height: 1.5em;
	}
	
	.pagination span a:hover {
	        background-color: #366903;
	        color: #FFF;
	        text-decoration: none;
	}
	
	.pagination img {
	        vertical-align: middle;
	}

/* --------------------------------------------------
    :: Page Specifics
    -------------------------------------------------- */
	/* Event Page Filter style*/
	span.filter {
	    color: #444;
	    border: 1px solid #CCC;
	    background-color: #DDD;
	    padding: 3px 4px;
	}
	
	/* Online Report Page Styles */
	#o-repository-title {
	    background-image: url(../images/headingbg.png);
	    background-repeat: repeat-x;
	    background-position: center center;
	    color: #fff;
	    font-size: 1em;
	    font-weight: bold;
	}
	
	#o-report-subscribe {
	    font-weight: bold;
	    color: #a20200;
	    text-align: center;
	    width:20px;
	}
	
	#o-report-online, #o-report-deliver, #o-report-schedule {
	    width: 24px;
	    height: 24px;
	    vertical-align: middle;
	    text-align: center;
	}
	
	#o-report-online a {
	    background:url(../images/reportOnline_grey.png);
	    background-repeat:no-repeat;
	    width: 24px;
	    height: 24px;
	    display:block;
	}
	
	#o-report-online a:hover {
	    background: url(../images/reportOnline.png);
	}
	
	#o-report-deliver a {
	    background:url(../images/reportDeliver_grey.png);
	    background-repeat:no-repeat;
	    width: 24px;
	    height: 24px;
	    display:block;
	}
	
	#o-report-deliver a:hover {
	    background: url(../images/reportDeliver.png);
	}
	
	#o-report-schedule a {
	    background:url(../images/reportSchedule_grey.png);
	    background-repeat:no-repeat;
	    width: 24px;
	    height: 24px;
	    display:block;
	}
	
	#o-report-schedule a:hover {
	    background: url(../images/reportSchedule.png);
	}
	/*End Online Reporting Styles*/

/* --------------------------------------------------
    :: Image
    -------------------------------------------------- */
	img {
	    border: none;
	}

/* --------------------------------------------------
    :: Footer
    -------------------------------------------------- */
	#footer {
	    clear: both;
	    text-align: center;
	    padding: 30px 2px 2px 2px;
	    background-image: url(../images/footerbg.png);
	    background-repeat: repeat-x;
	}

/* --------------------------------------------------
    :: Misc.
    -------------------------------------------------- */
	#index-contentleft {
	    position: relative;
	    width: 23%;
	    float: left;
	}
	/*Hack remove the below style its a duplicate*/
	#contentleft {
	    width: 48%;
	    position: relative;
	    float: left;
	}
	
	#index-contentmiddle {
	    position: relative;
	    width: 48%;
	    float: left;
	    margin: 0 2%;
	}
	
	#index-contentright {
	    position: relative;
	    width: 24%;
	    float: left;
	}
	
	/*Remove this, and replace with the row and column style*/
	#contentright {
	    width: 48%;
	    float: right;
	    position: relative;
	}
	
	.normal {
	    font-size: 70%;
	    margin: 5px;
	}
	
	.normal p{
	    font-size: 100%;
	}
	
	.noWrap {
	    white-space: nowrap;
	}
	
   div.spacer {
        position: relative;
        clear: both;
        height: 1px;
    }

/* --------------------------------------------------
    :: Style for notification status
    -------------------------------------------------- */
#notificationOff{
	color: #ef2929;
}

#notificationOn{
	color: #73d216;
}
	
/* --------------------------------------------------
    :: Deprecated Styles, Please do not uncomment, these
       will eventually be removed after testing.
    -------------------------------------------------- */

/* td th { */
/* 	font-size: 100%; */
/* } */
/* tr.even td { */
/* 	background-color: #fff; */
/* } */
/* tr.odd td { */
/* 	background-color: #fff; */
/* } */

/*, td h2 {/*
	/* 70% * 114% = 80% */
/*	font-size: 114%;
}*/

/* h3 a { */
/* 	color: #FFF; */
/* } */

/*ul.error {
	list-style-type: none;
	margin:0;
	padding:0px;
}
ul.error li { 
	line-height:1.6em;
	color: #F00;
}
span.error { 
	color: #F00;
}*/

/* div.boxWrapper div.col { */
/* 	margin:  20px auto; */
/* 	width: 50%; */
/* } */

/* Widget Box Body */
/*.widget-box
{
	background: #cccccc;    
}*/

/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
/*.widget-box-fieldname
{
	background: #999999; 
}*/



/* div.standard */
/* { */
/* 	clear: both; */
/* 	padding: 0.1em 1.0em 0.75em 0.75em; */
/* } */


/* aggr.status.table { */
/* 	border-collapse: collapse; */
/* 	width: 33%; */
/* 	margin-top: 0; */
/* } */


/* table.wdth600 {  */
/* 	width: 600px; */
/* } */

/* td.standardnavlinks */
/* { */
/* 	width: 25%; */
/* } */

/* td.standardwarning */
/* { */
/*         background-color: #00FFFF; */
/* } */

/* .bold { */
/* 	font-weight: bold; */
/* } */


/* td.status1 { */
/* 	background-color: #C7DBAF; */
/* } */


/* #nodelist table */
/* {  */
/*         width: 100%; */
/*         border: 0; */
/* } */

/*td.availunmanaged
{
	background-color: #CCC;
	font-weight: bold;
        text-align: right;
}

td.availgood
{
	background-color: green;
	font-weight: bold;
        text-align: right;
}

td.availwarn
{
	background-color: #ffff33;
	font-weight: bold;
        text-align: right;
}

td.availcrit
{
	background-color: #ff3333;
	font-weight: bold;
        text-align: right;
}*/

/*#eventlist
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}*/

/*#include-eventlist td.sev_indeterminate
{
	background-color: #ADD8E6;
	padding: 2px;
}

#include-eventlist td.sev_cleared
{
	background-color: #FFFFFF;
	padding: 2px;
}

#include-eventlist td.sev_normal
{
    background-color: #00FF00;
	padding: 2px;
}

#include-eventlist td.sev_warning
{
    background-color: #00FFFF;
	padding: 2px;
}

#include-eventlist td.sev_minor
{
    background-color: #FFFF00;
	padding: 2px;
}

#include-eventlist td.sev_major
{
        background-color: #FFA500;
	padding: 2px;
}

#include-eventlist td.sev_critical
{
        background-color: #FF0000;
	padding: 2px;
}

#include-charts
{ 
	text-align: center;
	clear: both;
}*/

/*#graph-results
{ 
	text-align: center;
}*/

/*#graph-results-periods td */

/*#graph-results .periods td
{ 
  width: 80px;
  text-align: center;
}*/

/*div.center {
	text-align: center;
}*/



/*#headerdate {
	float: right;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}*/



/*p.pager span {
	display:block; 
	float:right; 
	position:relative;
}*/
/*p.key {
	clear: both;
	text-align: right;
}
p.key img {
	position: relative;
	float:right; 
	margin-left:5px;
}*/



/*.status-critical {
    background-color: red;
    text-align: center
}

.status-warning {
    background-color: yellow;
    text-align: center
}

.status-normal {
    background-color: green;
    text-align: center
}*/


/*#copyright
{
	text-align: center;
	padding: 3px;
}*/

/* Status Colouring */
/*tr.divider td {
	border-top-width: 2px;
}*/
/*td.divider {
	border-top-width: 2px;
}*/





/*tr.CellStatus td.nobright
{
	background-image: none;
}*/

/* Standard form - used for database reports */

/*.stdform {
	margin:0 50px; 
	padding:50px 0;
}

.stdform .label{
	font-size: 100%;
	float: left;
	width: 230px;
	margin-right: 10px;
	text-align: right;
	clear: left;
	display: block;
}

.stdform p select, .stdform p input, .stdform p option, .stdform p options {
	font-size: 100%;
}

.stdform .indent {
	margin-left: 240px;
}*/

