/*
 Modifications:

 2006 Apr 25: Added table.wdth600
 2005 Oct 01: More CSS work. -- DJ Gregor  
 2005 Sep 30: Hacked up heavily to use CSS for layout and markup.  Some code
              (particularly #nav bits) provided by Mike Huot. -- DJ Gregor
 
 */

/* set millions of background images */
.rbroundbox
{
	background: url(../images/nt.gif) repeat;
}

.rbtop div
{
	background: url(../images/tl.gif) no-repeat top left;
}

.rbtop
{
	background: url(../images/tr.gif) no-repeat top right;
}

.rbbot div
{
	background: url(../images/bl.gif) no-repeat bottom left;
}

.rbbot
{
	background: url(../images/br.gif) no-repeat bottom right;
}

/* height and width stuff, width not really neccesary. */
.rbtop div, .rbtop, .rbbot div, .rbbot
{
	width: 100%;
	height: 7px;
	font-size: 1px;
}

.rbcontent
{
	margin: 0 7px;
}

.rbroundbox
{
	width: 100%; margin: 1em auto;
}

/* Color the unvisited and visited links the same blue */
A:link
{
	color: #0000cc
}

A:active
{
	color: #ff0000
}

A:visited
{
	color: #0000cc
}

a.filterLink
{
	color:black;
	text-decoration:none;
}

a.filterLink:visited
{
	color:black;
	text-decoration:none;
}

/* I don't specify the margins here because Netscape 4.x ignores them. */
BODY
{
 	margin: 0px;
  	padding: 0px;
	background:    #ffffff;
	color:         #000000;
}


TD.footer
{
	background:    #c9dfc9;
}



/* Widget Box Body */
.widget-box
{
	background: #cccccc;    
}


/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
.widget-box-fieldname
{
	background: #999999; 
}

#eventlist tr.eventlist-head
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #999999;
}

#eventlist tr.eventlist-odd
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: white;
}
#eventlist tr.eventlist-even
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #cccccc;
}


#nav, #nav ul	/* all lists */
{
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 11em;
}

#nav li		/* all list items */
{
	position: relative;
	float: left;
	line-height: 1.25em;
	margin-bottom: -1px;
	width: 11em;
}
	
#nav li ul	/* second-level lists */
{
	position: absolute;
	left: -999em;
	margin-left: 11.05em;
	margin-top: -1.35em;
}

#nav li ul ul	/* third-and-above-level lists */
{
	left: -999em;
}

#nav li a
{
	width: 11em;
	w\idth: 10em;
	display: block;
	color: black;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	border: 1px solid #c9dfc9;
	padding: 0 0.5em;
}

#nav li a:hover
{
	color: #cccccc;
	background-color: black;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}
	
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul	/* lists nested under hovered list items */
{
	left: auto;
}

#content
{
	margin: 1em;
}

.navbar ul
{ 
	list-style: none;
	display: inline;
}


.navbar li
{ 
	padding: 0 0.2em 0 0.5em;
	border-style: solid;
	border-color: black;
	border-width: 0 1px 0 0;
	list-style: none;
	display: inline;
}

.navbar li.last
{ 
	padding: 0 0.2em 0 0.5em;
	border-style: solid;
	border-color: black;
	border-width: 0 0 0 0;
	list-style: none;
	display: inline;
}

#linkbar
{
	padding: 0 0 1em 0;
}

#linkbar ul
{ 
	list-style: none;
	display: inline;
	padding: 0 0 0 0;
}

#linkbar li
{ 
	list-style: none;
	display: inline;
	padding-right: 0.75em;
}

div.standard
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

table.standardfirst
{ 
        width: 100%;
	border: none;
	border-spacing: 0pt;
	background-color: #cccccc;
	border-collapse: collapse;
        margin-top: 0;
}

table.standard
{ 
        width: 100%;
	background-color: #cccccc;
	border-collapse: collapse;
        margin-top: 1em;
}

table.wdth600
{ 
        width: 600px;
	background-color: #cccccc;
	border-collapse: collapse;
        margin-top: 1em;
}

td.standardheader
{
	background-color: #999999;
	border: 1pt solid black;
	font-weight: bold;
	padding: 2px;
}

td.standardheaderplain
{
	background-color: #999999;
	border: 1pt solid black;
	padding: 2px;
}

td.standardnavlinks
{
        width: 25%;
}

td.standardwarning
{
        background-color: cyan;
}

td.standardbold
{
	border: 1pt solid black;
	padding: 2px;
	font-weight: bold;
}

td.standard
{
	border: 1pt solid black;
	padding: 2px;
}

td.standardmorepadding
{
	border: 1pt solid black;
	padding: 1px 3px 1px 3px;
}

#nodelist table
{ 
        width: 100%;
        border: 0;
}

#nodelist td
{
        padding: 2px;
	width: 50%;
}

/*
#availability-box table.inner
{ 
	margin-top: 0;
}

#availability-box td.header
{
	width: 70%;
	background-color: #999999;
	font-weight: bold;
}

#availability-box td.headerplain
{
	width: 70%;
	background-color: #999999;
}
*/

td.availnode
{ 
        text-align: left;
        vertical-align: top;
        width: 25%;
	border: 1pt solid black;
	padding: 2px;
}

td.availunmanaged
{
	background-color: #cccccc;
	font-weight: bold;
        text-align: right;
	border: 1pt solid black;
	padding: 2px;
}

td.availgood
{
	background-color: green;
	font-weight: bold;
        text-align: right;
	border: 1pt solid black;
	padding: 2px;
}

td.availwarn
{
	background-color: #ffff33;
	font-weight: bold;
        text-align: right;
	border: 1pt solid black;
	padding: 2px;
}

td.availcrit
{
	background-color: #ff3333;
	font-weight: bold;
        text-align: right;
	border: 1pt solid black;
	padding: 2px;
}

#eventlist
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

#include-bookmark
{
}

#include-eventlist td.sev_indeterminate
{
        background-color: lightblue;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_cleared
{
        background-color: white;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_normal
{
        background-color: green;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_warning
{
        background-color: cyan;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_minor
{
        background-color: yellow;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_major
{
        background-color: orange;
	border: 1pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_critical
{
        background-color: red;
	border: 1pt solid black;
	padding: 2px;
}

#include-charts
{ 
	text-align: center;
	clear: both;
}

#graph-results
{ 
	text-align: center;
}

/*#graph-results-periods td */

#graph-results .periods td
{ 
  width: 80px;
  text-align: center;
}

#header
{
        margin-bottom: 2em;
}

#headertop
{ 
        background: url(../images/logo-background.gif) repeat;
/*        height: 82px; */
}

div.spacer
{
        clear: both;
        height: 1px;
}

div.center
{
        text-align: center;
}

#headerlogo
{
        width: 30%;
        float: left;
        padding: 6px 2px 6px 2px;
}

#headerlogo a img
{
	border: none;
}

#headertitle
{
        width: 50%;
        float: left;
	font-weight: bold;
        text-align: center;
        height: 82px;
        line-height: 82px;
        vertical-align: middle;
}

#headerinfo
{
        float: right;
        text-align: right;
	font-weight: bold;
	height: 82px;
}

#headerdate
{
        float: right;
        text-align: right;
	font-weight: bold;
/*        padding-bottom: 4px; */
        vertical-align: middle;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

#headernavbarleft
{
        clear: both;
        float: left;
        padding: 2px;
        font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#headernavbarright
{
	float: right;
        padding: 2px;
        font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#contentleft
{
        width: 48%;
        float: left;
}

#contentleft td
{
        padding: 2px;
}

#contentright
{
        width: 48%;
        float: right;
}

#index-contentleft
{
        width: 24%;
        float: left;
        padding-left: 1%;
}

#index-contentmiddle
{
        width: 48%;
        float: left;
        padding-left: 1%;
}

#index-contentright
{
        width: 24%;
        float: right;
        padding-left: 1%;
        padding-right: 1%;
}

#prefooter
{
        clear: both;
        padding-top: 16px;
}

#footer
{
        text-align: center;
        padding: 2px;
	background-color: #c9dfc9;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

/*
#footer a
{
        padding: 0 0.25em;
	border: 1px solid #ffffff;
}
*/

#copyright
{
        text-align: center;
        padding: 3px;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#autocomplete_choices
{ 
	text-align: left;
	padding: 2px;
	background-color: #b9cfb9;
	border: 1px solid #aaaaaa;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#autocomplete_choices ul
{
	list-style: none;
	display: inline;
}

#autocomplete_choices ul li.selected
{ 
	background-color: #c9dff9;
}

/* for drag-and-drop demos */

div.shopping_demo
{
	height: 110px;
}

img.products
{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	cursor: move;
}

/*  background-color:white;*/
/*  width:500px; */

div.cart
{
	clear: both;
}

#items
{
	padding: 8px;
	border: 1px solid #E8A400;
	height: 132px;
}

#items li
{
	margin-top: 0.5em;
}

#items a
{
	font-size: 10px;
	margin-left: 0.3em;
}

#items a:before
{
	content: "Remove";
}

span.title
{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	font-size: 12px;
	color: #444;
	font-weight: normal;
}

div#wastebin
{
/*	width: 500px; */
	padding: 8px;
	margin-top: 8px;
	height: 25px;
	color: #ccc;
	border: 1px dashed #888;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/*
div.cart img
{
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
*/

div.cart div
{
	font-size: 12px/14px;
	font-weight: normal;
	color: #444;
	clear: left;
}

ul.sortablelist
{
	list-style-image: none;
	list-style-type: none;
	margin-top: 5px;
	margin: 0px;
	padding: 0px;
}

ul.sortabledemo li
{
	padding: 0px;
	margin: 0px;
}

span.handle
{
	background-color: #E8A400;
	color: white;
	cursor: move;
}

li.green
{
	background-color: #ECF3E1;
	border: 1px solid #C5DEA1;
	cursor: move;
}

li.orange
{
	border: 1px solid #E8A400;
	background-color: #FFF4D8;
}

#puzzle
{
	margin-left: 10px;
	width: 450px;
	height: 450px;
	border: 1px solid #e8a400;
}

#puzzle img
{
	float: left;
	margin: 0px;
	cursor: move;
}

span.congrats
{
	background-color: #E8A400;
	color: white;
	font-weight: bold;  
}

div.cart-active
{
	background-color: #FFF4D8;
}

div.wastebin-active
{
	background-color: #FFF4D8;
	border: 1px solid #E8A400;
}

#graph
{
	clear: both;
	padding: 0.1em 1.0em 0.75em 0.75em;
}

#data-list
{
	float: left;
	padding: 0.5em;
	border: 1px solid #aaaaaa;
	width: 200px;
}

#data-list h2
{ 
	margin-top: 0px;
}

#graph-right
{
	float: left;
	padding: 1em;
}

#graph-box
{
	float: left;
	margin-bottom: 8px;
}

div.updating_indicator
{
	height: 40px;
	padding-top: 10px;
}

#data-list li
{
	margin-top: 0.4em;
}

#data-list li.newGroup
{
	margin-top: 1em;
}

#data-list font
{
	border: 1px solid #aaaaaa;
	padding: 1px;
}

#data-list a
{
	font-size: 10px;
	margin-left: 0.3em;
}

#data-list a:before
{
	content: "Add";
}


ul.cart-items
{
	list-style: none;
	display: inline;
}

li.cart-items
{
	margin-top: 0.4em;
}

font.cart-items
{
	border: 1px solid #aaaaaa;
	padding: 1px;
}

li.spacer
{
	list-style: none;
	display: inline;
}

#node
{
	clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

#node table.first
{ 
	width: 100%;
	background-color: black;
	margin-top: 0px;
}

#node table
{ 
	width: 100%;
	background-color: black;
	margin-top: 1em;
}
BODY{
background-color:#ffffff; 
color : #333333; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 8pt;
}
TD{
color : #000000; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 8pt;
}

TD.matrix {
padding:4px;
}

A{
font-family : Verdana, Arial, Helvetica, sans-serif;
color:#cc0000;
text-decoration:underline;
}
A:hover{
color:#ff0000;
text-decoration:none;
}

A.tab{
font-family : Verdana, Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
}
A.tab:hover{
color:#ffffff;
text-decoration:none;
}

A.op{
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
color:#A8B3BB;
text-decoration:none;
}
A.op:hover{
color:#b50026;
}

A.bizrow {
cursor:hand;
color:#000000;
text-decoration:none;
}
A.bizrow {
cursor:hand;
color:#000000;
text-decoration:none;
background-color:white;
}

INPUT {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 7pt; 
text-decoration : none;
color:#000000;
padding: 0px;
margin: 0px;
}

INPUT.pqBox {
border: 1px solid #990000;
background-color:#E0E0E0;
}

INPUT.ooBox {
border: 1px solid #A4ACB1;
background-color:#ffffff;
}

INPUT.of {
border: 1px solid #A4ACB1;
background-color:#ffffff;
margin: 0px 6px 0px 0px;
width:150px;
}

INPUT.ofRadio {
padding: 0px 0px 10px 0px;
margin: 2px 6px 0px 0px;
}

INPUT.ofCheck {
padding: 0px 0px 10px 0px;
margin: 2px 6px 0px 0px;
}

INPUT.pqBtn {
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 10pt;
font-weight:bold;
}

SELECT {
font-family : Verdana, Arial, Helvetica, sans-serif;
background-color:#ffffff;
font-size : 7pt; 
text-decoration : none;
color:#000000;
padding: 0px;
margin: 0px;
}

SELECT.front {
font-family : Verdana, Arial, Helvetica, sans-serif;
background-color:#ffffff;
font-size : 7pt; 
text-decoration : none;
color:#000000;
padding: 0px;
margin: 0px;
height: 18px;
}

SELECT.channels {
font-family : Verdana, Arial, Helvetica, sans-serif;
background-color:#ffffff;
font-size : 7pt; 
text-decoration : none;
color:#000000;
padding: 0px;
margin: 0px;
height: 18px;
width:152px;
}

TEXTAREA {
font-family : Verdana, Arial, Helvetica, sans-serif;
border: 1px solid #A4ACB1;
background-color:#ffffff;
font-size:7pt;
padding:4px;
color:#000000;
}

B {
font-weight : bold;
} 
I {
font-style : italic; 
} 
PRE {
font-family : courier new; 
} 
U {
text-decoration : underline;
}
SUP {
font-size:7pt;
}
UL {
}
LI {
list-style-image: url(/_gfx/bullet.gif);
}
LI.redcheck {
list-style-image: url(/_gfx/bullet_redcheck.gif);
}
LI.blackcheck {
list-style-image: url(/_gfx/bullet_blackcheck.gif);
}

.pageTitle {
color : #000000;
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 13pt; 
font-weight : bold;
padding: 0px 0px 10px 0px;
}

.hdr {
color : #444444;
font-size : 9pt; 
font-weight : bold;
padding-top : 18px;
padding-bottom : 6px; 
}

.ofSectionTtl {
color : #444444;
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 10pt; 
font-weight : bold;
padding: 0px 0px 8px 0px;
}

.ofSection {
padding: 6px 6px 6px 6px;
margin: 12px 0px 0px 0px;
background-color: #efefef;
border:1px solid #bbbbbb;
width:100%;
}

.ofDetails {
border:1px dotted #bbbbbb;
background-color: #ffffff;
padding:8px;
width:240px;
color: #006699;
}

.tbHdr {
color : #000000;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 8pt;
font-weight : bold;
text-decoration : none;
}

.product {
color : #000000;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 9pt;
font-weight : bold;
text-decoration : none;
padding : 4px 4px 4px 0px;
}

.toolBtn {
border: 1px dashed #777;
background-color:#ffffff;
font-size : 7pt; 
cursor:hand;
}

.sm {
font-size : 7pt; 
text-decoration : none;
}

.legal {
font-size : 7pt; 
text-decoration : none;
line-height: 13pt;
}

.devNote {
background-color:#ffffcc;
font-size : 7pt; 
text-decoration : none;
}


.promoTtl {
        color:#333;
        font-weight:bold;
}

.menuopt {
background-color:#ffffff;
color:#000000;
cursor:hand;
}

.navT {
color:#cc0000;
text-decoration:none;
}

/* ------- t2 ----- */
.t2 {
padding:3px 6px 3px 9px;
color:blue;
} 
.t2c {
background-color:#d5d5d5;
color:#000000;
padding:3px 6px 3px 9px;
}

/* ------- t3 ----- */ 
.t3 {
padding:3px 6px 3px 18px;
color:#cc0000;
} 
.t3c {
background-color:#d5d5d5;
color:#000000;
padding:3px 6px 3px 18px;
} 

/* ------- t4 ----- */ 
.t4 {
padding:3px 6px 3px 30px;
color:#cc0000;
} 
.t4c {
background-color:#d5d5d5;
color:#000000;
padding:3px 6px 3px 30px;
}  

/* Color the unvisited and visited links the same blue */
A:link    { color: #0000cc }
A:active  { color: #ff0000 }
A:visited { color: #0000cc }

/* I don't specify the margins here because Netscape 4.x ignores them. */

TD.footer
{
        background:    #c9dfc9;
}



/* Widget Box Body */
.widget-box
{
    background : #cccccc;    
}


/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
.widget-box-fieldname
{
    background : #999999; 

}

