<?xml version="1.0" encoding="UTF-8"?>
<datasource-configuration xmlns:this="http://xmlns.opennms.org/xsd/config/opennms-datasources"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.opennms.org/xsd/config/opennms-datasources
  http://www.opennms.org/xsd/config/opennms-datasources.xsd ">

  <!--
    DON'T EDIT THIS FILE :: GENERATED WITH CONFD
  -->
  <!--
    When you increase the size for database connections, make sure you have at least
    "global-max-pool-size" + "opennms-monitoring-max-pool-size" connections configured on PostgreSQL.
    By default you need at least 100 PostgreSQL connections.
    (50 from the global setting applied ot the opennms data source + 50 from the opennms-monitor JDBC data source)
  -->
  <connection-pool factory="org.opennms.core.db.HikariCPConnectionFactory"
    idleTimeout="{{getv "/opennms/database/connection/idletimeout" "600"}}"
    loginTimeout="{{getv "/opennms/database/connection/logintimeout" "3"}}"
    minPool="{{getv "/opennms/database/connection/minpool" "25"}}"
    maxPool="{{getv "/opennms/database/connection/maxpool" "50"}}"
    maxSize="{{getv "/opennms/database/connection/maxsize" "50"}}" />

  <jdbc-data-source name="opennms"
                    database-name="{{getv "/opennms/dbname" "opennms"}}"
                    class-name="org.postgresql.Driver"
                    url="jdbc:postgresql://{{getv "/postgres/host" "database"}}:{{getv "/postgres/port" "5432"}}/{{getv "/opennms/dbname" "opennms"}}?sslmode={{getv "/postgres/ssl/mode" "prefer"}}&amp;sslfactory={{getv "/postgres/ssl/factory" "org.postgresql.ssl.LibPQFactory"}}"
                    user-name="{{getv "/opennms/dbuser" "opennms"}}"
                    password="{{getv "/opennms/dbpass" "opennms"}}" />

  <!--
    This data source is for administrative tasks during schema init and schema updates.
    We don't want encourage users to change these settings from the defaults.
  -->
  <jdbc-data-source name="opennms-admin"
                    database-name="template1"
                    class-name="org.postgresql.Driver"
                    url="jdbc:postgresql://{{getv "/postgres/host" "database"}}:{{getv "/postgres/port" "5432"}}/template1?sslmode={{getv "/postgres/ssl/mode" "prefer"}}&amp;sslfactory={{getv "/postgres/ssl/factory" "org.postgresql.ssl.LibPQFactory"}}"
                    user-name="{{getv "/postgres/user" "postgres"}}"
                    password="{{getv "/postgres/password" "postgres"}}">
    <connection-pool idleTimeout="600"
                     minPool="0"
                     maxPool="10"
                     maxSize="50" />
  </jdbc-data-source>

  <!--
    This data source is for monitoring the PostgreSQL database for OpenNMS.
    We don't want encourage users to change these settings from the defaults.
  -->
  <jdbc-data-source name="opennms-monitor"
                    database-name="postgres"
                    class-name="org.postgresql.Driver"
                    url="jdbc:postgresql://{{getv "/postgres/host" "database"}}:{{getv "/postgres/port" "5432"}}/postgres?sslmode={{getv "/postgres/ssl/mode" "prefer"}}&amp;sslfactory={{getv "/postgres/ssl/factory" "org.postgresql.ssl.LibPQFactory"}}"
                    user-name="{{getv "/postgres/user" "postgres"}}"
                    password="{{getv "/postgres/password" "postgres"}}">
    <connection-pool idleTimeout="600"
                     minPool="0"
                     maxPool="10"
                     maxSize="50" />
  </jdbc-data-source>
</datasource-configuration>
