<?xml version="1.0"?>
<!-- DON'T EDIT THIS FILE :: GENERATED WITH CONFD -->

{{$servicesPath := "/core/service" -}}

<service-configuration xmlns="http://xmlns.opennms.org/xsd/config/vmmgr">
  <!-- It is strongly recommended to maintain the order of all services as listed to ensure proper startup sequence.
  Note that omitting the enabled attribute will default to enabled = true -->
  <!-- WARNING: Manager must never be disabled. Eventd can be disabled when
       KafkaEventForwarder is used as the event transport (microservice mode). -->

  <service enabled="true"><name>OpenNMS:Name=Manager</name></service>
  <service enabled="{{getv (print $servicesPath "/eventd/enabled") "true"}}"><name>OpenNMS:Name=Eventd</name></service>
  <service enabled="{{getv (print $servicesPath "/alarmd/enabled") "true"}}"><name>OpenNMS:Name=Alarmd</name></service>
  <service enabled="{{getv (print $servicesPath "/bsmd/enabled") "true"}}"><name>OpenNMS:Name=Bsmd</name></service>
  <service enabled="{{getv (print $servicesPath "/ticketer/enabled") "true"}}"><name>OpenNMS:Name=Ticketer</name></service>
  <service enabled="{{getv (print $servicesPath "/correlator/enabled") "false"}}"><name>OpenNMS:Name=Correlator</name></service>
  <service enabled="{{getv (print $servicesPath "/scriptd/enabled") "true"}}"><name>OpenNMS:Name=Scriptd</name></service>
  <service enabled="{{getv (print $servicesPath "/rtcd/enabled") "true"}}"><name>OpenNMS:Name=Rtcd</name></service>
  <service enabled="{{getv (print $servicesPath "/pollerd/enabled") "true"}}"><name>OpenNMS:Name=Pollerd</name></service>
  <service enabled="{{getv (print $servicesPath "/snmppoller/enabled") "false"}}"><name>OpenNMS:Name=SnmpPoller</name></service>
  <service enabled="{{getv (print $servicesPath "/enhancedlinkd/enabled") "true"}}"><name>OpenNMS:Name=EnhancedLinkd</name></service>
  <service enabled="{{getv (print $servicesPath "/collectd/enabled") "true"}}"><name>OpenNMS:Name=Collectd</name></service>
  <service enabled="{{getv (print $servicesPath "/discovery/enabled") "true"}}"><name>OpenNMS:Name=Discovery</name></service>
  <service enabled="{{getv (print $servicesPath "/eventtranslator/enabled") "true"}}"><name>OpenNMS:Name=EventTranslator</name></service>
  <service enabled="{{getv (print $servicesPath "/provisiond/enabled") "true"}}"><name>OpenNMS:Name=Provisiond</name></service>
  <service enabled="{{getv (print $servicesPath "/jettyserver/enabled") "true"}}"><name>OpenNMS:Name=JettyServer</name></service>
  <service enabled="{{getv (print $servicesPath "/karafstartupmonitor/enabled") "true"}}"><name>OpenNMS:Name=KarafStartupMonitor</name></service>
  <service enabled="{{getv (print $servicesPath "/syslogd/enabled") "false"}}"><name>OpenNMS:Name=Syslogd</name></service>
  <service enabled="{{getv (print $servicesPath "/telemetryd/enabled") "true"}}"><name>OpenNMS:Name=Telemetryd</name></service>
  <service enabled="{{getv (print $servicesPath "/trapd/enabled") "true"}}"><name>OpenNMS:Name=Trapd</name></service>
  <service enabled="{{getv (print $servicesPath "/perspectivepoller/enabled") "true"}}"><name>OpenNMS:Name=PerspectivePoller</name></service>
</service-configuration>
