<div class="row">
    <div class="col-md-12">
        <div class="well nodeHeader">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>{{node._label}}</strong> (<em>{{node._id}}</em>)</p>
                    <p class="nodeHeaderLocation"><em>{{node.sysLocation | characters:50}}</em></p>
                </div>
                <div class="col-md-6">
                   <button class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-exclamation-sign"></i></button>
                </div>
            </div>
        </div>

        <h4 ng-if="node._foreignSource"><em>Created via provisioning requisition <strong>{{node._foreignSource}}
            (foreignId: {{node._foreignId}})</strong></em></h4>
        <h4 ng-if="!node._foreignSource"><em>Not a member of any provisioning requisition</em></h4>

        <div class="panel panel-default" ng-if="node.schedOutages">
            <div class="panel-heading">
                Current Scheduled Outages
            </div>
            <div class="panel-body">
                {{node.schedOutages}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <!-- Left column. -->
        <!-- Asset box, if info available -->
        <div class="panel-group">
            <div class="panel panel-default" ui-if="node.asset">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="" data-toggle="collapse" data-target="#assetRecordPanel">
                            Asset Information
                        </a>
                    </div>
                </div>
                <div id="assetRecordPanel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Description</dt>
                            <dd>{{node.assetRecord.description}}</dd>

                            <dt>Comments</dt>
                            <dd>{{node.assetRecord.comments}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="" data-toggle="collapse" data-target="#nodeAvailabilityBox">
                            Availability
                        </a>
                    </div>
                </div>
                <div id="nodeAvailabilityBox" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <th>Availability (last 24 hours)</th>
                            <th>TODO, RTC? )=</th>
                            </thead>
                            <tbody>
                            <!-- ng-repeat="iface in node.ifaces" -->
                            <tr ng-repeat="iface in node.ifaces">
                                <td rowspan="iface.services.length">
                                    {{iface.ipAddress}}
                                </td>
                                <td ng-repeat="service in iface.services">
                                    {{service.serviceType.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="" data-toggle="collapse" data-target="#nodeInterfacesBox">
                            Node Interfaces
                        </a>
                    </div>
                    <div id="nodeInterfacesBox" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" data-tabs="nodeIpTabs">
                                <li class="active"><a href="" data-toggle="tab" data-target="#nodeInterfacesIpTab">IP Interfaces</a></li>
                                <li><a href="" data-toggle="tab" data-target="#nodeInterfacesPhysTab">Physical Interfaces</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="nodeInterfacesIpTab">
                                    <!--<ul>-->
                                        <!--<li ng-repeat="iface in node.ifaces">{{iface}}</li>-->
                                    <!--</ul>-->

                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <th>IP Address <input type="text" class="form-control" ng-model="nodeInterfacesIpFilter.ipAddress" placeholder="IP address"/></th>
                                            <th>IP Host Name</th>
                                            <th>ifIndex</th>
                                            <th>Managed</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="iface in node.ifaces | filter:nodeInterfacesIpFilter" >
                                                <td>{{iface.ipAddress}}</td>
                                                <td>{{iface.hostName}}</td>
                                                <td>{{iface._ifIndex}}</td>
                                                <td>{{iface._isManaged}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="nodeInterfacesPhysTab">as1234df</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <!-- Right column. -->
    </div>
</div>