<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <!-- Node List -->
            <!--<h4 ng-if="listInterfaces">Nodes and their interfaces</h4>-->
            <!--<h4 ng-if="!listInterfaces">Nodes</h4>-->

            <div ng-if="!nodes.length">None found.</div>

            <div class="form-group has-feedback">
                <label class="form-label" for="nodeListFilter">Nodes</label>
                <input type="text" id="nodeListFilter" class="form-control" placeholder="filter nodes" ng-model="nodeListFilter._label"/>
                <span class="glyphicon glyphicon-search form-control-feedback"></span>

            </div>

                <ul class="pagination pagination-sm btn-group-justified">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a ng-href ng-click="firstPage()">First</a>
                    </li>
                    <li ng-class="{disabled: currentPage &lt; 1}">
                        <a ng-href ng-click="prevPage()">« Prev</a>
                    </li>

                    <li ng-repeat="n in range(totalPages(), currentPage, currentPage + gap)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a ng-href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: (currentPage + 1) == totalPages()}">
                        <a ng-href ng-click="nextPage()">Next »</a>
                    </li>
                    <li ng-class="{disabled: (currentPage + 1) >= totalPages()}">
                        <a ng-href ng-click="lastPage()">Last</a>
                    </li>
                </ul>


            <ul class="list-unstyled">
                <li ng-repeat="node in nodes">
                    <a ui-sref="app.nodes.detail({ nodeId: node.id})" node-list-popover popover-node="node">{{node.label}}</a>
                </li>
                <li></li>
            </ul>




            <!--<div ng-repeat="node in nodes | orderBy:'_id' track by node._id">-->
                <!--<h5><a ui-sref="app.nodes.detail({ nodeId: node._id})">{{node._label}}</a> (Node ID: {{node._id}}<span ng-if="node._foreignId">, Foreign Source: {{node._foreignSource}}, Foreign ID: {{node._foreignId}}</span>)</h5>-->
                <!--<div style="padding-left: 20px" ng-if="ifaces[node._id]">-->
                    <!--<div ng-repeat="iface in ifaces[node._id] | orderBy: '_ifIndex' track by iface._id">-->
                        <!--<strong>{{iface.ipAddress}}</strong><span ng-if="iface._ifIndex">: ifIndex={{iface._ifIndex}}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="col-sm-12 col-md-9">
            <!-- Node Details -->
            <div ui-view="nodeDetails"></div>
        </div>
    </div>
</div>
