version: 2.1

executors:
  build-executor:
    docker:
      - image: opennms/build-env:8-11_1.3
  integration-test-executor:
    machine: true
  smoke-test-executor:
    machine: true

commands:
  cached-checkout:
      description: "Checkout with caching"
      steps:
        - restore_cache:
            keys:
              - source-v1-{{ .Branch }}-{{ .Revision }}
              - source-v1-{{ .Branch }}-
              - source-v1-
        - checkout
        - save_cache:
            key: source-v1-{{ .Branch }}-{{ .Revision }}
            paths:
              - ".git"
  restore-maven-cache:
      description: "Maven: Calculate cache key and restore cache"
      steps:
        - run: 
            name: Calculate cache key from pom files
            command: |
              find . -type f -name "pom.xml" -exec sha256sum "{}" \; | sort -nr >> maven-dependency-cache.key
        - restore_cache:
            keys:
              - maven-dependencies-v2-{{ checksum "maven-dependency-cache.key" }}
              - maven-dependencies-v2-
        - run:
            name: Remove OpenNMS artifacts from cache
            command: |
              rm -rf ~/.m2/repository/org/opennms
  save-maven-cache:
    description: "Maven: Save cache"
    steps:
      - save_cache:
          key: maven-dependencies-v2-{{ checksum "maven-dependency-cache.key" }}
          paths:
            - ~/.m2
  restore-nodejs-cache:
      description: "NodeJS: Calculate cache key and restore cache"
      steps:
        - run:
            name: Calculate cache key
            command: |
              sha256sum core/web-assets/package.json > nodejs-dependency-cache.key
              sha256sum core/web-assets/yarn.lock >> nodejs-dependency-cache.key
        - restore_cache:
            keys:
              - nodejs-dependencies-v1-{{ checksum "nodejs-dependency-cache.key" }}
              - nodejs-dependencies-v1-
  save-nodejs-cache:
    description: "NodeJS: Save cache"
    steps:
      - save_cache:
          key: nodejs-dependencies-v1-{{ checksum "nodejs-dependency-cache.key" }}
          paths:
            - core/web-assets/node_modules
  restore-sonar-cache:
      description: "Sonar: Restore sonar cache"
      steps:
        - restore_cache:
            keys:
              - sonar-cache-v1-
  save-sonar-cache:
      description: "Sonar: Save sonar cache"
      steps:
        - save_cache:
            key: sonar-cache-v1-
            paths:
              - ~/.sonar
  dockerhub-login:
    description: "Connect to DockerHub"
    steps:
      - run:
          name: Login to DockerHub
          command: |
            docker login -u ${DOCKERHUB_LOGIN} -p ${DOCKERHUB_PASS}
  run-smoke-tests:
    description: "Run the smoke tests"
    parameters:
      minimal:
        default: false
        type: boolean
    steps:
      - run:
          name: Load Horizon OCI image
          command: |
            cd opennms-container/horizon
            docker image load -i images/container.oci
      - run:
          name: Load Minion OCI image
          command: |
            echo "NOOP"
      - run:
          name: Load Sentinel OCI image
          command: |
            echo "NOOP"
      - run:
          name: Smoke Tests
          no_output_timeout: 30m
          command: |
            .circleci/scripts/smoke.sh << parameters.minimal >>
      - run:
          name: Gather system logs
          when: always
          command: |
            mkdir -p ~/test-results/system-logs
            dmesg > ~/test-results/system-logs/dmesg
            ps auxf > ~/test-results/system-logs/ps
      - run:
          name: Gather test artifacts
          when: always
          command: |
            mkdir -p ~/test-results/junit
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            find . -type f -regex ".*/target/failsafe-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            mkdir -p ~/test-artifacts/recordings
            cp -R ~/project/smoke-test/target/*.flv ~/test-artifacts/recordings || true
            cp -R ~/project/smoke-test/target/screenshots ~/test-artifacts/ || true
            cp -R ~/project/smoke-test/target/logs ~/test-artifacts/ || true
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          when: always
          path: ~/test-results
          destination: test-results
      - store_artifacts:
          when: always
          path: ~/test-artifacts
          destination: test-artifacts
  run-build:
    description: "Run the main build"
    parameters:
      number-vcpu:
        default: 8
        type: integer
      node-memory:
        default: echo "NODE_OPTIONS Not Set"
        type: string
      vaadin-javamaxmem:
        default: 1g
        type: string
    steps:
      - cached-checkout
      - restore-maven-cache
      - restore-nodejs-cache
      - run:
          name: Compile OpenNMS
          command: |
            mvn clean -DskipTests=true
            << parameters.node-memory >>
            ./compile.pl -DskipTests=true -Dbuild.skip.tarball=true \
              -DvaadinJavaMaxMemory=<< parameters.vaadin-javamaxmem >> \
              -DmaxCpus=<< parameters.number-vcpu >> \
              install --builder smart --threads << parameters.number-vcpu >>
      - run:
          name: Compile smoke tests
            # Compile the smoke tests, but don't run them yet
            # We want to make sure that they compile and also leverage the caching that is setup here
            # so that the artifacts required to run the smoke tests are cached as well without the need
            # to maintain another cache
          command: |
            cd smoke-test && mvn install -DskipTests=true -DskipITs=true
      - save-maven-cache
      - save-nodejs-cache
      - persist_to_workspace:
          root: ~/
          paths:
            - project
            - .m2
  run-integration-tests-with-coverage:
    parameters:
      run-code-coverage:
        default: true
        type: boolean
      rerun-failtest-count:
        default: 0
        type: integer
      failure-option:
        default: -fn
        type: string
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Integration Tests
          no_output_timeout: 1.0h
          command: |
            export CCI_CODE_COVERAGE=<< parameters.run-code-coverage >>
            export CCI_RERUN_FAILTEST=<< parameters.rerun-failtest-count >>
            export CCI_FAILURE_OPTION=<< parameters.failure-option >>
            .circleci/scripts/itest.sh
      - run:
          name: Gather test results
          when: always
          command: |
            mkdir -p ~/test-results/junit
            find . -type f -regex ".*/target/surefire-reports-[0-9]+/.*xml" -exec cp {} ~/test-results/junit/ \;
            find . -type f -regex ".*/target/failsafe-reports-[0-9]+/.*xml" -exec cp {} ~/test-results/junit/ \;
      - run:
          name: Gather tests
          when: always
          command: |
            mkdir -p ~/generated-tests
            cp ./surefire_classname* ~/generated-tests/
            cp ./failsafe_classname* ~/generated-tests/
            cp ./projects_with_path ~/generated-tests/
            cp /tmp/this_node* ~/generated-tests/
      - run:
          name: Compress Target Directories (Code Coverage)
          when: always
          command: |
            .circleci/scripts/codecoverage-save.sh
      - persist_to_workspace:
          root: ~/
          paths:
            - code-coverage
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          when: always
          path: ~/test-results
          destination: test-results
      - store_artifacts:
          when: always
          path: ~/generated-tests
          destination: generated-tests
  run-integration-tests:
    parameters:
      run-code-coverage:
        default: false
        type: boolean
      rerun-failtest-count:
        default: 0
        type: integer
      failure-option:
        default: -fae
        type: string
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Integration Tests
          no_output_timeout: 1.0h
          command: |
            export CCI_CODE_COVERAGE=<< parameters.run-code-coverage >>
            export CCI_RERUN_FAILTEST=<< parameters.rerun-failtest-count >>
            export CCI_FAILURE_OPTION=<< parameters.failure-option >>
            echo "NOOP"
      - run:
          name: Gather test results
          when: always
          command: |
            mkdir -p ~/test-results/junit
            find . -type f -regex ".*/target/surefire-reports-[0-9]+/.*xml" -exec cp {} ~/test-results/junit/ \;
            find . -type f -regex ".*/target/failsafe-reports-[0-9]+/.*xml" -exec cp {} ~/test-results/junit/ \;
      - run:
          name: Gather tests
          when: always
          command: |
            mkdir -p ~/generated-tests
            cp ./surefire_classname* ~/generated-tests/
            cp ./failsafe_classname* ~/generated-tests/
            cp ./projects_with_path ~/generated-tests/
            cp /tmp/this_node* ~/generated-tests/
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          when: always
          path: ~/test-results
          destination: test-results
      - store_artifacts:
          when: always
          path: ~/generated-tests
          destination: generated-tests

workflows:
  nightly-coverage:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - build
      - integration-test-with-coverage:
          requires:
            - build
      - code-coverage:
          requires:
            - integration-test-with-coverage
  build-deploy:
    jobs:
      - build
      - horizon-package-build:
          requires:
            - build
      - minion-package-build:
          requires:
            - build
      - sentinel-package-build:
          requires:
            - build
      - integration-test:
          requires:
            - build
      - smoke-test-full:
          requires:
            - horizon-package-build
            - minion-package-build
            - sentinel-package-build
          filters:
            branches:
              only:
                - master
                - develop
                - /^release-.*/
                - /^foundation.*/
                - /^features.*/
                - /.*smoke.*/
      - smoke-test-minimal:
          requires:
            - horizon-package-build
            - minion-package-build
            - sentinel-package-build
          filters:
            branches:
              ignore:
                - master
                - develop
                - /^release-.*/
                - /^foundation.*/
                - /^features.*/
                - /.*smoke.*/
      - horizon-publish-oci:
          requires:
            - horizon-package-build
          filters:
            branches:
              only:
                - master
                - develop
      - minion-publish-oci:
          requires:
            - minion-package-build
          filters:
            branches:
              only:
                - master
                - develop
      - sentinel-publish-oci:
          requires:
            - sentinel-package-build
          filters:
            branches:
              only:
                - master
                - develop

jobs:
  build:
    executor: build-executor
    # Building currently requires the xlarge containers in order for the webpack compilation
    # in the core/web-assets module to complete reliably
    resource_class: xlarge
    steps:
      - run-build:
          number-vcpu: 8
  horizon-package-build:
    executor: build-executor
    # Larger memory footprint required to speed up builds using Takari smartbuilder
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build RPMs
          command: |
            export NODE_OPTIONS=--max_old_space_size=1024
            export CCI_MAXCPU=4
            ./makerpm.sh -a -d -S tools/packages/opennms/opennms.spec
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Fetch RPM artifacts and build Horizon container image
          command: |
            cd opennms-container/horizon
            ./build_container_image.sh
      - store_artifacts:
          path: ~/project/opennms-container/horizon/images/container.oci
          destination: horizon.oci
      - store_artifacts:
          path: ~/project/target/rpm/RPMS/noarch
          destination: rpms
      - persist_to_workspace:
          root: ~/
          paths:
            - project/opennms-container/horizon/images/
  minion-package-build:
    executor: build-executor
    # Larger memory footprint required to speed up builds using Takari smartbuilder
    # Will need to increase resource class if horizon-package-build is under 15 min
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build RPMs
          command: |
            export NODE_OPTIONS=--max_old_space_size=1024
            export CCI_MAXCPU=4
            export CCI_VAADINJAVAMAXMEM=768m
            ./makerpm.sh -a -d -S tools/packages/minion/minion.spec
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Fetch RPM artifacts and build Minion container image
          command: |
            cd opennms-container/minion
            ./build_container_image.sh
      - store_artifacts:
          path: ~/project/opennms-container/minion/images/container.oci
          destination: minion.oci
      - store_artifacts:
          path: ~/project/target/rpm/RPMS/noarch
          destination: rpms
      - persist_to_workspace:
          root: ~/
          paths:
            - project/opennms-container/minion/images/
  sentinel-package-build:
    executor: build-executor
    # Larger memory footprint required to speed up builds using Takari smartbuilder
    # Will need to increase resource class if horizon-package-build is under 19 min
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build RPMs
          command: |
            export NODE_OPTIONS=--max_old_space_size=1024
            export CCI_MAXCPU=4
            export CCI_VAADINJAVAMAXMEM=768m
            ./makerpm.sh -a -d -S tools/packages/sentinel/sentinel.spec
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Fetch RPM artifacts and build Sentinel container image
          command: |
            cd opennms-container/sentinel
            ./build_container_image.sh
      - store_artifacts:
          path: ~/project/opennms-container/sentinel/images/container.oci
          destination: sentinel.oci
      - store_artifacts:
          path: ~/project/target/rpm/RPMS/noarch
          destination: rpms
      - persist_to_workspace:
          root: ~/
          paths:
            - project/opennms-container/sentinel/images/
  horizon-publish-oci:
    executor: build-executor
    steps:
      - attach_workspace:
          at: ~/
      - setup_remote_docker:
          docker_layer_caching: true
      - dockerhub-login
      - run:
          name: Load Horizon OCI image, tag it and publish to registry
          command: |
            cd opennms-container/horizon
            docker image load -i images/container.oci
            ./tag.sh
            ./publish.sh
  minion-publish-oci:
    executor: build-executor
    steps:
      - attach_workspace:
          at: ~/
      - setup_remote_docker:
          docker_layer_caching: true
      - dockerhub-login
      - run:
          name: Load Minion OCI image, tag it and publish to registry
          command: |
            cd opennms-container/minion
            docker image load -i images/container.oci
            ./tag.sh
            ./publish.sh
  sentinel-publish-oci:
    executor: build-executor
    steps:
      - attach_workspace:
          at: ~/
      - setup_remote_docker:
          docker_layer_caching: true
      - dockerhub-login
      - run:
          name: Load Sentinel OCI image, tag it and publish to registry
          command: |
            cd opennms-container/sentinel
            docker image load -i images/container.oci
            ./tag.sh
            ./publish.sh 
  integration-test:
    executor: integration-test-executor
    parallelism: 12
    steps:
      - run-integration-tests:
          rerun-failtest-count: 1
  integration-test-with-coverage:
    executor: integration-test-executor
    parallelism: 12
    steps:
      - run-integration-tests-with-coverage:
          rerun-failtest-count: 0
  code-coverage:
    executor: build-executor
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/
      - restore-sonar-cache
      - run:
          name: Restore Target Directories (Code Coverage)
          when: always
          command: |
            .circleci/scripts/codecoverage-restore.sh
      - run:
          name: Run SonarQube Code Analysis
          when: always
          command: |
            export MAVEN_OPTS="-Xms3G -Xmx3G"
            .circleci/scripts/sonar.sh
      - save-sonar-cache
  smoke-test-full:
    executor: smoke-test-executor
    parallelism: 8
    # No resource class support for machine executors, we're constrained to use the default
    # medium class which has 2 vCPUs and 8 GB RAM
    #resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - run-smoke-tests
  smoke-test-minimal:
    executor: smoke-test-executor
    steps:
      - attach_workspace:
          at: ~/
      - run-smoke-tests:
          minimal: true

