<settings>
 <mirrors>
  <mirror>
   <id>mirror-central</id>
   <url>https://repo1.maven.org/maven2/</url>
   <mirrorOf>central</mirrorOf>
  </mirror>
  <mirror>
   <id>mirror-opennms-everything</id>
   <url>https://maven.opennms.org/repository/everything/</url>
   <mirrorOf>*</mirrorOf>
  </mirror>
 </mirrors>
 <servers>
   <server>
     <id>central-portal</id>
     <username>${env.OPENNMS_OSSRH_USERNAME}</username>
     <password>${env.OPENNMS_OSSRH_PASSWORD}</password>
   </server>
 </servers>
</settings>
