<settings>
 <mirrors>
  <mirror>
   <id>mirror-central</id>
   <url>https://repo1.maven.org/maven2/</url>
   <mirrorOf>central</mirrorOf>
  </mirror>
  <mirror>
   <id>mvn.cdn.useast1.opennms.com-cache</id>
   <name>🇺🇸 Maven CDN in US East 1</name>
   <url>https://mvn.cdn.useast1.opennms.com/cache</url>
   <mirrorOf>*</mirrorOf>
  </mirror>
 </mirrors>
</settings>
