<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="opennms" version="2.4"
		 xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<servlet-name>homepage</servlet-name>
		<servlet-class>org.opennms.features.webapp.homepage.HomePageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>homepage</servlet-name>
		<url-pattern>/homepage.htm</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>frontPageDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>frontPageDispatcher</servlet-name>
  		<url-pattern>/frontPage.htm</url-pattern>
  	</servlet-mapping>
	
	<welcome-file-list>
    	<welcome-file>frontPage.jsp</welcome-file>
  	</welcome-file-list>
	
</web-app>
