<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

  <bean id="defaultSimpleBackEnd" class="org.opennms.poller.remote.DefaultSimpleBackEnd">
  </bean>

  <bean id="simpleBackEnd" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    <property name="service" ref="defaultSimpleBackEnd" />
    <property name="serviceInterface" value="org.opennms.poller.remote.SimpleBackEnd" />
  </bean>
</beans>
