<?xml version="1.0" encoding="UTF-8"?>
<web-app id="opennms-remoting" version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>

  <display-name>opennms-remoting</display-name>

  <!--  This is used by the Spring ContextLoaderListener <listener> below -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        /WEB-INF/applicationContext-exportedSimpleBackEnd.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>simpleBackEnd</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- servlet for java webstart -->

  <servlet-mapping>
    <servlet-name>simpleBackEnd</servlet-name>
    <url-pattern>/simpleBackEnd</url-pattern>
  </servlet-mapping>

</web-app>
