<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<features name="spring-4.2.11" xmlns="http://karaf.apache.org/xmlns/features/v1.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://karaf.apache.org/xmlns/features/v1.3.0 http://karaf.apache.org/xmlns/features/v1.3.0">
    <repository>mvn:org.ops4j.pax.web/pax-web-features/${paxWebVersion}/xml/features</repository>
    <repository>mvn:org.apache.karaf.features/standard/${karafVersion}/xml/features</repository>
    <!-- Spring legacy features -->

    <feature name="activemq-client" description="ActiveMQ client libraries" version="${activemqVersion}">
        <feature version="[4,6)">spring</feature>
        <feature>aries-blueprint</feature>
        <feature>activemq-combined-jms-spec</feature>
        <bundle dependency="true">mvn:org.apache.geronimo.specs/geronimo-annotation_1.3_spec/1.0</bundle>
        <bundle dependency="true">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true">mvn:org.jvnet.jaxb2_commons/jaxb2-basics-runtime/0.12.0</bundle>
        <bundle dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.jaxb-runtime/2.3.2_1</bundle>
        <bundle>mvn:org.apache.commons/commons-pool2/2.13.1</bundle>
        <bundle>mvn:org.apache.activemq/activemq-osgi/${activemqVersion}</bundle>
    </feature>

    <!-- Spring 4.2.x support -->

    <feature name="spring" description="Spring 4.2.x support" version="${springVersion}">
        <bundle dependency="true" start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/${springVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/${patchedSpringVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/${patchedSpringVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/${patchedSpringVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/${springVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.2.x AOP support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.2.x Instrument support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.2.x JDBC support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-tx</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.2.x JMS support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.2.x Test support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.2.x ORM support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-jdbc</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.2.x OXM support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.2.x Transaction (TX) support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.2.x Web support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/${patchedSpringVersion}
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/${springVersion}
        </bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.2.x Web Portlet support" version="${springVersion}">
        <feature prerequisite="true">wrap</feature>
        <feature version="[${springVersion},4.3)">spring-web</feature>
        <bundle dependency="true" start-level="30">
            wrap:mvn:javax.portlet/portlet-api/2.0$Bundle-SymbolicName=javax.portlet.api&amp;Bundle-Version=2.0&amp;Export-Package=javax.portlet.*;version=2.0
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/${springVersion}
        </bundle>
    </feature>

    <!-- Spring 4.3.x support -->

    <feature name="spring" description="Spring 4.3.x support" version="4.3.30.RELEASE_1">
        <bundle dependency="true" start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.3.30.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.3.30.RELEASE_1.ONMS.1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.3.30.RELEASE_1.ONMS.1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.3.30.RELEASE_1.ONMS.1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.3.30.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.3.x AOP support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.3.x Instrument support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.3.x JDBC support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-tx</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.3.x JMS support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.3.x Test support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle dependency="true">mvn:javax.websocket/javax.websocket-api/1.1</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpcore-osgi/${httpcoreVersion}</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpclient-osgi/${httpclientVersion}</bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.3.x ORM support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-jdbc</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.3.x OXM support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.3.x Transaction (TX) support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.3.30.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.3.x Web support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle dependency="true">mvn:javax.servlet/javax.servlet-api/${servletApiVersion}</bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.3.30.RELEASE_1.ONMS.1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.3.30.RELEASE_1
        </bundle>
        <requirement>osgi.implementation;osgi.implementation="osgi.http";version:Version="1.1"</requirement>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.3.x Web Portlet support" version="4.3.30.RELEASE_1">
        <feature prerequisite="true">pax-url-wrap</feature>
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-web</feature>
        <bundle dependency="true" start-level="30">
            wrap:mvn:javax.portlet/portlet-api/2.0$Bundle-SymbolicName=javax.portlet.api&amp;Bundle-Version=2.0&amp;Export-Package=javax.portlet.*;version=2.0
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.3.30.RELEASE_1
        </bundle>
    </feature>

</features>
