<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<features name="spring-4.2.11" xmlns="http://karaf.apache.org/xmlns/features/v1.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://karaf.apache.org/xmlns/features/v1.3.0 http://karaf.apache.org/xmlns/features/v1.3.0">
    <repository>mvn:org.apache.karaf.features/standard/${karafVersion}/xml/features</repository>
    <feature name="spring" description="Spring 4.2.x support" version="4.2.9.RELEASE_1">
        <bundle dependency="true" start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.2.x AOP support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.2.x Instrument support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.2.x JDBC support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring-tx</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.2.x JMS support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-messaging" description="Spring 4.2.x Messaging support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-messaging/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.2.x Test support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.2.x ORM support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring-jdbc</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.2.x OXM support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.2.x Transaction (TX) support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.2.x Web support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.2.9.RELEASE_1
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.2.x Web Portlet support" version="4.2.9.RELEASE_1">
        <feature prerequisite="true">wrap</feature>
        <feature version="[4.2.9.RELEASE_1,4.3)">spring-web</feature>
        <bundle dependency="true" start-level="30">
            wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0
        </bundle>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.2.9.RELEASE_1
        </bundle>
    </feature>

    <feature name="spring-websocket" description="Spring 4.2.x WebSocket support" version="4.2.9.RELEASE_1">
        <feature version="[4.2.9.RELEASE_1,4.3)">spring-web</feature>
        <bundle start-level="30">
            mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.2.9.RELEASE_1
        </bundle>
    </feature>
</features>