<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:cxf="http://cxf.apache.org/core"
        xmlns:jaxrs="http://cxf.apache.org/jaxrs"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
                http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
                http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <tx:annotation-driven />
    <context:annotation-config/>
    <!-- Automatically scan for @Component beans -->
    <context:component-scan base-package="org.opennms.web.rest" />

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- Serialization @Provider classes -->
    <!--
    <bean id="jaxbProvider"          class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/>
    -->
    <bean id="jaxbProvider"          class="org.opennms.web.rest.ValidatingMessageBodyReader"/>
    <!--
    <bean id="jsonProvider"          class="org.apache.cxf.jaxrs.provider.json.JSONProvider"/>
    -->
    <bean id="jsonProvider"          class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
    <bean id="atomEntryProvider"     class="org.apache.cxf.jaxrs.provider.atom.AtomEntryProvider"/>
    <bean id="atomFeedProvider"      class="org.apache.cxf.jaxrs.provider.atom.AtomFeedProvider"/>
    <bean id="atomPojoProvider"      class="org.apache.cxf.jaxrs.provider.atom.AtomPojoProvider"/>

    <!-- FIQL search @Provider class -->
    <bean id="searchContextProvider" class="org.apache.cxf.jaxrs.ext.search.SearchContextProvider"/>

    <!-- Create a Spring bus -->
    <!--
    <cxf:bus>
      <cxf:features>
        <cxf:logging/>
      </cxf:features>
    </cxf:bus>
    -->

    <!--
      This ResourceContextProvider will manually tell CXF to use the Spring context to 
      fetch subresource instances. I'm not sure exactly WHY this is necessary but I can't
      get the subresources to load the autowired Spring beans without it. :)
    -->
    <bean id="springResourceContextProvider" class="org.opennms.web.rest.support.SpringResourceContextProvider"/>

    <jaxrs:server id="cxf-jax-rs" address="/">
      <jaxrs:properties>
        <!-- Use the ResourceContextProvider defined above -->
        <entry key="org.apache.cxf.jaxrs.resource.context.provider" value-ref="springResourceContextProvider"/>
      </jaxrs:properties>
      <jaxrs:extensionMappings>
        <entry key="json" value="application/json" />
        <entry key="xml" value="application/xml" />
        <entry key="atom" value="application/atom+xml" />
      </jaxrs:extensionMappings>
      <!-- Specifying jaxrs:providers breaks autowiring of Spring service beans :/ -->
      <jaxrs:serviceBeans>
        <ref bean="acknowledgmentRestService"/>
        <ref bean="agentConfigurationResource"/>
        <ref bean="alarmRestService"/>
        <ref bean="alarmStatsRestService"/>
        <ref bean="assetRecordResource"/>
        <ref bean="availabilityRestService"/>
        <ref bean="categoryRestService"/>
        <ref bean="collectionConfigurationResource"/>
        <ref bean="configRestService"/>
        <ref bean="dataLinkInterfaceRestService"/>
        <ref bean="eventRestService"/>
        <ref bean="foreignSourceRestService"/>
        <ref bean="foreignSourceConfigRestService"/>
        <ref bean="graphRestService"/>
        <ref bean="groupRestService"/>
        <ref bean="hardwareInventoryResource"/>
        <ref bean="ifServicesRestService"/>
        <ref bean="infoRestService"/>
        <ref bean="jmxDataCollectionConfigResource"/>
        <ref bean="kscRestService"/>
        <ref bean="minionRestService"/>
        <ref bean="monitoringLocationsRestService"/>
        <ref bean="nodeRestService"/>
        <ref bean="notificationRestService"/>
        <ref bean="onmsIpInterfaceResource"/>
        <ref bean="onmsMapElementResource"/>
        <ref bean="onmsMapRestService"/>
        <ref bean="onmsMonitoredServiceResource"/>
        <ref bean="onmsSnmpInterfaceResource"/>
        <ref bean="outageRestService"/>
        <ref bean="pollerConfigurationResource"/>
        <ref bean="remotePollerAvailabilityService"/>
        <ref bean="requisitionRestService"/>
        <ref bean="resourceRestService"/>
        <ref bean="scheduledOutagesRestService"/>
        <ref bean="snmpConfigRestService"/>
        <ref bean="snmpConfigurationResource"/>
        <ref bean="timelineRestService"/>
        <ref bean="userRestService"/>
      </jaxrs:serviceBeans>
      <jaxrs:providers>
        <ref bean="jaxbProvider"/>
        <ref bean="jsonProvider"/>
        <ref bean="atomEntryProvider"/>
        <ref bean="atomFeedProvider"/>
        <!-- <ref bean="atomPojoProvider"/> -->

        <ref bean="searchContextProvider"/>
      </jaxrs:providers>
    </jaxrs:server>

</beans>
