/*
 Modifications:
 
 2005 Oct 01: More CSS work. -- DJ Gregor  
 2005 Sep 30: Hacked up heavily to use CSS for layout and markup.  Some code
              (particularly #nav bits) provided by Mike Huot. -- DJ Gregor
 
 */

/* set millions of background images */
.rbroundbox
{
	background: url(../images/nt.gif) repeat;
}

.rbtop div
{
	background: url(../images/tl.gif) no-repeat top left;
}

.rbtop
{
	background: url(../images/tr.gif) no-repeat top right;
}

.rbbot div
{
	background: url(../images/bl.gif) no-repeat bottom left;
}

.rbbot
{
	background: url(../images/br.gif) no-repeat bottom right;
}

/* height and width stuff, width not really neccesary. */
.rbtop div, .rbtop, .rbbot div, .rbbot
{
	width: 100%;
	height: 7px;
	font-size: 1px;
}

.rbcontent
{
	margin: 0 7px;
}

.rbroundbox
{
	width: 100%; margin: 1em auto;
}

/* Color the unvisited and visited links the same blue */
A:link
{
	color: #0000cc
}

A:active
{
	color: #ff0000
}

A:visited
{
	color: #0000cc
}

a.filterLink
{
	color:black;
	text-decoration:none;
}

a.filterLink:visited
{
	color:black;
	text-decoration:none;
}

/* I don't specify the margins here because Netscape 4.x ignores them. */
BODY
{
 	margin: 0px;
  	padding: 0px;
	background:    #ffffff;
	color:         #000000;
}


TD.footer
{
	background:    #c9dfc9;
}



/* Widget Box Body */
.widget-box
{
	background: #cccccc;    
}


/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
.widget-box-fieldname
{
	background: #999999; 
}

#eventlist tr.eventlist-head
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #999999;
}

#eventlist tr.eventlist-odd
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: white;
}
#eventlist tr.eventlist-even
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #cccccc;
}


#nav, #nav ul	/* all lists */
{
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 11em;
}

#nav li		/* all list items */
{
	position: relative;
	float: left;
	line-height: 1.25em;
	margin-bottom: -1px;
	width: 11em;
}
	
#nav li ul	/* second-level lists */
{
	position: absolute;
	left: -999em;
	margin-left: 11.05em;
	margin-top: -1.35em;
}

#nav li ul ul	/* third-and-above-level lists */
{
	left: -999em;
}

#nav li a
{
	width: 11em;
	w\idth: 10em;
	display: block;
	color: black;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	border: 1px solid #c9dfc9;
	padding: 0 0.5em;
}

#nav li a:hover
{
	color: #cccccc;
	background-color: black;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}
	
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul	/* lists nested under hovered list items */
{
	left: auto;
}

#content
{
	margin: 1em;
}

.navbar ul
{ 
	list-style: none;
	display: inline;
}


.navbar li
{ 
	padding: 0 0.2em 0 0.5em;
	border-style: solid;
	border-color: black;
	border-width: 0 1px 0 0;
	list-style: none;
	display: inline;
}

.navbar li.last
{ 
	padding: 0 0.2em 0 0.5em;
	border-style: solid;
	border-color: black;
	border-width: 0 0 0 0;
	list-style: none;
	display: inline;
}

#linkbar
{
	padding: 0 0 1em 0;
}

#linkbar ul
{ 
	list-style: none;
	display: inline;
	padding: 0 0 0 0;
}

#linkbar li
{ 
	list-style: none;
	display: inline;
	padding-right: 0.75em;
}

div.standard
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

table.standardfirst
{ 
        width: 100%;
	border: none;
	border-spacing: 0pt;
	background-color: #cccccc;
	border-collapse: collapse;
        margin-top: 0;
}

table.standard
{ 
        width: 100%;
	background-color: #cccccc;
	border-collapse: collapse;
        margin-top: 1em;
}

td.standardheader
{
	background-color: #999999;
	border: 2pt solid black;
	font-weight: bold;
	padding: 2px;
}

td.standardheaderplain
{
	background-color: #999999;
	border: 2pt solid black;
	padding: 2px;
}

td.standardnavlinks
{
        width: 25%;
}

td.standardwarning
{
        background-color: cyan;
}

td.standard
{
	border: 2pt solid black;
	padding: 2px;
}

td.standardmorepadding
{
	border: 2pt solid black;
	padding: 1px 3px 1px 3px;
}

#nodelist table
{ 
        width: 100%;
        border: 0;
}

#nodelist td
{
        padding: 2px;
	width: 50%;
}

/*
#availability-box table.inner
{ 
	margin-top: 0;
}

#availability-box td.header
{
	width: 70%;
	background-color: #999999;
	font-weight: bold;
}

#availability-box td.headerplain
{
	width: 70%;
	background-color: #999999;
}
*/

td.availnode
{ 
        text-align: left;
        vertical-align: top;
        width: 25%;
	border: 2pt solid black;
	padding: 2px;
}

td.availunmanaged
{
	background-color: #cccccc;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availgood
{
	background-color: green;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availwarn
{
	background-color: #ffff33;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

td.availcrit
{
	background-color: #ff3333;
	font-weight: bold;
        text-align: right;
	border: 2pt solid black;
	padding: 2px;
}

#eventlist
{
        clear: both;
        padding: 0.1em 1.0em 0.75em 0.75em;
}

#include-bookmark
{
}

#include-eventlist td.sev_indeterminate
{
        background-color: lightblue;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_cleared
{
        background-color: white;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_normal
{
        background-color: green;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_warning
{
        background-color: cyan;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_minor
{
        background-color: yellow;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_major
{
        background-color: orange;
	border: 2pt solid black;
	padding: 2px;
}

#include-eventlist td.sev_critical
{
        background-color: red;
	border: 2pt solid black;
	padding: 2px;
}

#include-charts
{ 
	text-align: center;
	clear: both;
}

#graph-results
{ 
	text-align: center;
}

/*#graph-results-periods td */

#graph-results .periods td
{ 
  width: 80px;
  text-align: center;
}

#header
{
        margin-bottom: 2em;
}

#headertop
{ 
        background: url(../images/logo-background.gif) repeat;
/*        height: 82px; */
}

div.spacer
{
        clear: both;
        height: 0px;
}

div.center
{
        align: center;
}

#headerlogo
{
        width: 30%;
        float: left;
        padding: 6px 2px 6px 2px;
}

#headerlogo a img
{
	border: none;
}

#headertitle
{
        width: 50%;
        float: left;
	font-weight: bold;
        text-align: center;
        height: 82px;
        line-height: 82px;
        vertical-align: middle;
}

#headerinfo
{
        float: right;
        text-align: right;
        padding: 4px;
	font-weight: bold;
        vertical-align: middle;
}

#headerdate
{
        float: right;
        text-align: right;
	font-weight: bold;
/*        padding-bottom: 4px; */
        vertical-align: middle;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

#headernavbarleft
{
        clear: both;
        float: left;
        padding: 2px;
        font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#headernavbarright
{
	float: right;
        padding: 2px;
        font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

#contentleft
{
        width: 48%;
        float: left;
}

#contentleft td
{
        padding: 2px;
}

#contentright
{
        width: 48%;
        float: right;
}

#index-contentleft
{
        width: 24%;
        float: left;
        padding-left: 1%;
}

#index-contentmiddle
{
        width: 48%;
        float: left;
        padding-left: 1%;
}

#index-contentright
{
        width: 24%;
        float: right;
        padding-left: 1%;
        padding-right: 1%;
}

#prefooter
{
        clear: both;
        padding-top: 16px;
}

#footer
{
        text-align: center;
        padding: 2px;
	background-color: #c9dfc9;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}

/*
#footer a
{
        padding: 0 0.25em;
	border: 1px solid #ffffff;
}
*/

#copyright
{
        text-align: center;
        padding: 3px;
        font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
}


/* XXX hacking for vertical centering */

#outer
{
	height: 82px;
	overflow: hidden;
	position: relative;
}

#outer[id]
{
	display: table;
	position: static;
}

#middle
{
	position: absolute;
	top: 50%;
}  /* for explorer only*/

#middle[id]
{
	display: table-cell;
	vertical-align: middle;
	position: static;
}

#inner
{
	position: relative;
	top: -50%
}  /* for explorer only */

/* optional:
#inner[id]
{
	position: static;
}
*/

/* Graph zoom styling */
#zoomSensitiveZone div
{
	position: absolute;
	overflow: none;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	visibility: visible;
	cursor: crosshair;
	background: blue;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

#zoomBox div
{
	position: absolute;
	overflow: none;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	visibility: visible;
	background: red;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: .5;
	opacity: 0.5;
}

