
/* Color the unvisited and visited links the same blue */
A:link    { color: #0000cc }
A:active  { color: #ff0000 }
A:visited { color: #0000cc }

/* I don't specify the margins here because Netscape 4.x ignores them. */
BODY {
 	margin: 0px;
  	padding: 0px;
	background:    #ffffff;
	color:         #000000;
}


TD.footer
{
	background:    #c9dfc9;
}



/* Widget Box Body */
.widget-box
{
    background : #cccccc;    
}


/*
 * value in a widget-box that serves as the fieldname for the value to its right 
 */
.widget-box-fieldname
{
    background : #999999; 

}

TR.eventlist-head
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color : #999999;
}

TR.eventlist-odd
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color : white;
}
TR.eventlist-even
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color : #cccccc;
}


