<div>
    <!-- Paging controls -->

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-8" ng-show="(query.totalItems / query.limit) > 1">
            <div style="margin: 0px;" uib-pagination
                 ng-model="query.page"
                 total-items="query.totalItems"
                 items-per-page="query.limit"
                 rotate="true"
                 boundary-links="true"
                 max-size="5"
                 boundary-link-numbers="true">
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-4">
            <pre class="pull-right" ng-show="query.totalItems == 0">No items found.</pre>
            <pre class="pull-right" ng-show="query.totalItems > 0">{{query.totalItems / query.page === 1
            ? "Item " + (query.offset + 1)
            : "Items " + ((query.page - 1) * query.limit + 1) + " - " + (query.page * query.limit > query.totalItems ? query.totalItems : query.page * query.limit)}} ({{query.totalItems}} total)</pre>
        </div>
    </div>

    <!-- Content for pagination -->
    <div ng-transclude></div>
</div>