Source: opennms-sentinel
Maintainer: Benjamin Reed <ranger@opennms.org>
Section: contrib/net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), dpkg-dev, oracle-java25-installer | jdk-25 | adoptopenjdk-25-openj9xl | adoptopenjdk-25-openj9 | adoptopenjdk-25-hotspot | openjdk-25-jdk-headless | openjdk-25-jdk | java25-jdk | temurin-25-jdk, rsync

Package: opennms-sentinel
Architecture: all
Depends: adduser, openssh-client, uuid-runtime, sudo
Recommends: openjdk-25-jre-headless | openjdk-25-jre | adoptopenjdk-25-openj9xl-jre | adoptopenjdk-25-openj9-jre | adoptopenjdk-25-hotspot-jre | temurin-25-jdk | jdk-25, jicmp (>= 2.0.0), jicmp6 (>= 2.0.0)
Provides: opennms-plugin-api (= OPA_VERSION)
Description: horizontal scaling for OpenNMS
 OpenNMS Sentinel is a container for running a subset of OpenNMS
 services in a standalone container, suitable for horizontally
 scaling some subsystems, like flow telemetry processing.
