Source: opennms-sentinel
Maintainer: Benjamin Reed <ranger@opennms.org>
Section: contrib/net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), dpkg-dev, oracle-java21-installer | jdk-21 | adoptopenjdk-21-openj9xl | adoptopenjdk-21-openj9 | adoptopenjdk-21-hotspot | openjdk-21-jdk-headless | openjdk-21-jdk | java21-jdk | temurin-21-jdk, rsync

Package: opennms-sentinel
Architecture: all
Depends: adduser, openssh-client, uuid-runtime, sudo
Recommends: openjdk-21-jre-headless | openjdk-21-jre | adoptopenjdk-21-openj9xl-jre | adoptopenjdk-21-openj9-jre | adoptopenjdk-21-hotspot-jre | temurin-21-jdk | jdk-21, jicmp (>= 2.0.0), jicmp6 (>= 2.0.0)
Provides: opennms-plugin-api (= OPA_VERSION)
Description: horizontal scaling for OpenNMS
 OpenNMS Sentinel is a container for running a subset of OpenNMS
 services in a standalone container, suitable for horizontally
 scaling some subsystems, like flow telemetry processing.
