@def selectionBorderWidth 1px;
.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

.cellTableFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: 0;
}

.cellTableHeader {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: white;
  text-shadow: none;
}


.cellTableCell {
  padding: 2px 15px;
  background: inherit;
}

.cellTableFirstColumnFooter {
  
}

.cellTableFirstColumnHeader {
  
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableEvenRow {
/*   background: #ff00ff; */
}

.cellTableEvenRowCell {
/*   border: selectionBorderWidth solid #ffffff; */
/*   background-color: #ffffff; */
}

.cellTableOddRow {
/*   background: #f3f7fb; */
}

.cellTableOddRowCell {
/*   border: selectionBorderWidth solid #f3f7fb; */
/*   background-color: #f3f7fb; */
}

.cellTableHoveredRow {
  background: #eee;
}

.cellTableHoveredRowCell {
/*   border: selectionBorderWidth solid #eee; */
  background-color: #eee;
}

.cellTableKeyboardSelectedRow {
  background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
  border: selectionBorderWidth solid #ffc;
}

.cellTableSelectedRow {
  background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid #628cd5;
  background-color: #628cd5;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
  border: selectionBorderWidth solid #628cd5;
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}
