.pageDetails {
  padding: 4px 8px;
  text-align: center;
  border: none;
}

.button {
  padding: 4px;
  cursor: pointer;
  cursor: hand;
  border: none;
}

.disabledButton {
  cursor: default;
  border: none;
}