<?xml version="1.0" encoding="utf-8"?>
<jnlp
  spec="1.5+"
  codebase="$$codebase"
  href="$$name">
  <information>
    <title>OpenNMS Remote Poller API</title>
    <vendor>The OpenNMS Group</vendor>
    <homepage>http://www.opennms.org/</homepage>
    <description>Remote Poller API for OpenNMS Distributed Monitoring</description>
  </information>
  <security>
      <all-permissions/>
  </security>
  <resources>
    <j2se version="1.5+"/>
    $dependencies
  </resources>
  <component-desc />
</jnlp> 
