<?xml version="1.0" encoding="utf-8"?>
<!-- JNLP File for OpenNMS Remote Monitoring GUI -->
<jnlp
  spec="1.5+"
  codebase="$$codebase"
  href="$$name">
  <information>
    <title>OpenNMS Remote Poller</title>
    <vendor>The OpenNMS Group</vendor>
    <shortcut online="false">
      <desktop/>
      <menu submenu="OpenNMS"/>
    </shortcut>
  </information>
  <security>
      <all-permissions/>
  </security>
  <resources>
    <j2se version="1.5+"/>
    $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>--gui</argument>
    <argument>--url</argument>
    <argument>$$context</argument>
  </application-desc>
</jnlp> 
