@CHARSET "UTF-8";
@import "../opennms/styles.css";

/** Ensure that tables don't have their font style/size overridden by GWT's standard.css */
.v-app table td {
    font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
    font-size: 12px;
}

.v-table-table {
    border-collapse: collapse;
}

/*** Vertex Styles ***/
.vertex:hover{
	opacity: 0.8;
}

.vertex .highlight{
	opacity: 0;
	fill: #00ffff;
}

.vertex.selected .highlight{
    opacity: 1;
    stroke: #00ffff;
}

/*** End Vertex Styles***/

.toolbar-button{
	
}

.v-toolbar-button .v-button-wrap{
    padding: 4px 4px 0 1px;
}

/**
 * SPC-506: Get rid of P tag margins to tighten up tooltip display
 */
.v-tooltip P {
    margin: 0px;
}

div.v-button.v-button-toolbar-button.toolbar-button > span {
	padding: 4px 4px 0 1px;
}

div.v-button-down{
	background-image: url(../reindeer/button/img/button-sprites.png);
	background-position: left -208px;
}

div.v-button-down .v-button-wrap{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% -234px;
    background-image: url(../reindeer/button/img/button-sprites.png);
}

div.v-table-header-wrap {
    text-transform: none;
}

.semantic-zoom-button .v-button-wrap{
	padding: 7px 4px 0 1px;
}

.edge {
	stroke: #ccc;
}

.edge.selected {
	stroke: #00ffff;
}

.edge.ncs {
	stroke: #4D6C80;
}

.edge.ncs.direct {
	stroke: #FFD700;
}

.edge.ncs.selected {
	stroke: #00ffff;
}

.map-controls {
	background-color: #eeeeee;
	border-left: 1px solid #dddddd;
	
}


/**
 * Table row CSS. Coordinate these class names with the values inside:
 *
 * org.opennms.features.topology.app.internal.support.AlarmTableCellStyleGenerator
 */

/* The padding: 20px is handled by adding &nbsp;s with a ColumnGenerator */
.v-table-cell-content-bright { /* padding-left: 20px; */ background-position: top left; background-repeat: repeat-y; }

.v-table-row-alarm-minor,
.v-table-row-alarm-minor-noack { 
  border-top: 2px solid #FF9900 !important;
}
.v-table-row-alarm-minor-noack { 
  font-weight: bold;
}
.v-table-row-alarm-minor.v-table-row,
.v-table-row-alarm-minor-noack.v-table-row {
  background-color: #FFEBCD;
}
.v-table-row-alarm-minor.v-table-row-odd,
.v-table-row-alarm-minor-noack.v-table-row-odd {
  background-color: #F8E4C6;
}
.v-table-row-alarm-minor .v-table-cell-content-bright,
.v-table-row-alarm-minor-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMinor.png);
}

.v-table-row-alarm-critical,
.v-table-row-alarm-critical-noack { 
  border-top: 2px solid #CC0000 !important;
}
.v-table-row-alarm-critical-noack { 
  font-weight: bold;
}
.v-table-row-alarm-critical.v-table-row,
.v-table-row-alarm-critical-noack.v-table-row {
  background-color: #F5CDCD;
}
.v-table-row-alarm-critical.v-table-row-odd,
.v-table-row-alarm-critical-noack.v-table-row-odd {
  background-color: #EEC6C6;
}
.v-table-row-alarm-critical .v-table-cell-content-bright,
.v-table-row-alarm-critical-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCritical.png);
}

.v-table-row-alarm-major,
.v-table-row-alarm-major-noack { 
  border-top: 2px solid #FF3300 !important;
}
.v-table-row-alarm-major-noack { 
  font-weight: bold;
}
.v-table-row-alarm-major.v-table-row,
.v-table-row-alarm-major-noack.v-table-row {
  background-color: #FFD7CD;
}
.v-table-row-alarm-major.v-table-row-odd,
.v-table-row-alarm-major-noack.v-table-row-odd {
  background-color: #F8D0C6;
}
.v-table-row-alarm-major .v-table-cell-content-bright,
.v-table-row-alarm-major-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMajor.png);
}

.v-table-row-alarm-warning,
.v-table-row-alarm-warning-noack { 
  border-top: 2px solid #FFCC00 !important;
}
.v-table-row-alarm-warning-noack { 
  font-weight: bold;
}
.v-table-row-alarm-warning.v-table-row,
.v-table-row-alarm-warning-noack.v-table-row {
  background-color: #FFF5CD;
}
.v-table-row-alarm-warning.v-table-row-odd,
.v-table-row-alarm-warning-noack.v-table-row-odd {
  background-color: #F8EEC6;
}
.v-table-row-alarm-warning .v-table-cell-content-bright,
.v-table-row-alarm-warning-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgWarning.png);
}

.v-table-row-alarm-indeterminate,
.v-table-row-alarm-indeterminate-noack { 
  border-top: 2px solid #999000 !important;
}
.v-table-row-alarm-indeterminate-noack { 
  font-weight: bold;
}
.v-table-row-alarm-indeterminate.v-table-row,
.v-table-row-alarm-indeterminate-noack.v-table-row {
  background-color: #EBEBCD;
}
.v-table-row-alarm-indeterminate.v-table-row-odd,
.v-table-row-alarm-indeterminate-noack.v-table-row-odd {
  background-color: #E4E4C6;
}
.v-table-row-alarm-indeterminate .v-table-cell-content-bright,
.v-table-row-alarm-indeterminate-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgIndeterminate.png);
}

.v-table-row-alarm-normal,
.v-table-row-alarm-normal-noack { 
  border-top: 2px solid #336600 !important;
}
.v-table-row-alarm-normal-noack { 
  font-weight: bold;
}
.v-table-row-alarm-normal.v-table-row,
.v-table-row-alarm-normal-noack.v-table-row {
  background-color: #D7E1CD;
}
.v-table-row-alarm-normal.v-table-row-odd,
.v-table-row-alarm-normal-noack.v-table-row-odd {
  background-color: #D0DAC6;
}
.v-table-row-alarm-normal .v-table-cell-content-bright,
.v-table-row-alarm-normal-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgNormal.png);
}

.v-table-row-alarm-cleared,
.v-table-row-alarm-cleared-noack { 
  border-top: 2px solid #999 !important;
}
.v-table-row-alarm-cleared-noack { 
  font-weight: bold;
}
.v-table-row-alarm-cleared.v-table-row,
.v-table-row-alarm-cleared-noack.v-table-row {
  background-color: #EEEEEE;
}
.v-table-row-alarm-cleared.v-table-row-odd,
.v-table-row-alarm-cleared-noack.v-table-row-odd {
  background-color: #E7E7E7;
}
.v-table-row-alarm-cleared .v-table-cell-content-bright,
.v-table-row-alarm-cleared-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCleared.png);
}


/******** Status Styles ********/
.vertex .status.cleared,
.vertex .status.normal, 
.vertex .status.indeterminate,
.vertex .status.warning, 
.vertex .status.minor,
.vertex .status.major,
.vertex .status.critical {
	opacity: 1;
}

.vertex .status.cleared{
	fill:#999;
}

.vertex .status.normal{
	fill:#336600;
}

.vertex .status.indeterminate{
	fill:#999000;
}

.vertex .status.warning{
	fill:#FFCC00;
}

.vertex .status.minor{
	fill:#FF9900;
}
.vertex .status.major{
	fill:#FF3300;
}

.vertex .status.critical{
	fill:#CC0000;
}

.status-counter {
  min-width: 8px;
  height: 20px;
  line-height: 20px;
  margin-top: -11px;
  padding: 0 6px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.node-status-counter {
  overflow: visible;
}
