@CHARSET "UTF-8";
@import "../opennms/styles.css";

.topo-root-layout {
    width: 100%;
    height: auto;
    bottom: 0;
}

.opacity-50{
    opacity: 0.5;
    -moz-opacity:0.5;
}

.opacity-40{
    opacity: 0.4;
    -moz-opacity:0.4;
}

.center-text{
    text-align: center;
}

/** Ensure that tables don't have their font style/size overridden by GWT's standard.css */
.v-app table td {
    font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
    font-size: 12px;
}

.v-table-table {
    border-collapse: collapse;
}

.toolbar-button{
	
}

.v-toolbar-button .v-button-wrap{
    padding: 4px 4px 0 1px;
}

/**
 * SPC-506: Get rid of P tag margins to tighten up tooltip display
 */
.v-tooltip P {
    margin: 0px;
}

/**
* Button Styles
*/
div.v-button.v-button-toolbar-button.toolbar-button > span {
	padding: 4px 4px 0 1px;
}

div.v-button-down{
	background-image: url(../reindeer/button/img/button-sprites.png);
	background-position: left -208px;
}

div.v-button-down .v-button-wrap{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% -234px;
    background-image: url(../reindeer/button/img/button-sprites.png);
}

div.v-table-header-wrap {
    text-transform: none;
}

.semantic-zoom-button .v-button-wrap{
	padding: 7px 4px 0 1px;
}

.v-slot-slider-tool{
    padding: 0px 0 2px 6px;
}
/**
* End Button styles
*/

/**
* Toolbar spacing
*/
.v-vertical > .v-spacing {
    height: 10px;
}

.v-horizontal > .v-spacing {
    width: 5px;
}
/**
* End toolbar spacing
*/

.edge {
	stroke: #ccc;
}

.edge.up{
    stroke:#336600;
}

.edge.down{
    stroke:#CC0000;
}

.edge.selected {
	stroke: #00ffff;
}

.edge.ncs {
	stroke: #4D6C80;
}

.edge.ncs.direct {
	stroke: #FFD700;
}

.edge.ncs.selected {
	stroke: #00ffff;
}

.edge.ncs.down{
    stroke:#CC0000;
}

.edge.ncs.up{
    stroke:#336600;
}

.map-controls {
	background-color: #ffffff;
	border-left: 1px solid #dddddd;
    width: 100%;
    height: 100%;
}


/** Vertex Styles **/
.vertex .icon-container {
    pointer-events: none;
}



/******** Status Styles ********/
.vertex .status.selected,
.vertex .status.cleared,
.vertex .status.normal, 
.vertex .status.indeterminate,
.vertex .status.warning, 
.vertex .status.minor,
.vertex .status.major,
.vertex .status.critical {
	opacity: 1;
}

.vertex .status.cleared{
	stroke:#999;
	fill: #999;
}

.vertex .status.normal{
	stroke:#336600;
	fill: #336600;
}

.vertex .status.indeterminate{
	stroke:#999000;
	fill:#999000;
}

.vertex .status.warning{
	stroke:#FFCC00;
	fill:#FFCC00;
}

.vertex .status.minor{
	stroke:#FF9900;
	fill:#FF9900;
}
.vertex .status.major{
	stroke:#FF3300;
	fill:#FF3300;
}

.vertex .status.critical{
	stroke:#CC0000;
	fill:#CC0000;
}

.vertex .status.selected{
    stroke: #91C054;
    stroke: #91C054;
}

.status-counter {
  stroke: white;
  fill: white;

}

.node-status-counter {
  overflow: visible;
}

/*** End Vertex Styles***/

/** SearchBox Styles **/
.search-token-field {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    background-color: #6EC0FF;
    color: black;
	padding: 2px 5px 2px 5px;
	margin: 1px;
}

.search-token-field a:hover{
	color:white;
}

.search-token-namespace{
	font-weight: bold;
	padding-right: 5px;
}

.search-token-label{
    padding-right: 8px;
    max-width: 156px;
    word-wrap: break-word;
}

.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
  height: 450px;
  overflow: auto !important;
  font-family: Helvetica, Arial, sans-serif;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #cdcdcd;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: url(../images/chrome/hborder.png) repeat-x;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: url(../images/chrome/hborder.png) repeat-x 0px -4px;
  -background: url(../images/chrome/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: url(../images/chrome/vborder.png) repeat-y;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: url(../images/chrome/vborder.png) repeat-y -4px 0px;
  -background: url(../images/chrome/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(../images/chrome/corner.png) no-repeat 0px -23px;
  -background: url(../images/chrome/corner_ie6.png) no-repeat 0px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(../images/chrome/corner.png) no-repeat -5px -23px;
  -background: url(../images/chrome/corner_ie6.png) no-repeat -5px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(../images/chrome/corner.png) no-repeat 0px -28px;
  -background: url(../images/chrome/corner_ie6.png) no-repeat 0px -28px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(../images/chrome/corner.png) no-repeat -5px -28px;
  -background: url(../images/chrome/corner_ie6.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

/** End Search Box Styles **/

/** HUD Display Styles **/
.topoHudDisplay {
	border-width: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;

}

.topoHudDisplay td{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	text-align: right;
}

.topoHudDisplay th{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
