@CHARSET "UTF-8";
@import "../reindeer/legacy-styles.css";

/** Ensure that tables don't have their font style/size overridden by GWT's standard.css */
.v-app table td {
    font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
    font-size: 12px;
}

/*** Vertex Styles ***/
.vertex:hover{
	opacity: 0.8;
}

.vertex .highlight{
	opacity: 0;
	fill: #00ffff;
}

.vertex.selected .highlight{
    opacity: 1;
    stroke: #00ffff;
}

/*** End Vertex Styles***/

.toolbar-button{
	
}

.v-toolbar-button .v-button-wrap{
    padding: 4px 4px 0 1px;
}

/**
 * SPC-506: Get rid of P tag margins to tighten up tooltip display
 */
.v-tooltip P {
    margin: 0px;
}

div.v-button.v-button-toolbar-button.toolbar-button > span {
	padding: 4px 4px 0 1px;
}

div.v-button-down{
	background-image: url(../reindeer/button/img/button-sprites.png);
	background-position: left -208px;
}

div.v-button-down .v-button-wrap{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% -234px;
    background-image: url(../reindeer/button/img/button-sprites.png);
}

div.v-table-header-wrap {
    text-transform: none;
}

.semantic-zoom-button .v-button-wrap{
	padding: 7px 4px 0 1px;
}

.edge {
	stroke: #ccc;
}

.edge.selected {
	stroke: #00ffff;
}

.edge.ncs {
	stroke: #4D6C80;
}

.edge.ncs.selected {
	stroke: #00ffff;
}

.map-controls {
	background-color: #eeeeee;
	border-left: 1px solid #dddddd;
	
}


/**
 * Table row CSS. Coordinate these class names with the values inside:
 *
 * org.opennms.features.topology.app.internal.support.AlarmTableCellStyleGenerator
 */
.v-table-row-alarm-table-minor.v-table-row { background-color: #FFEBCD; }
.v-table-row-alarm-table-minor.v-table-row-odd { background-color: #F8E4C6; }

.v-table-row-alarm-table-critical.v-table-row { background-color: #F5CDCD; }
.v-table-row-alarm-table-critical.v-table-row-odd { background-color: #EEC6C6; }

.v-table-row-alarm-table-major.v-table-row { background-color: #FFD7CD; }
.v-table-row-alarm-table-major.v-table-row-odd { background-color: #F8D0C6; }

.v-table-row-alarm-table-warning.v-table-row { background-color: #FFF5CD; }
.v-table-row-alarm-table-warning.v-table-row-odd { background-color: #F8EEC6; }

.v-table-row-alarm-table-indeterminate.v-table-row { background-color: #EBEBCD; }
.v-table-row-alarm-table-indeterminate.v-table-row-odd { background-color: #E4E4C6; }

.v-table-row-alarm-table-normal.v-table-row { background-color: #D7E1CD; }
.v-table-row-alarm-table-normal.v-table-row-odd { background-color: #D0DAC6; }

.v-table-row-alarm-table-cleared.v-table-row { background-color: #EEEEEE; }
.v-table-row-alarm-table-cleared.v-table-row-odd { background-color: #E7E7E7; }


/******** Status Styles ********/
.vertex .status.cleared,
.vertex .status.normal, 
.vertex .status.indeterminate,
.vertex .status.warning, 
.vertex .status.minor,
.vertex .status.major,
.vertex .status.critical {
	opacity: 1;
}

.vertex .status.cleared{
	fill:#999;
}

.vertex .status.normal{
	fill:#336600;
}

.vertex .status.indeterminate{
	fill:#999000;
}

.vertex .status.warning{
	fill:#FFCC00;
}

.vertex .status.minor{
	fill:#FF9900;
}
.vertex .status.major{
	fill:#FF3300;
}

.vertex .status.critical{
	fill:#CC0000;
}

/*  --------------------------------------------------
    :: Header
    -------------------------------------------------- */
    #header {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: #333;
        background-image: url(images/headerbg.png);
        background-repeat: repeat-x;
        color: #FFF;
        font-family: "Lucida Grande", Verdana, sans-serif;
        /* height: 100px; */
        font-size: 13px;
    }
    #header a {
        color:#FFF;
        text-decoration: none;
    }
    
    #header a:hover{
        text-decoration: underline;   
    }
    
    h1#headerlogo {
        position: absolute;
        z-index: 2;
        margin: 0;
        padding: 0;
        left: 15px;
        top: 13px;
    }
    #headerinfo {
        position: relative;
        margin: 0px;
        padding: 10px 10px 24px;
        text-align: right;
    }
    #headerinfo h2{
        margin: 0;
        font-size: 13px;
    }
    
    #headerinfo p{
        margin-top: 0px;
        font-size: 11px;
    }
    
    .onmsheader .v-panel-content{
         border: 0px;   
    }
    
    .onmsheader .v-panel-captionwrap{
        height: 0px;
    }
    
    #notificationOff{
        color: #ef2929;
    }

    #notificationOn{
        color: #73d216;
    }
    
    /*  --------------------------------------------------
    :: Navigation
    -------------------------------------------------- */
    /*Top Level Nav in the Grey Header area */
    .navbar ul{ 
        list-style: none;
        display: inline;
    }
        
    .navbar li{ 
        padding: 0 10px 5px 0;
        list-style: none;
        display: inline;
        color: #999;
        font-size: 11px;
        line-height: 1.25em;
    }
    
    .navbar a{
        text-decoration: none;
    }
    
    #linkbar{ padding: 0 0 1em 0; }
    #linkbar ul{ list-style: none; display: inline; padding: 0 0 0 0; }
    #linkbar li{ list-style: none; display: inline; padding-right: 0.75em; }
    
    #headernavbarright {
        /*
        position: relative;
        float: right;
        */
        padding: 2px 0px 5px 0px;
    }
