<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


  <!-- ======================= LDAP AUTHENTICATION ====================== -->
  <!--
       To use LDAP Authentication, uncomment the following section to enable
       the ldapAuthenticationProvider, and uncomment the reference to
       ldapAuthenticationProvider in the authenticationManager bean above.

       Make sure that you set the LDAP server hostname below where it says
       "%%%put LDAP server address here%%%" and that you set the attribute
       in the user's entry that you store OpenNMS roles in where it says
       "%%%put role attribute here%%%".

       If you would like to use LDAP groups to assign roles to users, use bean
       groupLdapAuthoritiesPopulator and reference it in bean
       ldapAuthenticationProvider instead of the default
       userAttributeLdapAuthoritiesPopulator.  The userGroups, adminGroups,
       rtcGroups, readonlyGroups, and dashboardGroups properties may be used
       to associate LDAP groups with OpenNMS roles.
   -->
  <!--
  <bean id="initialDirContextFactory"
        class="org.springframework.security.ldap.DefaultInitialDirContextFactory">
    <constructor-arg value="ldap://%%%put LDAP server address here%%%:389/"/>
  </bean>

  <bean id="userSearch"
        class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
    <constructor-arg index="0">
      <value></value>
    </constructor-arg>
    <constructor-arg index="1">
      <value>(login={0})</value>
    </constructor-arg>
    <constructor-arg index="2">
      <ref local="initialDirContextFactory" />
    </constructor-arg>
    <property name="searchSubtree">
      <value>true</value>
    </property>
  </bean>

  <bean id="userAttributeLdapAuthoritiesPopulator"
        class="org.opennms.web.springframework.security.UserAttributeLdapAuthoritiesPopulator">
    <constructor-arg><ref local="initialDirContextFactory"/></constructor-arg>
    <constructor-arg><value>%%%put role attribute here%%%</value></constructor-arg>
  </bean>

  <bean id="groupLdapAuthoritiesPopulator"
       class="org.opennms.web.springframework.security.UserGroupLdapAuthoritiesPopulator">
   <constructor-arg><ref local="initialDirContextFactory"/></constructor-arg>
   <constructor-arg>
     <value>%%% put your search group path here%%%</value>
   </constructor-arg>
   <property name="groupRoleAttribute"><value>cn</value></property>
   <property name="searchSubtree"><value>false</value></property>
   <property name="convertToUpperCase"><value>true</value></property>
   <property name="userGroups">
        <list>
                <value>OPENNMS_USER</value>
                <value>OPENNMS_ADMIN</value>
                <value>any group</value>
        </list>
   </property>
   <property name="adminGroups">
        <list>
                <value>OPENNMS_ADMIN</value>
        </list>
   </property>
  </bean>

  <bean id="ldapAuthenticationProvider"
        class="org.springframework.security.providers.ldap.LdapAuthenticationProvider">
    <constructor-arg>
      <bean class="org.springframework.security.providers.ldap.authenticator.BindAuthenticator">
        <constructor-arg><ref local="initialDirContextFactory"/></constructor-arg>
        <property name="userSearch"><ref bean="userSearch"/></property>
      </bean>
    </constructor-arg>
    <constructor-arg>
      <ref bean="userAttributeLdapAuthoritiesPopulator"/>
    </constructor-arg>
  </bean>
   -->


</beans>
