<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename">
      <value>messages</value>
    </property>
  </bean>

 
  <bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
    <property name="filterInvocationDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /**=httpSessionContextIntegrationFilter,basicProcessingFilter,rememberMeProcessingFilter,anonymousProcessingFilter,securityEnforcementFilter
      </value>
    </property>
  </bean>

 
  <bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="providers">
      <list>
        <ref local="daoAuthenticationProvider"/>
        <ref local="anonymousAuthenticationProvider"/>
        <ref local="rememberMeAuthenticationProvider"/>
      </list>
    </property>
  </bean>

 
  <bean id="daoAuthenticationProvider" class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="authenticationDao">
      <ref local="inMemoryDaoImpl"/>
    </property>
  </bean>

 
  <bean id="inMemoryDaoImpl" class="org.acegisecurity.providers.dao.memory.InMemoryDaoImpl">
    <property name="userMap">
      <value>    
        superuser=password,ROLE_OPENNMS ADMINISTRATOR,ROLE_OPENNMS RTC DAEMON,ROLE_OPENNMS USER
      </value>
    </property>
  </bean>

 
  <bean id="anonymousProcessingFilter" class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
    <property name="key">
      <value>foobar</value>
    </property>
    <property name="userAttribute">
      <value>anonymousUser,ROLE_ANONYMOUS</value>
    </property>
  </bean>

 
  <bean id="anonymousAuthenticationProvider" class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="key">
      <value>foobar</value>
    </property>
  </bean>

 
  <bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>

 
  <bean id="rememberMeProcessingFilter" class="org.acegisecurity.ui.rememberme.RememberMeProcessingFilter">
    <property name="rememberMeServices">
      <ref local="rememberMeServices"/>
    </property>
  </bean>

 
  <bean id="rememberMeServices" class="org.acegisecurity.ui.rememberme.TokenBasedRememberMeServices">
    <property name="authenticationDao">
      <ref local="inMemoryDaoImpl"/>
    </property>
    <property name="key">
      <value>springRocks</value>
    </property>
  </bean>

 
  <bean id="rememberMeAuthenticationProvider" class="org.acegisecurity.providers.rememberme.RememberMeAuthenticationProvider">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="key">
      <value>springRocks</value>
    </property>
  </bean>

 
  <bean id="securityEnforcementFilter" class="org.acegisecurity.intercept.web.SecurityEnforcementFilter">
    <property name="filterSecurityInterceptor">
      <ref local="filterInvocationInterceptor"/>
    </property>
    <property name="authenticationEntryPoint">
      <ref local="basicProcessingFilterEntryPoint"/>
    </property>
  </bean>

 
  <bean id="basicProcessingFilter" class="org.acegisecurity.ui.basicauth.BasicProcessingFilter">
    <property name="authenticationManager">
      <ref local="authenticationManager"/>
    </property>
    <property name="authenticationEntryPoint">
      <ref local="basicProcessingFilterEntryPoint"/>
    </property>
  </bean>

 
  <bean id="basicProcessingFilterEntryPoint" class="org.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
    <property name="realmName">
      <value>Your Realm</value>
    </property>
  </bean>

 
  <bean id="httpRequestAccessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="allowIfAllAbstainDecisions">
      <value>false</value>
    </property>
    <property name="decisionVoters">
      <list>
        <ref bean="roleVoter"/>
      </list>
    </property>
  </bean>

 
  <bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter"/>

 
  <bean id="filterInvocationInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
    <property name="messageSource">
      <ref local="messageSource"/>
    </property>
    <property name="authenticationManager">
      <ref bean="authenticationManager"/>
    </property>
    <property name="accessDecisionManager">
      <ref local="httpRequestAccessDecisionManager"/>
    </property>
    <property name="objectDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /admin/**=ROLE_OPENNMS ADMINISTRATOR
        /rtc/post/**=ROLE_OPENNMS RTC DAEMON
        /**=ROLE_OPENNMS USER
        /*=ROLE_ANONYMOUS
      </value>
    </property>
  </bean>


</beans>
