<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:webflow="http://www.springframework.org/schema/webflow-config"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/webflow-config
           http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.3.xsd">		

	<webflow:flow-executor id="flowExecutor">
			<webflow:flow-execution-listeners>
			<webflow:listener ref="securityFlowExecutionListener" />
		</webflow:flow-execution-listeners>
	</webflow:flow-executor>

    <webflow:flow-registry id="flowRegistry" base-path="/WEB-INF/flows">
       <webflow:flow-location-pattern value="/**/*-flow.xml" />
	</webflow:flow-registry>
	
<!-- 	
    <webflow:flow-registry id="flowRegistry" base-path="/WEB-INF/flows" flow-builder-services="flowBuilderServices">
       <webflow:flow-location-pattern value="/**/*-flow.xml" />
	</webflow:flow-registry>
	
	<webflow:flow-builder-services id="flowBuilderServices"

	<webflow:flow-builder-services id="flowBuilderServices" conversion-service="conversionService" />
	<bean id="conversionService" class="org.opennms.core.spring.web.ApplicationConversionService" />
	-->
	<bean id="securityFlowExecutionListener" class="org.springframework.webflow.security.SecurityFlowExecutionListener" />
	
</beans>
