@CHARSET "UTF-8";
@import "../opennms/styles.css?v=${buildNumber}";

.v-tree-node-invalid {
	color: #ff0000;
	background-image: url('../reindeer/common/icons/error.png') !important;
	background-repeat: no-repeat !important;
	background-position: left 50% !important;
	background-attachment: scroll !important;
}

.v-textarea-borderless {
	border: 0px;
}

label {
	margin: 0px 0px 0px 5px;
}
