@import "../opennms/styles.css";


.severity { padding-left: 20px; background-position: top left; background-repeat: repeat-y; }
.severity.Critical{ background-color: #F5CDCD; border-top: 2px solid #CC0000 !important; background-image: url(images/bgCritical.png); }
.severity.Major{ background-color: #FFD7CD; border-top: 2px solid #FF3300 !important; background-image: url(images/bgMajor.png); }
.severity.Minor{ background-color: #FFEBCD; border-top: 2px solid #FF9900 !important; background-image: url(images/bgMinor.png); }
.severity.Warning{ background-color: #FFF5CD; border-top: 2px solid #FFCC00 !important; background-image: url(images/bgWarning.png); }
.severity.Indeterminate{ background-color: #EBEBCD; border-top: 2px solid #999000 !important; background-image: url(images/bgIndeterminate.png); }
.severity.Normal{ background-color: #D7E1CD; border-top: 2px solid #336600 !important; background-image: url(images/bgNormal.png); }
.severity.Cleared { background-color: #EEEEEE; border-top: 2px solid #999999 !important; background-image: url(images/bgCleared.png); }
.severity.bright { padding-left: 20px; background-position: top left; background-repeat: repeat-y; }
.severity.nobright { background-image: none;}