<div ng-controller="ListCtrl">
    <div ng-controller="NodesListCtrl">

        <!-- Modal form for adding filters -->
        <div id="filterModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Filter form -->
                        <label>Add Filter:</label>
                        <form class="form-inline" onSubmit="$('#filterModal').modal('hide')" ng-submit="setSeverityFilter(clause)">
                            <div class="form-group">
                                <select class="form-control" ng-model="clause.property" ng-init="clause.property = 'severity'">
                                    <option value="severity">Severity</option>
                                </select>
                                <select class="form-control" ng-model="clause.operator" ng-init="clause.operator = 'EQ'">
                                    <option value="EQ">=</option>
                                    <option value="NE">!=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GE">&gt;=</option>
                                </select>
                                <select name="clause-value-severity" class="form-control" ng-model="clause.value">
                                    <option value="Normal">Normal</option>
                                    <option value="Warning">Warning</option>
                                    <option value="Minor">Minor</option>
                                    <option value="Major">Major</option>
                                    <option value="Critical">Critical</option>
                                </select>
                            </div>
                            <br/><br/>
                            <button class="btn btn-default btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Filter list -->
        <div class="well well-sm">
            <span class="h4" style="line-height:2.8;">
                Filters&nbsp;&nbsp;
                <a onClick="$('#filterModal').modal()"><i class="fa fa-filter fa-lg"></i></a>
                &nbsp;
                <a ng-click="clearSearch()"><i class="fa fa-eraser fa-lg"></i></a>
                &nbsp;
            </span>
            <span ng-hide="query.searchClauses.length == 0">
                <span ng-repeat="clause in query.searchClauses">
                    <div class="btn-group" style="margin:3px;">
                        <button class="btn btn-primary" ng-click="removeSearchClause(clause)">
                            {{clause.property | property}}
                            {{clause.operator | operator : clause.value}}
                            {{clause.value | value : clause.property}}
                            &nbsp;
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </span>
            </span>
            <!-- Type controls -->
            <div class="btn-group" stylye="padding-left: 20px">
                <button type="button" ng-click="setType('alarms')" class="btn btn-default {{type === 'alarms' ? 'active' : ''}}">Alarms</button>
                <button type="button" ng-click="setType('outages')" class="btn btn-default {{type === 'outages' ? 'active' : ''}}">Outages</button>
            </div>
        </div>

        <!-- Paging controls -->
        <div>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-default {{(query.offset-query.limit) &lt; 0 ? 'disabled' : ''}}" ng-click="setOffset(0)">
                        <i class="fa fa-backward"></i>&nbsp;&nbsp;First
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default {{(query.offset-query.limit) &lt; 0 ? 'disabled' : ''}}" ng-click="setOffset(query.offset-query.limit)">
                        <i class="fa fa-play fa-flip-horizontal"></i>&nbsp;&nbsp;Previous
                    </a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default" ng-click="setOffset(query.offset-(3*query.limit))" ng-hide="(query.offset-(3*query.limit)) &lt; 0" style="width:5em;">
                        {{(query.offset/query.limit) - 2}}
                    </a>
                    <a class="btn btn-default" ng-click="setOffset(query.offset-(2*query.limit))" ng-hide="(query.offset-(2*query.limit)) &lt; 0" style="width:5em;">
                        {{(query.offset/query.limit) - 1}}
                    </a>
                    <a class="btn btn-default" ng-click="setOffset(query.offset-query.limit)" ng-hide="(query.offset-query.limit) &lt; 0" style="width:5em;">
                        {{query.offset/query.limit}}
                    </a>
                    <a class="btn btn-default active" ng-show="query.maxOffset &gt; 0" style="width:5em;">
                        {{(query.offset/query.limit) + 1}}
                    </a>
                    <a class="btn btn-default" ng-click="setOffset(query.offset+query.limit)" ng-hide="(query.offset+query.limit) &gt; query.maxOffset" style="width:5em;">
                        {{(query.offset/query.limit) + 2}}
                    </a>
                    <a class="btn btn-default" ng-click="setOffset(query.offset+(2*query.limit))" ng-hide="query.offset+(2*query.limit) &gt; query.maxOffset" style="width:5em;">
                        {{(query.offset/query.limit) + 3}}
                    </a>
                    <a class="btn btn-default" ng-click="setOffset(query.offset+(3*query.limit))" ng-hide="query.offset+(3*query.limit) &gt; query.maxOffset" style="width:5em;">
                        {{(query.offset/query.limit) + 4}}
                    </a>
                </div>

                <div class="pull-right">
                    <div class="btn-group" style="margin-left:5px;">
                        <a class="btn btn-default {{(query.offset+query.limit) &gt; query.maxOffset ? 'disabled' : ''}}" ng-click="setOffset(query.offset + query.limit)">
                            Next&nbsp;&nbsp;<i class="fa fa-play"></i>
                        </a>
                    </div>

                    <div class="btn-group" style="margin-left:5px;">
                        <a class="btn btn-default {{(query.offset+query.limit) &gt; query.maxOffset ? 'disabled' : ''}}" ng-click="setOffset(1000000000)">
                            Last&nbsp;&nbsp;<i class="fa fa-forward"></i>
                        </a>
                    </div>
                </div>

                <h5 class="pull-right" ng-show="query.maxOffset &lt; 0">No items found.</h5>
                <h5 class="pull-right" ng-show="query.maxOffset &gt;= 0">{{query.offset === query.lastOffset ? "Item " + (query.offset + 1) : "Items " + (query.offset + 1) + " - " + (query.lastOffset + 1)}} ({{query.maxOffset + 1}} total)</h5>
            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <table class="table table-bordered severity">
                <tbody>
                <tr>
                    <th class="col-md-3 text-nowrap">
                        <a ng-click="changeOrderBy('severity')">Severity</a>
                        <i ng-show="query.orderBy === 'severity' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
                        <i ng-show="query.orderBy === 'severity' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
                    </th>
                    <th class="col-md-5 text-nowrap">
                        <a ng-click="changeOrderBy('label')">Node Label</a>
                        <i ng-show="query.orderBy === 'label' &amp;&amp; query.order === 'asc'" class="fa fa-sort-asc"/>
                        <i ng-show="query.orderBy === 'label' &amp;&amp; query.order === 'desc'" class="fa fa-sort-desc"/>
                    </th>
                    <th class="col-md-4">
                        Actions
                    </th>
                </tr>

                <tr ng-repeat="item in items" class="severity-{{item.severity | lowercase}}">
                    <td class="text-nowrap divider bright">
                        {{item['severity'] | severity}}
                    </td>
                    <td class="text-nowrap">
                        <a href="element/node.jsp?node={{item['id']}}">
                            {{item['name']}}
                        </a>
                    </td>
                    <td>
                        <a href="outage/list?outtype=current&filter=node={{item['id']}}" ng-show="item.severity != 'NORMAL' && type === 'outages'">
                            <i class="fa fa-external-link-square"></i> View Outages
                        </a>
                        <a href="alarm/list?sortby=lasteventtime&acktype=unack&filter=node={{item['id']}}" ng-show="item.severity != 'NORMAL' && type === 'alarms'">
                            <i class="fa fa-external-link-square"></i> View Alarms
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
