
.marker-cluster-Critical {
	background-color:rgba(245,205,205,0.8);
}
.marker-cluster-Critical div {
	background-color:rgba(204,0,0,0.8);
}
.marker-cluster-Major {
	background-color:rgba(255,215,205,0.8);
}
.marker-cluster-Major div {
	background-color:rgba(255,51,0,0.8);
}
.marker-cluster-Minor {
	background-color:rgba(255,235,205,0.8);
}
.marker-cluster-Minor div {
	background-color:rgba(255,153,0,0.8);
}
.marker-cluster-Warning {
	background-color:rgba(255,245,205,0.8);
}
.marker-cluster-Warning div {
	background-color:rgba(255,204,0,0.8);
}
.marker-cluster-Normal {
	background-color:rgba(215,225,0,0.8);
}
.marker-cluster-Normal div {
	background-color:rgba(51,102,0,0.8);
}
.marker-cluster div {
    position: absolute;
    top: 0;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

.Cleared {
	fill: #999;
	stroke: #999;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Normal {
	fill: #336600;
	stroke: #336600;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Minor{
	fill: #FF9900;
	stroke: #FF9900;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Major{
	fill: #FF3300;
	stroke: #FF3300;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Warning{
	fill: #FFCC00;
	stroke: #FFCC00;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Indeterminate{
	fill: #999000;
	stroke: #999000;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Critical{
	fill: #CC0000;
	stroke: #CC0000;
	opacity: 0.6;
	stroke-opacity: 0.6;
}

.Cleared:hover {
	fill: #999;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Normal:hover {
	fill: #336600;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Minor:hover {
	fill: #FF9900;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Major:hover {
	fill: #FF3300;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Warning:hover {
	fill: #FFCC00;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Indeterminate:hover {
	fill: #999000;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.Critical:hover {
	fill: #CC0000;
	opacity: 1.0;
	stroke-opacity: 1.0;
}

.node-marker-popup .leaflet-popup-content ul {
	list-style-type:none;
	padding-left:0;
}

table.node-marker-list {
	border-collapse:collapse;
	border-spacing:0;
}
table.node-marker-list td {
	padding:2px;
}
td.severity {
	text-align:center;
}
td.severity a {
	color:white;
	text-decoration:none;
}
td.severity.Critical {
	background-color:rgba(204,0,0,0.8);
}
td.severity.Major {
	background-color:rgba(255,51,0,0.8);
}
td.severity.Minor {
	background-color:rgba(255,153,0,0.8);
}
td.severity.Warning {
	background-color:rgba(255,204,0,0.8);
}
td.severity.Normal {
	background-color:rgba(51,102,0,0.8);
}

.leaflet-container .leaflet-control-zoom {
	margin-top: 48px;	
}

#node-map-overlay {
	pointer-events:none;
}

.leaflet-popup-content .node {
	word-wrap:break-word;
}

.leaflet-popup-scrolled {
	border-bottom:0;
	border-top:0;
}

.leaflet-control-search {
	box-shadow:0 1px 7px #999;
	background-color:transparent;
}

.leaflet-control-search .search-input {
	display:block;
	background-color:rgba(255, 255, 255, 0.95);
	border:1px solid #666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	height:30px;
	padding:5px;
	margin:0 0 0 5px;
}

.leaflet-control-search .search-autocomplete {
	max-width:500px;
	max-height:300px;

	display:block;
	float:left;
	background-color:rgba(255, 255, 255, 0.95);
	border:1px solid #666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:0;
	box-shadow:0 0 8px rgba(0,0,0,0.4);

	overflow-y:auto;
	overflow-x:auto;
	word-wrap:break-word;
}

.leaflet-control-search .search-autocomplete ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.leaflet-control-search .autocomplete-entry {
	padding:5px;
}

.leaflet-control-search .autocomplete-additional-info {
	font-style:italic;
	font-size:smaller;
	padding-left:10px;
}

.leaflet-control-alarm {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #888;
	background-color:rgba(255, 255, 255, 0.95);
	box-shadow:0 0 8px rgba(0,0,0,0.4);
	padding:5px;
	margin:0 5px 0 0;
	color:black;
}
