
                #
                # This configuration file defines the ACLs for various commands in the config subshell
                #
                # For an explanation of the syntax of this file, see the file:
                #   org.apache.karaf.command.acl.system.cfg
                #

                # OPENNMS: Disable config ACLs
                #cancel = manager
                #delete = admin
                #edit = manager
                #edit[/.*jmx[.]acl.*/] = admin
                #edit[/.*org[.]apache[.]karaf[.]command[.]acl[.].+/] = admin
                #edit[/.*org[.]apache[.]karaf[.]service[.]acl[.].+/] = admin
                #property-append = manager
                #property-append[/.*jmx[.]acl.*/] = admin
                #property-append[/.*org[.]apache[.]karaf[.]command[.]acl[.].+/] = admin
                #property-append[/.*org[.]apache[.]karaf[.]service[.]acl[.].+/] = admin
                #property-delete = manager
                #property-delete[/.*jmx[.]acl.*/] = admin
                #property-delete[/.*org[.]apache[.]karaf[.]command[.]acl[.].+/] = admin
                #property-delete[/.*org[.]apache[.]karaf[.]service[.]acl[.].+/] = admin
                #property-set = manager
                #property-set[/.*jmx[.]acl.*/] = admin
                #property-set[/.*org[.]apache[.]karaf[.]command[.]acl[.].+/] = admin
                #property-set[/.*org[.]apache[.]karaf[.]service[.]acl[.].+/] = admin
                #update = manager
