commands:
  save-maven-cache:
    description: "Maven: Save cache"
    steps:
      - run:
          name: clean up artifacts that should not be there
          command: .circleci/scripts/clean-m2.sh
      - save_cache:
          key: maven-dependencies-v6-{{ checksum "pom-version-cache.key" }}-{{ checksum "maven-dependency-pom-cache.key" }}
          paths:
            - ~/.m2
