.severity-CRITICAL {
	background-color: #f5cdcd;
}

.severity-MAJOR {
	background-color: #ffd7cd;
}

.severity-MINOR {
	background-color: #ffebcd;
}

.severity-WARNING {
	background-color: #fff5cd;
}

.severity-INDETERMINATE {
	background-color: #ebebcd;
}

.severity-NORMAL {
	background-color: #d7e1cd;
}

.severity-CLEARED {
	background-color: #eeeeee;
}

$node-summary-header-color: #ffffff;