body
{
	font-family: "Lucida Grande", Verdana, sans-serif;
	background: #fff;
	color: #000;
}

.section
{
	position: relative;
	left: 20px;
}

.author
{
	display: inline;
	font-size: medium;
}

div.author
{
	display: block;
}

h3.author:after
{
	content: " ";
}

div.abstract
{
	border: solid 2px;
	padding-left: 10pt;
	padding-right: 10pt;
}
pre.screen
{
	font-family: monospace;
	font-size: smaller;
	white-space: pre;
	position: relative;
	display: inline;
	margin: 20px;
	width: 70%;
	padding: 5px;
	background-color: #ffffcc;
	border: solid;
	color: #000000;
	border-color: #009999;
	border-left: solid #009999 2px;
	border-right: solid #009999 2px;
	border-top: solid #009999 2px;
	border-bottom: solid #009999 2px;
}

pre.programlisting
{
	font-family: monospace;
	font-size: smaller;
	white-space: pre;
	position: relative;
	margin: 20px;
	width: 70%;
	padding: 5px;
	background-color: #ffffcc;
	border: solid;
	color: #000000;
	border-color: #009999;
	border-left: solid #009999 2px;
	border-right: solid #009999 2px;
	border-top: solid #009999 2px;
	border-bottom: solid #009999 2px;
}

.title a {
	color: #ffffff; 
	text-decoration: none;
}

.title a:active {
	color: #ffffff; 
	text-decoration: none;
}

.title a:visited {
	color: #ffffff; 
	text-decoration: none;
}

.subtitle {
	font-size: small;
	font-style: italic;
}

h1
{
	color: #ffffff;
	border: solid 3px #a0a0d0;
	background-color: #606090;
	font-variant: small-caps;
}

h1.title
{
	font-size: x-large;
	background-image: url(headingbg.png);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #366903;
	color: #fff;
	border: 1px solid #999;
	border-bottom: 0;
	margin-bottom: 0;
	padding: 5px;
}

h2
{
	color: #ffffff;
	border: solid 3px #a0a0d0;
	background-color: #606090;
	font-variant: small-caps;
}

h2.title
{       
	display: inline;
	font-size: medium;
	background-image: url(headingbg.png);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #366903;
	color: #fff;
	border: 1px solid #999;
	padding: 5px;
}

table.important
{
	font-style: italic;
	border: solid 2px #ff0000;
	width: 70%;
	margin-left: 15%;       
}
table.caution
{
	font-style: italic;
	border: ridge 2px #ffff00;
	width: 70%;
	margin-left: 15%;       
}

table.note
{
	font-style: italic;
	border: solid 1px #000000;
	width: 70%;
	margin-left: 15%;       
}
table.tip
{
	font-style: italic;
	border: solid 1px #000000;
	width: 70%;
	margin-left: 15%;       
}

table.warning
{
	font-style: italic;
	font-weight: bold;
	border: ridge 4px #ff0000;
	
	width: 70%;
	margin-left: 15%;       
}

div.variablelist {
	font-style: normal;
	font-weight: normal;
	padding-left: 20px;
}

.varlistentry {
	font-weight: bold;
	margin-top: 10px;
	color: #ffffff ;
	background-color: #a0a0d0;
	border: solid 1px #606090;
	padding: 1px
}

/*
 * See http://diveintoaccessibility.org/day_26_using_relative_font_sizes.html
 * for an explanation of the following few commands.
 * They are really too complicated to explain here in all depth. ;-)
*/

p {
	font-size: 12px;
	width: 95%;
}

/*/*/a{}
body p {
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

html>body p {
	font-size: small;
}
/* */

/* height and width stuff, width not really neccesary. */
a {
	color: #366903;
}

/* Add an external-link icon to absolute links */
a[href^="http:"] {
	background: url(remote.gif) right center no-repeat;
	padding-right: 12px;
}

a[href^="http:"]:hover {
	background: url(remote_a.gif) right center no-repeat;
}

/* Add a note icon to footnote links */
a[href^="#FTN"] {
	background: url(qbullet-note.gif) right center no-repeat;
	padding-right: 12px;
}

a[href^="#FTN"]:hover {
	background: url(qbullet-note_a.gif) right center no-repeat;
}

/* ...and a back icon to the backlinks in the footnotes themselves */
a[name^="FTN"] {
	background: url(scrollup.gif) right center no-repeat;
	padding-right: 12px;
}

a[name^="FTN"]:hover {
	background: url(scrollup_a.gif) right center no-repeat;
}

/* Add a download icon to .gz links */
a[href$=".gz"],a[href$=".tar"],a[href$=".zip"] {
	background: url(disk.gif) right center no-repeat;
	padding-right: 12px;
}


/* Add an Acrobat Reader icon to PDF links */
a[href$=".pdf"] {
	background: url(acrobat.gif) right center no-repeat;
	padding-right: 12px;
}

a[href$=".pdf"]:hover {
	background: url(acrobat_a.gif) right center no-repeat;
}

/* Add a Word icon to RTF links */
a[href$=".rtf"] {
	background: url(word.gif) right center no-repeat;
	padding-right: 12px;
}

hr {
	display: none;
}

p.c2 {
	color: #ffffff;
	background-color: #a0a0d0;
	border: solid 1px #606090;
	padding: 1px;
}

div.navfooter {
	color: #000000;
	background-color: #EFEFF8;
	padding: 5px;
	margin-top: 10px;
	border: thin solid #a0a0d0;
}

div.nukefooter {
	color: #000000;
	background-color: #B0E0E6;
	padding: 5px;
	margin-top: 10px;
	border: thin solid #a0a0d0;
}

div.navheader {
	color: #000000;
	background-color: #EFEFF8;
	padding: 5px;
	margin-bottom: 10px;
	border: thin solid #a0a0d0;
}

div.sect1,div.sect2,div.sect3 {
	margin-left: 20px;
}

div.example,div.toc {
	border: thin dotted #70AAE5;
	padding-left: 10px;
	padding-right: 10px;
	color: #000000;
	background-color: #EFF8F8;
}

div.toc {
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
}

ul  {
	list-style: url("tux-bullet.png") disc;
}
