org.opennms.netmgt.notifd.mattermost.webhookURL=${OPENNMS_NOTIFD_MATTERMOST_WEBHOOKURL}
org.opennms.netmgt.notifd.mattermost.channel=${OPENNMS_NOTIFD_MATTERMOST_CHANNEL}
org.opennms.netmgt.notifd.mattermost.username=${OPENNMS_NOTIFD_MATTERMOST_USERNAME}
org.opennms.netmgt.notifd.mattermost.iconEmoji=${OPENNMS_NOTIFD_MATTERMOST_ICONEMOJI}
org.opennms.netmgt.notifd.mattermost.iconURL=${OPENNMS_NOTIFD_MATTERMOST_ICONURL}
org.opennms.netmgt.notifd.mattermost.useSystemProxy=${OPENNMS_NOTIFD_MATTERMOST_USESYSTEMPROXY}
