org.opennms.netmgt.notifd.slack.webhookURL=${OPENNMS_NOTIFD_SLACK_WEBHOOKURL}
org.opennms.netmgt.notifd.slack.channel=${OPENNMS_NOTIFD_SLACK_CHANNEL}
org.opennms.netmgt.notifd.slack.username=${OPENNMS_NOTIFD_SLACK_USERNAME}
org.opennms.netmgt.notifd.slack.iconEmoji=${OPENNMS_NOTIFD_SLACK_ICONEMOJI}
org.opennms.netmgt.notifd.slack.iconURL=${OPENNMS_NOTIFD_SLACK_ICONURL}
org.opennms.netmgt.notifd.slack.useSystemProxy=${OPENNMS_NOTIFD_SLACK_USESYSTEMPROXY}
