org.opennms.rrd.storeByForeignSource=${OPENNMS_RRD_STOREBYFOREIGNSOURCE}
org.opennms.timeseries.strategy=${OPENNMS_TIMESERIES_STRATEGY}
org.opennms.rrd.interfaceJar=${OPENNMS_RRD_INTERFACEJAR}
org.opennms.rrd.strategyClass=${OPENNMS_RRD_STRATEGYCLASS}
opennms.library.jrrd2=${OPENNMS_LIBRARY_JRRD2}
