org.opennms.newts.config.hostname=${OPENNMS_CASSANDRA_HOSTNAME}
org.opennms.newts.config.keyspace=${OPENNMS_CASSANDRA_KEYSPACE}
org.opennms.newts.config.port=${OPENNMS_CASSANDRA_PORT}
org.opennms.newts.config.username=${OPENNMS_CASSANDRA_USERNAME}
org.opennms.newts.config.password=${OPENNMS_CASSANDRA_PASSWORD}
org.opennms.newts.config.datacenter=${OPENNMS_CASSANDRA_DATACENTER}
