<trapd-configuration xmlns="http://xmlns.opennms.org/xsd/config/trapd" snmp-trap-address="${OPENNMS_TRAPD_ADDRESS}" snmp-trap-port="${OPENNMS_TRAPD_PORT}" new-suspect-on-trap="${OPENNMS_TRAPD_NEW_SUSPECT_ON_TRAP}" include-raw-message="${OPENNMS_TRAPD_INCLUDE_RAW_MESSAGE}" threads="${OPENNMS_TRAPD_THREADS}" queue-size="${OPENNMS_TRAPD_QUEUE_SIZE}" batch-size="${OPENNMS_TRAPD_BATCH_SIZE}" batch-interval="${OPENNMS_TRAPD_BATCH_INTERVAL}"/>
