Source: opennms
Section: contrib/net
Priority: optional
Maintainer: Jeff Gehlbach <jeffg@opennms.org>
Build-Depends: sun-java6-jdk | openjdk-6-jdk (>= 6b11-9.1), debhelper (>= 5.0.42), po-debconf (>= 1.0.5), rsync
Standards-Version: 3.7.3

Package: opennms
Architecture: all
Depends: opennms-db (=${binary:Version}), opennms-server (=${binary:Version}), opennms-webapp-jetty (=${binary:Version})
Suggests: opennms-doc
Description: Enterprise-grade Open-source Network Management Platform (Full Install)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the components needed for a reasonable default
 installation of OpenNMS.

Package: opennms-db
Architecture: all
Depends: postgresql-9.1 | postgresql-9.0 | postgresql-8.4 (>= 8.4.1) | postgresql-8.3 | postgresql-8.2 | postgresql-8.1 | postgresql-7.4, iplike-pgsql91 | iplike-pgsql90 (>= 1.0.8) | iplike-pgsql84 (>= 1.0.8) | iplike-pgsql83 (>= 1.0.8) | iplike-pgsql82 (>= 1.0.8) | iplike-pgsql81 (>= 1.0.8) | iplike-pgsql74 (>= 1.0.8), debconf
Description: Enterprise-grade Open-source Network Management Platform (Database)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the database components required by OpenNMS.
 .
 This package may be installed on a separate machine from the opennms-server
 package.

Package: opennms-server
Architecture: all
Depends: opennms-common (=${binary:Version}), libopennms-java (=${binary:Version}), libopennmsdeps-java (=${binary:Version}), mailx
Suggests: jrrd, rrdtool, postgresql-client-8.4
Description: Enterprise-grade Open-source Network Management Platform (Daemon)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the OpenNMS backend daemon responsible for discovery,
 polling, data collection, notifications, etc (basically, anything that is not
 part of the web UI).

Package: opennms-remote-poller
Architecture: all
Conflicts: opennms-server
Depends: openjdk-7-jre | sun-java6-jre | openjdk-6-jre (>= 6b11-9.1)
Description: Enterprise-grade Open-source Network Management Platform (Remote Poller)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This is the standalone remote poller for OpenNMS.

Package: opennms-jmx-config-generator
Architecture: all
Depends: openjdk-7-jre | sun-java6-jre | openjdk-6-jre (>= 6b11-9.1)
Description: Enterprise-grade Open-source Network Management Platform (JMX Config Generator)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This is a utility for generating JMX configuration files.

Package: opennms-webapp-jetty
Architecture: all
Depends: opennms-server (=${binary:Version})
Conflicts: opennms-webapp
Description: Enterprise-grade Open-source Network Management Platform (Jetty Web UI)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the Jetty version of the OpenNMS web UI, which runs
 embedded in the main OpenNMS daemon.  The default URL for this
 web UI is 'http://yourhost:8180/opennms/'

Package: opennms-ncs
Architecture: all
Depends: opennms-webapp-jetty (=${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (NCS)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides a framework for doing correlation of services across
 disparate nodes.

Package: opennms-common
Architecture: all
Depends: ${perl:Depends}, libdbi-perl, libdbd-pg-perl, libgetopt-mixed-perl
Recommends: libnet-snmp-perl, libxml2-utils
Description: Enterprise-grade Open-source Network Management Platform (Common Files)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the common files required by both the main OpenNMS daemon
 and the OpenNMS web UI.

Package: libopennms-java
Architecture: all
Depends: openjdk-7-jre | sun-java6-jre | openjdk-6-jre (>= 6b11-9.1), jicmp, jicmp6
Replaces: opennms-common (<< 1.3.0), libicmp-jni (<< 1.3.0)
Description: Enterprise-grade Open-source Network Management Platform (OpenNMS Libraries)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the OpenNMS Java libraries.

Package: libopennmsdeps-java
Architecture: all
Depends: openjdk-7-jre | sun-java6-jre | openjdk-6-jre (>= 6b11-9.1)
Description: Enterprise-grade Open-source Network Management Platform (Required Libraries)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the external Java libraries required by OpenNMS.

Package: opennms-doc
Section: contrib/doc
Architecture: all
Description: Enterprise-grade Open-source Network Management Platform (Documentation)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides the user, administration, and programming documentation
 for OpenNMS.

Package: opennms-contrib
Architecture: all
Depends: opennms-common (=${binary:Version}), ${perl:Depends}, libwww-perl, libxml-twig-perl
Description: Enterprise-grade Open-source Network Management Platform (Contrib)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides additional features and functionality that are not part
 of OpenNMS proper.

Package: opennms-plugins
Architecture: all
Depends: opennms-plugin-provisioning-dns (=${binary:Version}), opennms-plugin-provisioning-link (=${binary:Version}), opennms-plugin-provisioning-map (=${binary:Version}), opennms-plugin-provisioning-rancid (=${binary:Version}), opennms-plugin-protocol-cifs (=${binary:Version}), opennms-plugin-protocol-dhcp (=${binary:Version}), opennms-plugin-protocol-nsclient (=${binary:Version}), opennms-plugin-protocol-radius (=${binary:Version}), opennms-plugin-protocol-xml (=${binary:Version}), opennms-plugin-protocol-xmp (=${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (All Plugins)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package installs all optional plugins for OpenNMS.

Package: opennms-plugin-provisioning-dns
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (DNS Provisioning Adapter)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 The DNS provisioning adapter allows for updating dynamic DNS records based on
 provisioned nodes.

Package: opennms-plugin-provisioning-link
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (Link Provisioning Adapter)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 The link provisioning adapter creates links between provisioned nodes based on
 naming conventions defined in the link-adapter-configuration.xml file.  It
 also updates the status of the map links based on data link events.

Package: opennms-plugin-provisioning-map
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (Map Provisioning Adapter)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 The map provisioning adapter will automatically create maps when nodes are
 provisioned in OpenNMS.

Package: opennms-plugin-provisioning-rancid
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (RANCID Provisioning Adapter)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 The RANCID provisioning adapter coordinates with the RANCID Web Service by
 updating RANCID's device database when OpenNMS provisions nodes.

Package: opennms-plugin-provisioning-snmp-asset
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (SNMP Asset Provisioning Adapter)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 The SNMP asset provisioning adapter responds to provisioning events by updating asset
 fields with data fetched from SNMP GET requests.

Package: opennms-plugin-protocol-cifs
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (CIFS Protocol Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides CIFS support for polling.

Package: opennms-plugin-protocol-dhcp
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (DHCP Protocol Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides DHCP support for capability scanning, provisiond, and
 polling.

Package: opennms-plugin-protocol-nsclient
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (NSClient Protocol Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides NSClient support for capability scanning and polling.

Package: opennms-plugin-protocol-radius
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (RADIUS Protocol Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides RADIUS support for capability scanning, provisiond,
 polling, and Spring Security authentication.

Package: opennms-plugin-protocol-xml
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (XML Collection Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides support for data collection from XML data.

Package: opennms-plugin-protocol-xmp
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (XMP Protocol Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides XMP support for capability scanning and polling.

Package: opennms-plugin-collector-juniper-tca
Architecture: all
Depends: opennms-server (=${binary:Version})
Replaces: libopennms-java (<<${binary:Version}), opennms-common (<<${binary:Version})
Description: Enterprise-grade Open-source Network Management Platform (Juniper TCA Collection Support)
 OpenNMS is an enterprise-grade network management system written in Java.
 .
 OpenNMS can monitor various network services to determine status and service
 level availability.  Data collection is performed using protocols such as SNMP
 to generate reports and alert on thresholds.  An extensible event management
 and notification system handles both internally and externally generated
 events (such as SNMP traps), and generates notices via email, pager, SMS, etc.
 .
 This package provides support for data collection from Juniper TCA devices.
