Source: opennms
Section: net
Priority: optional
Maintainer: Tony Simone <tony.simone@medvantx.com>
Build-Depends: debhelper (>> 3.0.0), postgresql-dev (>= 7.1), librrd0-dev (>= 1.0.10), java2-compiler, tomcat4
Standards-Version: 3.5.2

Package: opennms
Architecture: any
Pre-Depends:  
Depends: libc6 (>= 2.2.4), postgresql (>= 7.1), perl, libdbd-pg-perl (>> 0.98), librrd0 (>= 1.0.10), java-virtual-machine, java2-runtime, tomcat4, mailx
Recommends: qpage, libgetopt-mixed-perl
Description: A network management system.
 OpenNMS is a network management system along
 the lines of HP's OpenView or IBM's Tivoli.
