<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--

      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to You under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
-->
<features name="opennms-spring-legacy-4.2.6" xmlns="http://karaf.apache.org/xmlns/features/v1.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://karaf.apache.org/xmlns/features/v1.3.0 http://karaf.apache.org/xmlns/features/v1.3.0">

    <!-- ######### START OPENNMS CUSTOMIZATION ############ -->
    <!-- <repository>mvn:org.ops4j.pax.web/pax-web-features/7.2.8/xml/features</repository> -->
    <repository>mvn:org.ops4j.pax.web/pax-web-features/${paxWebVersion}/xml/features</repository>

    <!-- Import the OpenNMS-modified standard features instead of the unmodified Karaf version -->
    <!-- <repository>mvn:org.apache.karaf.features/standard/${karafVersion}/xml/features</repository> -->
    <repository>mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/standard</repository>

    <!-- Spring 4.0.x support -->

    <feature name="spring" description="Spring 4.0.x support" version="4.0.9.RELEASE_1">
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.0.9.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.0.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.0.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.0.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.0.9.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.0.x AOP support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.0.x Instrument support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.0.x JDBC support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.0.x JMS support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.0.x Test support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.0.x ORM support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.0.x OXM support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.0.x Transaction (TX) support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.0.x Web support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.0.9.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.0.9.RELEASE_1.ONMS.1</bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.0.x Web Portlet support" version="4.0.9.RELEASE_1">
        <feature prerequisite="true">wrap</feature>
        <feature version="[4.0.9.RELEASE_1,4.1)">spring-web</feature>
        <bundle dependency="true" start-level="30">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.0.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-websocket" description="Spring 4.0.x WebSocket support" version="4.0.9.RELEASE_1">
        <feature version="[4.0.9.RELEASE_1,4.1)">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.0.9.RELEASE_1</bundle>
    </feature>

    <!-- Spring 4.1.x support -->

    <feature name="spring" description="Spring 4.1.x support" version="4.1.9.RELEASE_1">
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.1.9.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.1.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.1.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.1.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.1.9.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.1.x AOP support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.1.x Instrument support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.1.x JDBC support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.1.x JMS support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.1.x Test support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.1.x ORM support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.1.x OXM support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.1.x Transaction (TX) support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.1.x Web support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.1.9.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.1.x Web Portlet support" version="4.1.9.RELEASE_1">
        <feature prerequisite="true">wrap</feature>
        <feature version="[4.1.9.RELEASE_1,4.2)">spring-web</feature>
        <bundle dependency="true" start-level="30">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.1.9.RELEASE_1</bundle>
    </feature>

    <feature name="spring-websocket" description="Spring 4.1.x WebSocket support" version="4.1.9.RELEASE_1">
        <feature version="[4.1.9.RELEASE_1,4.2)">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.1.9.RELEASE_1</bundle>
    </feature>

    <!-- Spring 4.2.x support -->

    <feature name="spring" description="Spring 4.2.x support" version="${springVersion}">
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/${springVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/${patchedSpringVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/${patchedSpringVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/${patchedSpringVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/${springVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/${springVersion}</bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.2.x AOP support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/${springVersion}</bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.2.x Instrument support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/${springVersion}</bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.2.x JDBC support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/${springVersion}</bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.2.x JMS support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/${springVersion}</bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.2.x Test support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/${springVersion}</bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.2.x ORM support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/${springVersion}</bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.2.x OXM support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/${springVersion}</bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.2.x Transaction (TX) support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/${springVersion}</bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.2.x Web support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/${patchedSpringVersion}</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/${springVersion}</bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.2.x Web Portlet support" version="${springVersion}">
        <feature prerequisite="true">wrap</feature>
        <feature version="[${springVersion},4.3)">spring-web</feature>
        <bundle dependency="true" start-level="30">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/${springVersion}</bundle>
    </feature>

    <feature name="spring-websocket" description="Spring 4.2.x WebSocket support" version="${springVersion}">
        <feature version="[${springVersion},4.3)">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/${springVersion}</bundle>
    </feature>

    <!-- Spring 4.3.x support -->

    <feature name="spring" description="Spring 4.3.x support" version="4.3.30.RELEASE_1">
        <bundle dependency="true" start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.3.30.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.3.30.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.3.30.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.3.30.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.3.30.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-aspects" description="Spring 4.3.x AOP support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-instrument" description="Spring 4.3.x Instrument support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jdbc" description="Spring 4.3.x JDBC support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-jms" description="Spring 4.3.x JMS support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-tx</feature>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle dependency="true" start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-test" description="Spring 4.3.x Test support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle dependency="true">mvn:javax.websocket/javax.websocket-api/1.1</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpcore-osgi/4.4.6</bundle>
        <bundle dependency="true">mvn:org.apache.httpcomponents/httpclient-osgi/4.5.2</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-orm" description="Spring 4.3.x ORM support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-oxm" description="Spring 4.3.x OXM support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-tx" description="Spring 4.3.x Transaction (TX) support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-web" description="Spring 4.3.x Web support" version="4.3.30.RELEASE_1">
        <feature version="[4.3.30.RELEASE_1,4.4)">spring</feature>
        <feature>http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.3.30.RELEASE_1.ONMS.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-web-portlet" description="Spring 4.3.x Web Portlet support" version="4.3.30.RELEASE_1">
        <feature prerequisite="true">wrap</feature>
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-web</feature>
        <bundle dependency="true" start-level="30">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.3.30.RELEASE_1</bundle>
    </feature>

    <feature name="spring-websocket" description="Spring 4.3.x WebSocket support" version="4.3.30.RELEASE_1">
        <bundle dependency="true">mvn:javax.websocket/javax.websocket-api/1.1</bundle>
        <feature version="[4.3.30.RELEASE_1,4.4)">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.3.30.RELEASE_1</bundle>
    </feature>

    <!-- Spring Security support -->

    <feature name="spring-security" description="Spring Security 3.1.x support" version="3.1.4.RELEASE">
        <feature>war</feature>
        <feature version="[3,4)">spring-web</feature>
        <bundle dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aspectj/1.7.4_1</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-core/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-config/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-web/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-acl/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-taglibs/3.1.4.RELEASE</bundle>
    </feature>

    <feature name="spring-security" description="Spring Security 4.2.x support" version="4.2.4.RELEASE_1">
        <feature>war</feature>
        <feature version="[4,5)">spring-web</feature>
        <bundle dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aspectj/1.7.4_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-security-core/4.2.4.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-security-config/4.2.4.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-security-web/4.2.4.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-security-acl/4.2.4.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-security-taglibs/4.2.4.RELEASE_1</bundle>
    </feature>

</features>
