# Needs to be globally unique
broker-name localhost
# Location of configuration file from opennms-activemq-dispatcher-config feature
config ${karaf.base}/etc/activemq-dispatcher.xml
# Parameters used to replace values in the configuration file
brokerUri tcp://127.0.0.1:61616
data ${karaf.data}/activemq
