# Needs to be globally unique
broker-name opennms
# Location of configuration file from opennms-activemq-receiver-config feature
config ${karaf.base}/etc/activemq-receiver.xml
# Parameters used to replace values in the configuration file
data ${karaf.data}/activemq
