<!-- Show all of the current values -->
<span ng-repeat="(key,value) in values">
	<button class="btn btn-xs btn-default" ng-click="confirmAndRemove(values, key)" style="margin-bottom:3px;margin-right:3px;">
		<b>{{key}}:</b> {{value}}&nbsp;<i class="fa fa-close"/>
	</button>
</span>

<!-- Edit button -->
<a style="text-decoration: none;" ng-click="edit()" ng-hide="editing"><i class="fa fa-edit"/></a>

<!-- TODO: Add the ability to support select controls -->
<!-- Input for new item -->
<span ng-show="editing" class="text-nowrap">
	<input type="{{keyType}}" ng-keyup="onKeyup($event)" ng-model="newKey"/>
	<input type="{{valueType}}" ng-keyup="onKeyup($event)" ng-model="newValue"/>
	<a style="text-decoration: none;" ng-click="add(values, newKey, newValue)"><i class="fa fa-plus"/></a>
	<a style="text-decoration: none;" ng-click="unedit()"><i class="fa fa-close"/></a>
</span>

<!-- Transclude any content inside the tag -->
<span ng-transclude/>
