@import "../runo/legacy-styles.css";

.dashboard .v-portlet-slot {
    background: #fff !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07) !important;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07) !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07) !important;
}

.dashboard .v-portlet-header {
    color: #fff !important;
    text-shadow: 0 1px 1px #000 !important;
    background: #5d6167 !important;
    background: -moz-linear-gradient(top, #5d6167 0%, #393939 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d6167), color-stop(100%, #393939)) !important;
    background: -webkit-linear-gradient(top, #5d6167 0%, #393939 100%) !important;
    background: -o-linear-gradient(top, #5d6167 0%, #393939 100%) !important;
    background: -ms-linear-gradient(top, #5d6167 0%, #393939 100%) !important;
}

.dashboard .v-portlet-content-wrapper {
    border: none !important;
}

.dashboard .v-portlet .v-portlet-header-button {
    margin-right: 3px;
    border-radius: 3px;
}

.dashboard.v-app {
    background: #dfe0e1;
    background: -moz-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d9da), color-stop(10%, #e6e7e8), color-stop(100%, #e0e1e2));
    background: -webkit-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
    background: -o-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
    background: -ms-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
}

.debug {
    border: 1px dashed red;
}

.dashboard .header {
    background: #fff;
    border-bottom: 2px solid #ccc;
}

.dashboard .wallboard-board {
    color: #3ba300;
    padding: 5px 5px;
    margin: 1px;
}

.dashboard .wallboard-board {
    font-size: 18px;
    padding: 5px 5px;
    margin: 1px;
}

.dashboard .wallboard-board .progress-paused {
    font-size: 24px;
    font-weight: bold;
    background: orange;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.configuration-title {
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
}

.help-title {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
}

.help-content {
    font-size: 14px;
    line-height: normal;
}

.help-table {
    font-size: 14px;
    width: 100%;
    border: 1px solid;
    line-height: normal;
    vertical-align: top;
}

.help-table-cell {
    vertical-align: top;
}

.v-table-cell-wrapper { line-height: normal; padding: 3px; }

/*  --------------------------------------------------
    :: Alarm/Node Table Rows (Vaadin Widgets)
    -------------------------------------------------- */

/**
 * Table row CSS. Coordinate these class names with the values inside:
 *
 * org.opennms.features.topology.app.internal.support.AlarmTableCellStyleGenerator
 */

/* The padding: 20px is handled by adding &nbsp;s with a ColumnGenerator */
.v-table-cell-content-bright { /* padding-left: 20px; */ background-position: top left; background-repeat: repeat-y; }

.v-table-row-alarm-minor,
.v-table-row-alarm-minor-noack {
    border-top: 2px solid #FF9900 !important;
}
.v-table-row-alarm-minor-noack {
    font-weight: bold;
}
.v-table-row-alarm-minor.v-table-row,
.v-table-row-alarm-minor-noack.v-table-row {
    background-color: #FFEBCD;
}
.v-table-row-alarm-minor.v-table-row-odd,
.v-table-row-alarm-minor-noack.v-table-row-odd {
    background-color: #F8E4C6;
}
.v-table-row-alarm-minor .v-table-cell-content-bright,
.v-table-row-alarm-minor-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgMinor.png);
}

.v-table-row-alarm-critical,
.v-table-row-alarm-critical-noack {
    border-top: 2px solid #CC0000 !important;
}
.v-table-row-alarm-critical-noack {
    font-weight: bold;
}
.v-table-row-alarm-critical.v-table-row,
.v-table-row-alarm-critical-noack.v-table-row {
    background-color: #F5CDCD;
}
.v-table-row-alarm-critical.v-table-row-odd,
.v-table-row-alarm-critical-noack.v-table-row-odd {
    background-color: #EEC6C6;
}
.v-table-row-alarm-critical .v-table-cell-content-bright,
.v-table-row-alarm-critical-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgCritical.png);
}

.v-table-row-alarm-major,
.v-table-row-alarm-major-noack {
    border-top: 2px solid #FF3300 !important;
}
.v-table-row-alarm-major-noack {
    font-weight: bold;
}
.v-table-row-alarm-major.v-table-row,
.v-table-row-alarm-major-noack.v-table-row {
    background-color: #FFD7CD;
}
.v-table-row-alarm-major.v-table-row-odd,
.v-table-row-alarm-major-noack.v-table-row-odd {
    background-color: #F8D0C6;
}
.v-table-row-alarm-major .v-table-cell-content-bright,
.v-table-row-alarm-major-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgMajor.png);
}

.v-table-row-alarm-warning,
.v-table-row-alarm-warning-noack {
    border-top: 2px solid #FFCC00 !important;
}
.v-table-row-alarm-warning-noack {
    font-weight: bold;
}
.v-table-row-alarm-warning.v-table-row,
.v-table-row-alarm-warning-noack.v-table-row {
    background-color: #FFF5CD;
}
.v-table-row-alarm-warning.v-table-row-odd,
.v-table-row-alarm-warning-noack.v-table-row-odd {
    background-color: #F8EEC6;
}
.v-table-row-alarm-warning .v-table-cell-content-bright,
.v-table-row-alarm-warning-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgWarning.png);
}

.v-table-row-alarm-indeterminate,
.v-table-row-alarm-indeterminate-noack {
    border-top: 2px solid #999000 !important;
}
.v-table-row-alarm-indeterminate-noack {
    font-weight: bold;
}
.v-table-row-alarm-indeterminate.v-table-row,
.v-table-row-alarm-indeterminate-noack.v-table-row {
    background-color: #EBEBCD;
}
.v-table-row-alarm-indeterminate.v-table-row-odd,
.v-table-row-alarm-indeterminate-noack.v-table-row-odd {
    background-color: #E4E4C6;
}
.v-table-row-alarm-indeterminate .v-table-cell-content-bright,
.v-table-row-alarm-indeterminate-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgIndeterminate.png);
}

.v-table-row-alarm-normal,
.v-table-row-alarm-normal-noack {
    border-top: 2px solid #336600 !important;
}
.v-table-row-alarm-normal-noack {
    font-weight: bold;
}
.v-table-row-alarm-normal.v-table-row,
.v-table-row-alarm-normal-noack.v-table-row {
    background-color: #D7E1CD;
}
.v-table-row-alarm-normal.v-table-row-odd,
.v-table-row-alarm-normal-noack.v-table-row-odd {
    background-color: #D0DAC6;
}
.v-table-row-alarm-normal .v-table-cell-content-bright,
.v-table-row-alarm-normal-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgNormal.png);
}

.v-table-row-alarm-cleared,
.v-table-row-alarm-cleared-noack {
    border-top: 2px solid #999 !important;
}
.v-table-row-alarm-cleared-noack {
    font-weight: bold;
}
.v-table-row-alarm-cleared.v-table-row,
.v-table-row-alarm-cleared-noack.v-table-row {
    background-color: #EEEEEE;
}
.v-table-row-alarm-cleared.v-table-row-odd,
.v-table-row-alarm-cleared-noack.v-table-row-odd {
    background-color: #E7E7E7;
}
.v-table-row-alarm-cleared .v-table-cell-content-bright,
.v-table-row-alarm-cleared-noack .v-table-cell-content-bright
{
    background-image: url(../../../images/bgCleared.png);
}

/*  --------------------------------------------------
    :: Ops Board/Panel styles
    -------------------------------------------------- */

.alert-details-dashlet .onms-table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    color:#000000;
}

.alert-details-dashlet .onms { padding-left: 20px; background-position: top left; background-repeat: repeat-y; }
.alert-details-dashlet .Critical{ background-color: #F5CDCD; border-top: 2px solid #CC0000 !important; background-image: url(../../../images/bgCritical.png); }
.alert-details-dashlet .Major{ background-color: #FFD7CD; border-top: 2px solid #FF3300 !important; background-image: url(../../../images/bgMajor.png); }
.alert-details-dashlet .Minor{ background-color: #FFEBCD; border-top: 2px solid #FF9900 !important; background-image: url(../../../images/bgMinor.png); }
.alert-details-dashlet .Warning{ background-color: #FFF5CD; border-top: 2px solid #FFCC00 !important; background-image: url(../../../images/bgWarning.png); }
.alert-details-dashlet .Indeterminate{ background-color: #EBEBCD; border-top: 2px solid #999000 !important; background-image: url(../../../images/bgIndeterminate.png); }
.alert-details-dashlet .Normal{ background-color: #D7E1CD; border-top: 2px solid #336600 !important; background-image: url(../../../images/bgNormal.png); }
.alert-details-dashlet .Cleared { background-color: #EEE; border-top: 2px solid #999 !important; background-image: url(../../../images/bgCleared.png); }
.alert-details-dashlet .nobright { background-image: none;}

.alert-details-dashlet .Critical .onms { background-color: #F5CDCD; }
.alert-details-dashlet .Critical .divider { border-top: 2px solid #CC0000 !important; }
.alert-details-dashlet .Critical .bright { background-image: url(../../../images/bgCritical.png); }

.alert-details-dashlet .Major .onms { background-color: #FFD7CD; }
.alert-details-dashlet .Major .divider { border-top: 2px solid #FF3300 !important; }
.alert-details-dashlet .Major .bright { background-image: url(../../../images/bgMajor.png); }

.alert-details-dashlet .Minor .onms { background-color: #FFEBCD; }
.alert-details-dashlet .Minor .divider { border-top: 2px solid #FF9900 !important; }
.alert-details-dashlet .Minor .bright { background-image: url(../../../images/bgMinor.png); }

.alert-details-dashlet .Warning .onms { background-color: #FFF5CD; }
.alert-details-dashlet .Warning .divider { border-top: 2px solid #FFCC00 !important; }
.alert-details-dashlet .Warning .bright { background-image: url(../../../images/bgWarning.png); }

.alert-details-dashlet .Indeterminate .onms { background-color: #EBEBCD; }
.alert-details-dashlet .Indeterminate .divider { border-top: 2px solid #999900 !important; }
.alert-details-dashlet .Indeterminate .bright { background-image: url(../../../images/bgIndeterminate.png); }

.alert-details-dashlet .Normal .onms { background-color: #D7E1CD; }
.alert-details-dashlet .Normal .divider { border-top: 2px solid #336600 !important; }
.alert-details-dashlet .Normal .bright { background-image: url(../../../images/bgNormal.png); }

.alert-details-dashlet .Cleared .onms { background-color: #EEE; }
.alert-details-dashlet .Cleared .divider { border-top: 2px solid #999 !important; }
.alert-details-dashlet .Cleared .bright { background-image: url(../../../images/bgCleared.png); }
/*
td.onms { font-size: 100%; }
*/
.alert-details-dashlet .onms-header-cell {
    border:1px solid #999;
    padding: 4px 5px;
    background-color: #444;
    font-weight: bold;
    text-align: left;
    color: #FFF;
    height:1.5em;
}

.alert-details-dashlet .onms-cell {
    border: 1px solid #999;
    padding: 4px 5px;
    background-color: #FFF;
    font-size: 100%;
    height:1.5em;
    overflow:hidden;
}
