<!-- Author: Alejandro Galue <agalue@opennms.org> -->

<div class="panel panel-default">

  <form name="fsForm" novalidate>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#node-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand hidden-xs">Foreign Source Definition ({{ foreignSource }})</div>
          <div class="navbar-brand visible-xs">FS Definition</div>
        </div>
        <div class="collapse navbar-collapse" id="node-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="goBack()"><span class="glyphicon glyphicon-remove"></span> Return</a></li>
            <li><button type="button" class="btn btn-primary navbar-btn" ng-show="fsForm.$dirty && fsForm.$valid" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Save</button></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Common Information -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label classs="control-label">Last Modified</label>
            <span class="form-control">{{ foreignSourceDef['date-stamp'] | date:'dd-MM-yy hh:mm:ss' }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error' : fsForm.scanInterval.$invalid }">
            <label classs="control-label" for="scanInterval">Scan Interval</label>
            <input class="form-control" type="text" id="scanInterval" name="scanInterval" placeholder="Scan Interval" ng-model="foreignSourceDef['scan-interval']" required></input>
            <div ng-show="fsForm.scanInterval.$invalid" class="help-block">Scan Interval is required.</div>
          </div>
        </div>
      </div>
    </div>

    <!-- TabPanel -->
    <div class="container-fluid">
      <tabset>

        <!-- Detectors Tab -->
        <tab heading="Detectors">
          <a ng-click="addDetector()" class="btn"><span class="glyphicon glyphicon-plus"/> Add Detector</a>
          <br/>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Parameters</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="detector in foreignSourceDef.detectors">
                  <td>{{ detector.name }}</td>
                  <td>{{ detector.class }}</td>
                  <td>
                    <div ng-hide="detector.parameter.length > 0">[No parameters]</div>
                    <div ng-repeat="parm in detector.parameter">
                      <p><b>{{ parm.key }} : </b> {{ parm.value }}</p>
                    </div>
                  </td>
                  <td>
                    <span class="pull-right">
                      <a class="btn btn-default btn-xs" tooltip="Edit the detector" ng-click="editDetector($index)">
                        <span class="glyphicon glyphicon-pencil"/>
                      </a>
                      <a class="btn btn-default btn-xs" tooltip="Remove the detector" ng-click="removeDetector($index)">
                        <span class="glyphicon glyphicon-remove"/>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>

        <!-- Policies Tab -->
        <tab heading="Policies">
          <a ng-click="addPolicy()" class="btn"><span class="glyphicon glyphicon-plus"/> Add Policy</a>
          <br/>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Parameters</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="policy in foreignSourceDef.policies">
                  <td>{{ policy.name }}</td>
                  <td>{{ policy.class }}</td>
                  <td>
                    <div ng-hide="policy.parameter.length > 0">[No parameters]</div>
                    <div ng-repeat="parm in policy.parameter">
                      <p><b>{{ parm.key }} : </b> {{ parm.value }}</p>
                    </div>
                  </td>
                  <td>
                    <span class="pull-right">
                      <a class="btn btn-default btn-xs" tooltip="Edit the policy" ng-click="editPolicy($index)">
                        <span class="glyphicon glyphicon-pencil"/>
                      </a>
                      <a class="btn btn-default btn-xs" tooltip="Remove the policy" ng-click="removePolicy($index)">
                        <span class="glyphicon glyphicon-remove"/>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>

      </tabset>
    </div> <!-- container-fluid -->

  </form>

</div> <!-- panel -->
