<input required class="form-control" type="text"
        placeholder="Parameter Name (hit space bar to see the options)"
        ng-model="parameter.key"
        typeahead-min-length="0" typeahead-editable="false"
        uib-typeahead="param for param in getOptionalParameters() | filter:$viewValue"></input>
<div class="input-group">
  <input class="form-control" type="text" placeholder="Parameter Value" ng-model="parameter.value" required></input>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="removeParameter($index)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</div>
