<input required class="form-control" type="text"
        placeholder="Parameter Name"
        ng-model="parameter.key"
        ng-focus="onFocus($event)" empty-typeahead typeahead-editable="false"
        typeahead="param for param in getOptionalParameters() | filter:$viewValue:fieldComparator"></input>
<div class="input-group">
  <input class="form-control" type="text" placeholder="Parameter Value" ng-model="parameter.value" required></input>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="removeParameter($index)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</div>