name = Flows
class-name = org.opennms.netmgt.telemetry.listeners.UdpListener
parameters.port = 9999
# Parser names should match queue names set in telemetryd configuration
parsers.0.name = Netflow-5
parsers.0.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.Netflow5UdpParser
parsers.1.name = Netflow-9
parsers.1.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.Netflow9UdpParser
parsers.2.name = IPFIX
parsers.2.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.IpfixUdpParser
parsers.3.name = SFlow
parsers.3.class-name = org.opennms.netmgt.telemetry.protocols.sflow.parser.SFlowUdpParser
