sshPort=${env:OPENNMS_KARAF_SSH_PORT:-8101}
# OPENNMS: Restrict SSH on all interfaces by default;
# set OPENNMS_KARAF_SSH_HOST=127.0.0.1 to restrict to localhost
sshHost=${env:OPENNMS_KARAF_SSH_HOST:-0.0.0.0}
sshRealm=karaf
hostKey=/opt/opennms/etc/host.key
