jobs:
  horizon-image-single-arch-trivy:
    executor: base-executor
    resource_class: medium
    parameters:
      architecture:
        type: string
    steps:
      - scan-image-trivy:
          architecture: << parameters.architecture >>
          container_name: horizon
          container_dir: core
          tarball_match: -core
          tarball_path: opennms-full-assembly/target/
      - trivy-analyze