jobs:
  horizon-image-single-arch-linux-amd64-trivy:
    executor: base-executor
    resource_class: medium
    steps:
      - scan-image-trivy:
          architecture: linux/amd64
          container_name: horizon
          container_dir: core
          tarball_match: -core
          tarball_path: opennms-full-assembly/target/
      - trivy-analyze
