jobs:
  minion-image-single-arch:
    executor: base-executor
    resource_class: arm.medium
    parameters:
      architecture:
        type: string
    steps:
      - build-image-single-arch:
          architecture: << parameters.architecture >>
          container_name: minion
          container_dir: minion
          tarball_match: minion
          tarball_path: /opennms-assemblies/minion/target
      - generate-sbom:
          container_dir: minion
