jobs:
  minion-image-single-arch-trivy:
    executor: base-executor
    resource_class: medium
    parameters:
      architecture:
        type: string
    steps:
      - scan-image-trivy:
          architecture: << parameters.architecture >>
          container_name: minion
          container_dir: minion
          tarball_match: minion
          tarball_path: /opennms-assemblies/minion/target
      - trivy-analyze
