jobs:  
  sentinel-image-single-arch:
    parameters:
      architecture:
        type: string
    machine:
      image: ubuntu-2004:202010-01
    environment:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - build-image-single-arch:
          architecture: << parameters.architecture >>
          cache_prefix: deb-sentinel
          container_name: sentinel
