jobs:  
  sentinel-image-single-arch:
    executor: base-executor
    resource_class: arm.medium
    parameters:
      architecture:
        type: string
    steps:
      - build-image-single-arch:
          architecture: << parameters.architecture >>
          container_name: sentinel
          container_dir: sentinel
          tarball_match: sentinel
          tarball_path: /opennms-assemblies/sentinel/target
      - generate-sbom:
          container_dir: sentinel
