@import "../reindeer/styles.css";

.v-textfield-error {
	background-image: url('../reindeer/common/icons/error.png') !important;
	background-repeat: no-repeat !important;
    background-position: right 50% !important;
    background-attachment: scroll !important;
}

/* .editlayout .v-button { */
/*       display: block; */
/*       height: 55px; */
/*       border: none; */
/*       text-align: center; */
/*       background: transparent; */
/* } */
 
/* .editlayout .v-button img { */
/*       display: block; */
/*       margin-left: auto; */
/*       margin-right: auto; */
/*       margin-bottom: 5px; */
/* } */

/* .editlayout .v-button span { */
/*       font-size: x-small; */
/* } */

/* .editlayout .v-button .v-button-wrap,  */
/* .editlayout .v-disabled.v-button .v-button-wrap { */
/*    background: transparent; */
/*    border: none; */
/*    -webkit-border-radius: 0; */
/*    -moz-border-radius: 0; */
/*    border-radius: 0; */
/*    -webkit-box-shadow: none; */
/*    -moz-box-shadow: none; */
/*    box-shadow: none; */
/* } */

/* .editlayout .v-button:active .v-button-wrap, */
/* .editlayout .v-button.v-pressed .v-button-wrap { */
/*    background: transparent; */
/*    -webkit-box-shadow: none; */
/*    -moz-box-shadow: none; */
/*    box-shadow: none; */
/* } */
