version: 2.1

orbs:
  cloudsmith: cloudsmith/cloudsmith@1.0.5
  continuation: circleci/continuation@0.3.1
  jira: circleci/jira@1.3.1
  # path-filtering: circleci/path-filtering@0.1.3
  sign-packages: opennms/sign-packages@2.3.0

commands:
  #commands:maven/maven.index#
  #commands:cache/cache#
  #commands:login/login.index#
  #commands:executions/executions.index#
  #commands:oci/oci#
  #commands:oci/scan-image-trivy#
  #commands:generic/generic#

#workflows#

jobs:
  #jobs:build/build.index#
  #jobs:tarball-assembly-only#
  #jobs:oci/oci.index#
  #jobs:tests/integration/integration.index#
  #jobs:code-coverage#
  #jobs:tests/smoke/smoke-test.index#
  #jobs:create-merge-foundation-branch#
  #jobs:merge-foundation-branch#
  #jobs:create-merge-meridian-branch#
  #jobs:create-merge-omega-branch#
  #jobs:merge-poweredby-branch#
  #jobs:publish#
