executors:
  base-executor:
    docker:
      - image: cimg/base:stable-20.04
  build-executor:
    docker:
      - image: opennms/build-env:circleci-ubuntu-jdk11-b9919
  docs-executor:
    docker:
      - image: opennms/antora:3.1.1-b8850
  integration-test-executor:
    machine:
      image: ubuntu-2204:2023.04.2
  smoke-test-executor:
    machine:
      image: ubuntu-2204:2023.04.2
  ui-executor:
    docker:
      - image: cimg/node:16.3.0
