executors:
  centos-build-executor:
    docker:
      - image: opennms/build-env:11.0.14_9-3.8.4-b8249
  debian-build-executor:
    docker:
      - image: opennms/build-env:debian-jdk11-b8243
  docker-executor:
    docker:
      - image: docker:20.10-git
  docs-executor:
    docker:
      - image: opennms/antora:2.3.4-b7274
  integration-test-executor:
    docker:
      image: cimg/base:2020.10
#    machine:
#      image: ubuntu-2004:202010-01
  smoke-test-executor:
    machine:
      image: ubuntu-2004:202010-01
  ui-executor:
    docker:
      - image: cimg/node:16.3.0
