executors:
  base-executor:
    docker:
      - image: cimg/base:stable-20.04
  build-executor:
    docker:
      - image: opennms/build-env:circleci-ubuntu-jdk11
  coverage-executor:
    docker:
      - image: opennms/build-env:circleci-ubuntu-jdk17
  docs-executor:
    docker:
      - image: opennms/antora:3.1.4-b10433
  integration-test-executor:
    machine:
      image: ubuntu-2204:current
  smoke-test-executor:
    machine:
      image: ubuntu-2204:current
  ui-executor:
    docker:
      - image: cimg/node:18.20.2
