<?xml version="1.0" encoding="UTF-8"?>
<!-- WARN here is just for internal log4j messages and does not effect logging in general -->
<configuration status="WARN" monitorInterval="60">
  <Properties>
    <Property name="poller.logfile">/var/log/opennms-remote-poller.log</Property>
  </Properties>

  <appenders>
    <!--
     When running in headless mode, output the logs to both the console and the log file specified by the
     'poller.logfile' system property.

     Otherwise, only write to the console.
    -->
    <Routing name="ConditionalFileLogger">
      <Routes pattern="$${sys:java.awt.headless}">
		<!-- This route is chosen when the 'java.awt.headless' system property is set to 'true'. -->
	    <Route key="true">
	      <!-- Write to the log file specified by the 'poller.logfile' system property -->
		  <RollingFile name="RollingFile" fileName="${sys:poller.logfile}" filePattern="${sys:poller.logfile}-%d{MM-dd-yyyy}.gz"
		                 ignoreExceptions="false">
		    <PatternLayout>
		      <Pattern>%d %-5p [%t] %c{1.}: %m%n</Pattern>
		    </PatternLayout>
		    <TimeBasedTriggeringPolicy />
		  </RollingFile>
	    </Route>
      </Routes>
    </Routing>

    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %c{1.}: %m%n"/>
    </Console>
  </appenders>

  <loggers>
    <!--
      Set the threshold for individual loggers that may be too chatty at the default
      level for their prefix.
    -->
    <logger name="httpclient" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="net.sf.jasperreports" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.apache.bsf" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.apache.commons" additivity="false" level="WARN">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.asteriskjava" additivity="false" level="WARN">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.eclipse.jetty.webapp" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.quartz" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="INFO">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <!-- Allow any message to pass through the root logger -->
    <root level="DEBUG">
      <appender-ref ref="ConditionalFileLogger"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </loggers>
</configuration>
