name = Flows
class-name = org.opennms.netmgt.telemetry.listeners.UdpListener
parameters.port = 9999
# Parser names should match queue names set in telemetryd configuration
parser.0.name = Netflow-5
parser.0.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.Netflow5UdpParser 
parser.1.name = Netflow-9
parser.1.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.Netflow9UdpParser
parser.2.name = IPFIX
parser.2.class-name = org.opennms.netmgt.telemetry.protocols.netflow.parser.IpfixUdpParser
parser.3.name = SFlow
parser.3.class-name = org.opennms.netmgt.telemetry.protocols.sflow.parser.SFlowUdpParser
