<div class="">
    <form class="form" name="configForm">
        <div ng-repeat="geocoder in geocoders">
            <div class="form-group">
                <label style="width: 100px">{{geocoder.id | capitalize}}</label>
                <toggle ng-change="onGeocoderChange(geocoder)"
                        ng-model="geocoder.active"
                        on="Enabled"
                        off="Disabled"
                        size="btn-sm"
                />
            </div>
        </div>
    </form>
</div>
