<style type="text/css">
    toggle.is-invalid ~ .invalid-feedback {
        display: block;
    }
</style>

<div class="" class="w-100">
    <ul id="tabs" class="nav nav-tabs">
        <li role="presentation" class="nav-item">
            <a ui-sref-active="active" ui-sref="geocoding.config" data-name="settings" class="nav-link">Settings</a>
        </li>

        <li role="presentation" ng-repeat="geocoder in geocoders" class="nav-item">
            <a ui-sref-active="active" ui-sref="geocoding.details({'id': geocoder.id})" title="{{geocoder.name | capitalize}}" data-name={{geocoder.id}} class="nav-link">
                {{geocoder.name | capitalize}} <span ng-if="geocoder.id == config.activeGeocoderId" class="badge badge-primary" title="Geocoder is enabled">active</span>
            </a>
        </li>
    </ul>
    <div class="card border-top-0">
        <div class="card-body" ui-view>
        </div>
    </div>
</div>