# Kafka Event Forwarder configuration for standalone Alarmd
bootstrap.servers=kafka:9092
topic.name=opennms-fault-events
consumer.group.id=opennms-alarmd
poll.timeout.ms=100
ipc.topic.name=opennms-ipc-events
