jobs:
  build-docs:
    executor: docs-executor
    steps:
      - cached-checkout
      - run:
          name: Validate Xrefs in docs
          command: |
            NODE_PATH="$(npm -g root)" antora --generator @antora/xref-validator antora-playbook-local.yml
      - run:
          name: Build docs with Antora
          command: |
             DOCSEARCH_ENABLED=true DOCSEARCH_ENGINE=lunr NODE_PATH="$(npm -g root)" antora --generator antora-site-generator-lunr --stacktrace generate antora-playbook-local.yml
      - store_artifacts:
          path: ~/project/build/site.zip
          destination: site.zip