 jobs:
  create-merge-foundation-branch:
    executor: base-executor
    steps:
      #- add_ssh_keys:
      #    fingerprints:
      #      - "6a:c7:42:e6:e3:26:76:95:f4:0a:7a:5b:9c:b3:19:0e"
      #      #- "66:9a:2d:a8:ad:7b:cc:7c:d2:ee:55:94:01:72:ac:2a"
      - run:
          name: "Branch Merge Parameters"
          command: |
            echo "previous: << pipeline.parameters.previous_branch >>, main: << pipeline.parameters.main_branch >>, next: << pipeline.parameters.next_branch >>"
      - when:
          condition: << pipeline.parameters.next_branch >>
          steps:
            - checkout-for-pushing
            - run:
                name: Checkout target branch and merge from source
                command: |
                  export GIT_MERGE_AUTOEDIT=no
                  git fetch --all
                  git checkout << pipeline.parameters.next_branch >>
                  git reset --hard origin/<< pipeline.parameters.next_branch >>
                  git merge origin/<< pipeline.parameters.main_branch >>
            - run:
                name: Push to github
                command: git push -f origin << pipeline.parameters.next_branch >>:merge-foundation/<< pipeline.parameters.main_branch_label >>-to-<< pipeline.parameters.next_branch_label >>
