jobs: 
  create-merge-meridian-branch:
    <<: *docker_container_config
    steps:
      - when:
          condition: << pipeline.parameters.main_branch >>
          steps:
            - restore_cache:
                keys:
                  - meridian-v1-{{ .Branch }}-{{ .Revision }}
                  - meridian-v1-{{ .Branch }}-
                  - meridian-v1-
            - cached-checkout-for-pushing
            - run:
                name: Add Meridian remote if necessary
                command: |
                  REMOTE_MERIDIAN="$(git remote | grep -c -E '^meridian$' || :)"
                  if [ "$REMOTE_MERIDIAN" -eq 0 ]; then
                    git remote add meridian git@github.com:OpenNMS/opennms-prime.git
                  fi
            - run:
                name: git fetch meridian
                command: |
                  git fetch meridian
            - save_cache:
                key: meridian-v1-{{ .Branch }}-{{ .Revision }}
                paths:
                  - ".git"
            - run:
                name: Checkout target branch and merge from source
                command: |
                  export GIT_MERGE_AUTOEDIT=no
                  if git rev-parse from-<< pipeline.parameters.main_branch >> >/dev/null 2>&1; then
                    git checkout from-<< pipeline.parameters.main_branch >>
                  else
                    git checkout -b from-<< pipeline.parameters.main_branch >> meridian/from-<< pipeline.parameters.main_branch >>
                  fi
                  git reset --hard meridian/from-<< pipeline.parameters.main_branch >>
                  git merge origin/<< pipeline.parameters.main_branch >>
            - run:
                name: Push to Meridian github
                command: git push -f meridian from-<< pipeline.parameters.main_branch >>:from-<< pipeline.parameters.main_branch >>
