<style type="text/css">
    .spotlight-no-results {
        position: absolute;
        top: 100%;
        z-index: 10000;
    }

    .spotlight-loading-indicator {
        position: absolute;
        top: 100%;
        z-index: 10000;
    }

    .spotlight-result {
        min-width: 200px;
        max-width: 500px;
        position: absolute;
        top: 100%;
        z-index: 10000;
    }
</style>

<form autocomplete="off" novalidate class="form-inline">
    <!-- Disable auto complete -->
    <input autocomplete="false" name="hidden" type="text" style="display:none;">

    <!-- Search Input -->
    <div class="input-group">
        <input id="query" ng-change="onQueryChange()" ng-model="query" type="text" class="form-control" placeholder="Search..." aria-label="Search">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
    </div>

    <!-- Loading Indicator -->
    <div id="searchLoadingIndicator" class="spotlight-loading-indicator" ng-show="showLoadingIndicator">
        <div class="spinner-border spinner-border-sm text-primary" role="status"/>
        <span>Loading...</span>
    </div>

    <!-- Results -->
    <div ng-if="results.length > 0" class="bg-dark px-2 py-2 list-group spotlight-result">
        <h6 ng-repeat-start="item in results" ng-if="item.group === true" class="mb-1 mt-2 text-muted">{{item.label}}</h6>
        <a ng-repeat-end ng-if="item.group === false" href="{{item.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 mr-5">{{item.label}}</h6>
                <small class="">{{item.context}}</small>
            </div>
            <span class="mr-2 badge" ng-class="getClassForMatch(match)" ng-repeat="match in item.matches">{{match.label}}: {{match.value}}</span>
        </a>
    </div>

    <!-- No Result -->
    <div ng-if="performSearchExecuted === true && results.length === 0" class="alert alert-warning spotlight-no-results">
        <i class="fa fa-times"></i> No Results found for '{{query}}'
    </div>
</form>
