<style type="text/css">
    .spotlight-result {
        max-height: 700px;
        min-width: 280px;
        max-width: 60%;
        position: absolute;
        top: 100%;
        z-index: 100000;
        overflow:scroll
    }
</style>

<form autocomplete="off" novalidate class="form-inline">
    <!-- Disable auto complete -->
    <input autocomplete="false" name="hidden" type="text" style="display:none;">

    <!-- Search Input -->
    <div class="input-group">
        <!-- Loading Indicator -->
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input id="query" ng-change="onQueryChange()" ng-model="query" type="text" class="form-control" placeholder="Search..." aria-label="Search">
        <div ng-show="showLoadingIndicator" class="btn btn-secondary rounded-0">
            <div class="spinner-border spinner-border-sm text-white" role="status"/>
            <span class="sr-only">Loading...</span>
        </div>
        <div ng-show="performSearchExecuted === true && !showLoadingIndicator" class="input-group-append">
            <button class="btn btn-secondary" type="button" title="Reset Search" ng-click="resetQuery()"><i class="fa fa-times"></i></button>
        </div>
        <div ng-show="showLoadingIndicator" class="input-group-append">
            <button class="btn btn-secondary" type="button" title="Cancel Request" ng-click="cancelRequest()"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <!-- Results -->
    <div ng-if="results.length > 0" class="bg-dark spotlight-result px-2 py-2">
    <div class="list-group">
        <div ng-repeat-start="item in results" ng-if="item.group === true" class="list-group-item bg-dark text-grey border-0">{{item.label}}</div>
        <a ng-repeat-end ng-if="item.group === false" href="{{item.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <h6 class="mb-0"><i class="{{item.icon}}" ng-if="item.icon">&nbsp;</i>{{item.label}}</h6>
            <span class="mr-2 badge badge-secondary" ng-repeat="match in item.matches">{{match.label}}: {{match.value}}</span>
        </a>
    </div>

    <!-- No Result -->
    <div ng-if="performSearchExecuted === true && results.length === 0" class="bg-dark px-2 py-2 spotlight-result text-light">
        <span>No Results found</span>
    </div>
    </div>
</form>
