<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
  <bean id="locationMonitorConfigResourceLocation" class="java.lang.String">
    <constructor-arg value="classpath:/org/opennms/netmgt/poller/remote/monitoring-locations.xml" />
  </bean>

  <bean id="pollerConfigDao" class="org.opennms.netmgt.config.DefaultPollerConfigDao">
    <property name="configResource" value="classpath:/org/opennms/netmgt/poller/remote/poller-configuration.xml"/>
    <property name="localServer" value="nms1"/>
    <property name="verifyServer" value="false"/>
  </bean>

  <bean id="pollerConfig" factory-bean="pollerConfigDao" factory-method="getPollerConfig"/>

  
  <bean id="setupIpLike" class="java.lang.Boolean">
    <constructor-arg><value>true</value></constructor-arg>
  </bean>
  
  <bean name="monitorDisconnectedTimeout" class="java.lang.Integer">
    <constructor-arg><value>3000</value></constructor-arg>
  </bean>
  
  <bean name="monitorCheckInterval" class="java.lang.Long">
    <constructor-arg><value>500</value></constructor-arg>
  </bean>

  <alias name="daemon" alias="pollerBackEnd" />

</beans>
