/** Add css rules here for your application. */

HR {
  margin: 0px;
}

.gwt-Hyperlink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

#locationStatus {
  width: 250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.statusDt {
  padding-left: 0px;
  margin: 0px;
}

.statusDd {
  padding-left: 20px;
  margin: 0px;
}

.statusUp {
  vertical-align: top;
  background-color: #88ff88;
}

.statusMarginal {
  vertical-align: top;
  background-color: #ffff88;
}

.statusDown {
  vertical-align: top;
  background-color: #ff8888;
}

.statusDisconnected {
  vertical-align: top;
  background-color: #ffaa44;
}

.statusStopped {
  vertical-align: top;
  background-color: #aaaaaa;
}

.statusUnknown {
  vertical-align: top;
  background-color: #8888ff;
}

.statusUninitialized {
  vertical-align: top;
  background-color: #dddddd;
}

.mqpoicontenttext {
  margin: 0px;
  overflow: hidden;
}