/** Add css rules here for your application. */

.gwt-Hyperlink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

/*img {
  margin-top: 20px;
}*/

.statusPanel {
  width: 100%;
}

.statusDt {
  padding-left: 0px;
  margin: 0px;
}

.statusDd {
  padding-left: 20px;
  margin: 0px;
}

.statusUp {
  vertical-align: top;
  background-color: #88ff88;
}

.statusMarginal {
  vertical-align: top;
  background-color: #ffff88;
}

.statusDown {
  vertical-align: top;
  background-color: #ff8888;
}

.statusUnknown {
  vertical-align: top;
  background-color: #8888ff;
}

.statusUninitialized {
  vertical-align: top;
  background-color: #dddddd;
}