/** Add css rules here for your application. */

.gwt-Hyperlink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

/*img {
  margin-top: 20px;
}*/

.statusTable td {
  border: 0px;
  padding: 3px;
  margin: 0px;
  width: 100%;
}

.statusUp td {
  vertical-align: top;
  background-color: #88ff88;
}

.statusMarginal td {
  vertical-align: top;
  background-color: #ffff88;
}

.statusDown td {
  vertical-align: top;
  background-color: #ff8888;
}

.statusUnknown td {
  vertical-align: top;
  background-color: #8888ff;
}

.statusUninitialized td {
  vertical-align: top;
  background-color: #dddddd;
}