@CHARSET "UTF-8";
@import "../reindeer/legacy-styles.css";

/*  --------------------------------------------------
    :: Header
    -------------------------------------------------- */
    #header {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: #333;
        background-image: url(images/headerbg.png);
        background-repeat: repeat-x;
        color: #FFF;
        font-family: "Lucida Grande", Verdana, sans-serif;
        /* height: 100px; */
        font-size: 13px;
    }
    #header a {
        color:#FFF;
        text-decoration: none;
    }
    
    #header a:hover{
        text-decoration: underline;   
    }
    
    h1#headerlogo {
        position: absolute;
        z-index: 2;
        margin: 0;
        padding: 0;
        left: 15px;
        top: 13px;
    }
    #headerinfo {
        position: relative;
        margin: 0px;
        padding: 10px 10px 24px;
        text-align: right;
    }
    #headerinfo h2{
        margin: 0;
        font-size: 13px;
    }
    
    #headerinfo p{
        margin-top: 0px;
        font-size: 11px;
    }
    
    .onmsheader .v-panel-content{
         border: 0px;   
    }
    
    .onmsheader .v-panel-captionwrap{
        height: 0px;
    }
    
    #notificationOff{
        color: #ef2929;
    }

    #notificationOn{
        color: #73d216;
    }
    
    /*  --------------------------------------------------
    :: Navigation
    -------------------------------------------------- */
    /*Top Level Nav in the Grey Header area */
    .navbar ul{ 
        list-style: none;
        display: inline;
    }
        
    .navbar li{ 
        padding: 0 10px 5px 0;
        list-style: none;
        display: inline;
        color: #999;
        font-size: 11px;
        line-height: 1.25em;
    }
    
    .navbar a{
        text-decoration: none;
    }
    
    #linkbar{ padding: 0 0 1em 0; }
    #linkbar ul{ list-style: none; display: inline; padding: 0 0 0 0; }
    #linkbar li{ list-style: none; display: inline; padding-right: 0.75em; }
    
    #headernavbarright {
        /*
        position: relative;
        float: right;
        */
        padding: 2px 0px 5px 0px;
    }

	div.nav-dropdown {
		list-style: none;
		position: relative;
		display: inline;
		width: 100%;
	}

	a.nav-dropdown {
		padding: 5px;
		text-decoration: none;
		display: inline;
		white-space: nowrap;
		width: auto;
	}

	a.nav-dropdown:hover {
		text-decoration: none !important;
	}

	a.nav-dropdown > span.nav-item {
		vertical-align: bottom;
		font-size: 5px;
	}

	.navbar li > div.nav-dropdown > ul {
	    background-color: #444;
	    border: 1px solid #888;
	    color: #FFF;
	    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
		display: block;
		list-style: none;
		left:-9999px;
		z-index: 10;
		position: absolute;
		padding: 0;
		margin-top: 2px;
	}

	.navbar li > div.nav-dropdown > ul > li {
		padding: 5px;
		display: block;
	}

	.navbar li:hover > div.nav-dropdown > ul {
		left: 0;
	}
	

	.navbar li > div.nav-dropdown > ul > li > a {
		white-space: nowrap;
	}

	div.onmsheader, .v-absolutelayout-wrapper, .v-panel-content-onmsheader, .v-panel-content-onmsheader .v-customlayout {
		overflow: visible !important;
	}
	
