@CHARSET "UTF-8";
@import "../reindeer/legacy-styles.css";

$icon-font-path: "bootstrap/dist/fonts/" !default;
@import "../../../../../../../../../opennms-webapp/src/main/scss/bootstrap.scss";

/* Reset these to their default value - the Vaadin elements do no display properly otherwise */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

$header-background-image: url("images/headerbg.png") !default;
@import "../../../../../../../../../opennms-webapp/src/main/scss/opennms-theme.scss";

.root-layout {
  padding-top: 50px;
}

.navbar-brand {
  padding: 1px;
}

.v-absolutelayout-wrapper {
  overflow: visible !important;
}

/*  --------------------------------------------------
    :: Alarm/Node Table Rows (Vaadin Widgets)
    -------------------------------------------------- */

/**
 * Table row CSS. Coordinate these class names with the values inside:
 *
 * org.opennms.features.topology.app.internal.support.AlarmTableCellStyleGenerator
 */

/* The padding: 20px is handled by adding &nbsp;s with a ColumnGenerator */
.v-table-cell-content-bright { /* padding-left: 20px; */ background-position: top left; background-repeat: repeat-y; }

.v-table-row-alarm-minor,
.v-table-row-alarm-minor-noack { 
  border-top: 2px solid #FF9900 !important;
}
.v-table-row-alarm-minor-noack { 
  font-weight: bold;
}
.v-table-row-alarm-minor.v-table-row,
.v-table-row-alarm-minor-noack.v-table-row {
  background-color: #FFEBCD;
}
.v-table-row-alarm-minor.v-table-row-odd,
.v-table-row-alarm-minor-noack.v-table-row-odd {
  background-color: #F8E4C6;
}
.v-table-row-alarm-minor .v-table-cell-content-bright,
.v-table-row-alarm-minor-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMinor.png);
}

.v-table-row-alarm-critical,
.v-table-row-alarm-critical-noack { 
  border-top: 2px solid #CC0000 !important;
}
.v-table-row-alarm-critical-noack { 
  font-weight: bold;
}
.v-table-row-alarm-critical.v-table-row,
.v-table-row-alarm-critical-noack.v-table-row {
  background-color: #F5CDCD;
}
.v-table-row-alarm-critical.v-table-row-odd,
.v-table-row-alarm-critical-noack.v-table-row-odd {
  background-color: #EEC6C6;
}
.v-table-row-alarm-critical .v-table-cell-content-bright,
.v-table-row-alarm-critical-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCritical.png);
}

.v-table-row-alarm-major,
.v-table-row-alarm-major-noack { 
  border-top: 2px solid #FF3300 !important;
}
.v-table-row-alarm-major-noack { 
  font-weight: bold;
}
.v-table-row-alarm-major.v-table-row,
.v-table-row-alarm-major-noack.v-table-row {
  background-color: #FFD7CD;
}
.v-table-row-alarm-major.v-table-row-odd,
.v-table-row-alarm-major-noack.v-table-row-odd {
  background-color: #F8D0C6;
}
.v-table-row-alarm-major .v-table-cell-content-bright,
.v-table-row-alarm-major-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMajor.png);
}

.v-table-row-alarm-warning,
.v-table-row-alarm-warning-noack { 
  border-top: 2px solid #FFCC00 !important;
}
.v-table-row-alarm-warning-noack { 
  font-weight: bold;
}
.v-table-row-alarm-warning.v-table-row,
.v-table-row-alarm-warning-noack.v-table-row {
  background-color: #FFF5CD;
}
.v-table-row-alarm-warning.v-table-row-odd,
.v-table-row-alarm-warning-noack.v-table-row-odd {
  background-color: #F8EEC6;
}
.v-table-row-alarm-warning .v-table-cell-content-bright,
.v-table-row-alarm-warning-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgWarning.png);
}

.v-table-row-alarm-indeterminate,
.v-table-row-alarm-indeterminate-noack { 
  border-top: 2px solid #999000 !important;
}
.v-table-row-alarm-indeterminate-noack { 
  font-weight: bold;
}
.v-table-row-alarm-indeterminate.v-table-row,
.v-table-row-alarm-indeterminate-noack.v-table-row {
  background-color: #EBEBCD;
}
.v-table-row-alarm-indeterminate.v-table-row-odd,
.v-table-row-alarm-indeterminate-noack.v-table-row-odd {
  background-color: #E4E4C6;
}
.v-table-row-alarm-indeterminate .v-table-cell-content-bright,
.v-table-row-alarm-indeterminate-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgIndeterminate.png);
}

.v-table-row-alarm-normal,
.v-table-row-alarm-normal-noack { 
  border-top: 2px solid #336600 !important;
}
.v-table-row-alarm-normal-noack { 
  font-weight: bold;
}
.v-table-row-alarm-normal.v-table-row,
.v-table-row-alarm-normal-noack.v-table-row {
  background-color: #D7E1CD;
}
.v-table-row-alarm-normal.v-table-row-odd,
.v-table-row-alarm-normal-noack.v-table-row-odd {
  background-color: #D0DAC6;
}
.v-table-row-alarm-normal .v-table-cell-content-bright,
.v-table-row-alarm-normal-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgNormal.png);
}

.v-table-row-alarm-cleared,
.v-table-row-alarm-cleared-noack { 
  border-top: 2px solid #999 !important;
}
.v-table-row-alarm-cleared-noack { 
  font-weight: bold;
}
.v-table-row-alarm-cleared.v-table-row,
.v-table-row-alarm-cleared-noack.v-table-row {
  background-color: #EEEEEE;
}
.v-table-row-alarm-cleared.v-table-row-odd,
.v-table-row-alarm-cleared-noack.v-table-row-odd {
  background-color: #E7E7E7;
}
.v-table-row-alarm-cleared .v-table-cell-content-bright,
.v-table-row-alarm-cleared-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCleared.png);
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*
  background-color: transparent;
  opacity: .25;
  -ms-filter: alpha(opacity=25);
  filter: alpha(opacity=25);
  */
}

/*  --------------------------------------------------
    :: Surveillance View styles
    -------------------------------------------------- */

.surveillance-view .v-table-cell-content {
  padding: 0px 0px 0px 0px;
}
/*
.v-table-cell-content-marked {
  background: #57a7ed;
  color: #fff;
  padding: 0px 0px 0px 0px;
}
*/
.surveillance-view .v-table-caption-container {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 6px;
  padding-right: 0px;
  margin-left: 4px;
  /*
    For Vaadin Theme Runo:

    padding: 9px 0px 9px 0px;
    overflow: visible;
    color: #393a3c;
    font-size: 15px;
    text-shadow: #ffffff 0 1px 0;
    margin-left: 4px;
  */
}

.surveillance-view .v-table-cell-wrapper {
  line-height: normal;
  padding: 0px 0px 0px 0px;
}

.surveillance-view .clear {
  color: black;
  background-color: #ffffff;
  border-top: 1px solid #999999;
  line-height: 30px;
  padding-left: 4px;
  td-padding-left: 4px;
}

.surveillance-view .critical {
  color: black;
  background-color: #f5cdcd;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgCritical.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

.surveillance-view .major {
  color: black;
  background-color: #ffd7cd;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgMajor.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

.surveillance-view .minor {
  color: black;
  background-color: blanchedalmond;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgMinor.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

.surveillance-view .warning {
  color: black;
  background-color: #fff5cd;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgWarning.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

.surveillance-view .indeterminate {
  color: black;
  background-color: #ebebcd;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgIndeterminate.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

.surveillance-view .normal {
  color: black;
  background-color: #d7e1cd;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgNormal.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
  padding-left: 18px;
  td-padding-left: 18px;
}

.surveillance-view .cleared {
  color: black;
  background-color: #eeeeee;
  border-top: 1px solid #999999;
  background-image: url(../../../../images/bgCleared.png);
  background-repeat: repeat-y;
  background-position: left top;
  line-height: 30px;
}

