@CHARSET "UTF-8";
@import "../reindeer/legacy-styles.css";

/*  --------------------------------------------------
    :: Header
    -------------------------------------------------- */
    #header {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: #333;
        background-image: url(images/headerbg.png);
        background-repeat: repeat-x;
        color: #FFF;
        font-family: "Lucida Grande", Verdana, sans-serif;
        /* height: 100px; */
        font-size: 13px;
    }
    #header a {
        color:#FFF;
        text-decoration: none;
    }
    
    #header a:hover{
        text-decoration: underline;   
    }
    
    h1#headerlogo {
        position: absolute;
        z-index: 2;
        margin: 0;
        padding: 0;
        left: 15px;
        top: 13px;
    }
    #headerinfo {
        position: relative;
        margin: 0px;
        padding: 10px 10px 24px;
        text-align: right;
    }
    #headerinfo h2{
        margin: 0;
        font-size: 13px;
    }
    
    #headerinfo p{
        margin-top: 0px;
        font-size: 11px;
    }
    
    .onmsheader .v-panel-content{
         border: 0px;   
    }
    
    .onmsheader .v-panel-captionwrap{
        height: 0px;
    }
    
    #notificationOff{
        color: #ef2929;
    }

    #notificationOn{
        color: #73d216;
    }
    
    /*  --------------------------------------------------
    :: Navigation
    -------------------------------------------------- */
    /*Top Level Nav in the Grey Header area */
    .navbar ul{ 
        list-style: none;
        display: inline;
    }
        
    .navbar li{ 
        padding: 0 10px 5px 0;
        list-style: none;
        display: inline;
        color: #999;
        font-size: 11px;
        line-height: 1.25em;
        text-align: left;
    }
    
    .navbar a{
        text-decoration: none;
    }
    
    #linkbar{ padding: 0 0 1em 0; }
    #linkbar ul{ list-style: none; display: inline; padding: 0 0 0 0; }
    #linkbar li{ list-style: none; display: inline; padding-right: 0.75em; }
    
    #headernavbarright {
        
        position: relative;
        
/*         float: right;  */
        
        padding: 2px 0px 5px 0px;
        text-align: right;
    }

	div.nav-dropdown {
		list-style: none;
		position: relative;
		display: inline;
		width: 100%;
	}

	a.nav-dropdown {
		padding: 5px;
		text-decoration: none;
		display: inline;
		white-space: nowrap;
		width: auto;
	}

	a.nav-dropdown:hover {
		text-decoration: none !important;
	}

	a.nav-dropdown > span.nav-item {
		vertical-align: bottom;
		font-size: 5px;
	}

	.navbar li > div.nav-dropdown > ul {
	    background-color: #444;
	    border: 1px solid #888;
	    color: #FFF;
	    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
		display: block;
		list-style: none;
		left:-9999px;
		z-index: 10;
		position: absolute;
		padding: 0;
		margin-top: 2px;
	}

	.navbar li > div.nav-dropdown > ul > li {
		padding: 5px;
		display: block;
	}

	.navbar li:hover > div.nav-dropdown > ul {
		left: 0;
	}
	

	.navbar li > div.nav-dropdown > ul > li > a {
		white-space: nowrap;
	}

	div.onmsheader, .v-absolutelayout-wrapper, .v-panel-content-onmsheader, .v-panel-content-onmsheader .v-customlayout {
		overflow: visible !important;
	}
	
/*  --------------------------------------------------
    :: Alarm/Node Table Rows (Vaadin Widgets)
    -------------------------------------------------- */

/**
 * Table row CSS. Coordinate these class names with the values inside:
 *
 * org.opennms.features.topology.app.internal.support.AlarmTableCellStyleGenerator
 */

/* The padding: 20px is handled by adding &nbsp;s with a ColumnGenerator */
.v-table-cell-content-bright { /* padding-left: 20px; */ background-position: top left; background-repeat: repeat-y; }

.v-table-row-alarm-minor,
.v-table-row-alarm-minor-noack { 
  border-top: 2px solid #FF9900 !important;
}
.v-table-row-alarm-minor-noack { 
  font-weight: bold;
}
.v-table-row-alarm-minor.v-table-row,
.v-table-row-alarm-minor-noack.v-table-row {
  background-color: #FFEBCD;
}
.v-table-row-alarm-minor.v-table-row-odd,
.v-table-row-alarm-minor-noack.v-table-row-odd {
  background-color: #F8E4C6;
}
.v-table-row-alarm-minor .v-table-cell-content-bright,
.v-table-row-alarm-minor-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMinor.png);
}

.v-table-row-alarm-critical,
.v-table-row-alarm-critical-noack { 
  border-top: 2px solid #CC0000 !important;
}
.v-table-row-alarm-critical-noack { 
  font-weight: bold;
}
.v-table-row-alarm-critical.v-table-row,
.v-table-row-alarm-critical-noack.v-table-row {
  background-color: #F5CDCD;
}
.v-table-row-alarm-critical.v-table-row-odd,
.v-table-row-alarm-critical-noack.v-table-row-odd {
  background-color: #EEC6C6;
}
.v-table-row-alarm-critical .v-table-cell-content-bright,
.v-table-row-alarm-critical-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCritical.png);
}

.v-table-row-alarm-major,
.v-table-row-alarm-major-noack { 
  border-top: 2px solid #FF3300 !important;
}
.v-table-row-alarm-major-noack { 
  font-weight: bold;
}
.v-table-row-alarm-major.v-table-row,
.v-table-row-alarm-major-noack.v-table-row {
  background-color: #FFD7CD;
}
.v-table-row-alarm-major.v-table-row-odd,
.v-table-row-alarm-major-noack.v-table-row-odd {
  background-color: #F8D0C6;
}
.v-table-row-alarm-major .v-table-cell-content-bright,
.v-table-row-alarm-major-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgMajor.png);
}

.v-table-row-alarm-warning,
.v-table-row-alarm-warning-noack { 
  border-top: 2px solid #FFCC00 !important;
}
.v-table-row-alarm-warning-noack { 
  font-weight: bold;
}
.v-table-row-alarm-warning.v-table-row,
.v-table-row-alarm-warning-noack.v-table-row {
  background-color: #FFF5CD;
}
.v-table-row-alarm-warning.v-table-row-odd,
.v-table-row-alarm-warning-noack.v-table-row-odd {
  background-color: #F8EEC6;
}
.v-table-row-alarm-warning .v-table-cell-content-bright,
.v-table-row-alarm-warning-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgWarning.png);
}

.v-table-row-alarm-indeterminate,
.v-table-row-alarm-indeterminate-noack { 
  border-top: 2px solid #999000 !important;
}
.v-table-row-alarm-indeterminate-noack { 
  font-weight: bold;
}
.v-table-row-alarm-indeterminate.v-table-row,
.v-table-row-alarm-indeterminate-noack.v-table-row {
  background-color: #EBEBCD;
}
.v-table-row-alarm-indeterminate.v-table-row-odd,
.v-table-row-alarm-indeterminate-noack.v-table-row-odd {
  background-color: #E4E4C6;
}
.v-table-row-alarm-indeterminate .v-table-cell-content-bright,
.v-table-row-alarm-indeterminate-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgIndeterminate.png);
}

.v-table-row-alarm-normal,
.v-table-row-alarm-normal-noack { 
  border-top: 2px solid #336600 !important;
}
.v-table-row-alarm-normal-noack { 
  font-weight: bold;
}
.v-table-row-alarm-normal.v-table-row,
.v-table-row-alarm-normal-noack.v-table-row {
  background-color: #D7E1CD;
}
.v-table-row-alarm-normal.v-table-row-odd,
.v-table-row-alarm-normal-noack.v-table-row-odd {
  background-color: #D0DAC6;
}
.v-table-row-alarm-normal .v-table-cell-content-bright,
.v-table-row-alarm-normal-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgNormal.png);
}

.v-table-row-alarm-cleared,
.v-table-row-alarm-cleared-noack { 
  border-top: 2px solid #999 !important;
}
.v-table-row-alarm-cleared-noack { 
  font-weight: bold;
}
.v-table-row-alarm-cleared.v-table-row,
.v-table-row-alarm-cleared-noack.v-table-row {
  background-color: #EEEEEE;
}
.v-table-row-alarm-cleared.v-table-row-odd,
.v-table-row-alarm-cleared-noack.v-table-row-odd {
  background-color: #E7E7E7;
}
.v-table-row-alarm-cleared .v-table-cell-content-bright,
.v-table-row-alarm-cleared-noack .v-table-cell-content-bright 
{
  background-image: url(../../../images/bgCleared.png);
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*
  background-color: transparent;
  opacity: .25;
  -ms-filter: alpha(opacity=25);
  filter: alpha(opacity=25);
  */
}
