<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %c{1.}: %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.hibernate" additivity="false" level="WARN">
      <Appender-Ref ref="Console"/>
    </Logger>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>