<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.testcontainers" level="DEBUG"/>
    <!-- The following logger can be used for containers logs since 1.18.0 -->
    <logger name="tc" level="DEBUG"/>

    <!-- Apache HTTPClient from the Java Docker stuff is _terribly_ noisy -->
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.testcontainers.shaded.com.github.dockerjava" level="WARN"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
    <logger name="org.testcontainers.shaded.com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>

    <!-- our own smoke test code should be more verbose -->
    <logger name="org.opennms.smoketest" level="DEBUG"/>
    <!-- ...but StreamGobbler 🦃 is noisy -->
    <logger name="org.opennms.smoketest.utils.StreamGobbler" level="INFO"/>

    <!-- the useful bits are in the headers -->
    <logger name="org.apache.http.impl" level="INFO" />
    <logger name="org.apache.http.wire" level="INFO" />

    <!-- other 3rd-party stuff that's too loud -->
    <logger name="com.jcraft.jsch" level="WARN" />
    <logger name="org.apache.cxf.phase" level="WARN" />
    <logger name="org.apache.cxf.ws.policy" level="WARN" />
</configuration>

