/*-Popup window styles-*/
.borderPanel {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background: #F0F0F0;
	background: -moz-linear-gradient(100% 100% 90deg, #D9D9D9, #F0F0F0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#D9D9D9) );
	border: 2px solid #ccc;
	width: 100%;
}

.popup-WindowPanel {
	-moz-box-shadow: 0px 0px 10px #BBBBBB;
	-webkit-box-shadow: 0px 0px 10px #BBBBBB;
	box-shadow: 0px 0px 10px #BBBBBB;
}

.popup-WindowPanel-title {
	padding: 2px;
	float: left;
	font-size: 15px;
	cursor: default;
	font-weight: bold;
}

.popup-WindowPanel-close {
	margin: 2px 2px 2px 20px;
	float: right;
	outline: 0px;
	padding: 1px;
	cursor: pointer;
}

.popup-WindowPanel-image {
	margin-right: 10px;
}

.popup-WindowPanel-body {
	margin-bottom: 5px;
	margin-top: 5px;
}

.popup-WindowPanel-close:hover {
	background: none repeat scroll 0 0 #B3B3B3;
}

.popup-WindowPanel-btn {
	border: 1px solid #C3D9FF;
	float: right;
	outline: 0 none;
	margin-left: 5px;
}

.popup-WindowPanel .Resize-nw {
	cursor: nw-resize;
}

.popup-WindowPanel .Resize-n {
	cursor: n-resize;
}

.popup-WindowPanel .Resize-ne {
	cursor: ne-resize;
}

.popup-WindowPanel .Resize-e {
	cursor: e-resize;
}

.popup-WindowPanel .Resize-se {
	cursor: se-resize;
}

.popup-WindowPanel .Resize-s {
	cursor: s-resize;
}

.popup-WindowPanel .Resize-sw {
	cursor: sw-resize;
}

.popup-WindowPanel .Resize-w {
	cursor: w-resize;
}

.popup-WindowPanel-header {
	border-bottom: 1px solid #C3D9FF;
}

/**
 * Grid view CSS
 */
.demo-gridview-heading,.demo-gridview-spacer {
	padding: 0.1em;
	margin: 0.1em;
}

.demo-gridview-spacer {
	height: 200px;
}

.demo-gridview-widget {
	border: 1px dotted #DADADA;
	margin: 0.1em;
	padding: 0.1em;
}

.demo-gridview-widget-focus {
	border: 1px solid #DADADA;
	margin: 0.1em;
	padding: 0.1em;
}

.demo-gridview-window-heading {
	
}

.demo-gridview-window-heading:hover {
	background-color: #DADADA;
	cursor: move;
}

.demo-gridview-heading {
	background-color: #87B3FF;
	height: 5px;
	opacity: 0.05;
}

.demo-gridview-heading:hover {
	background-color: #87B3FF;
	height: 5px;
	opacity: 0.5;
}

.demo-gridview-windowHeading-text {
	float: left;
	font-weight: bold;
	margin-left: 2px;
	outline: 0 none;
}

.demo-gridview-column-composite {
	padding: 1px;
}

.demo-gridview-container {
	width: 200px;
}