
<!--
**
**   Description : STYLESHEET FOR GENERATION OF THE HTML Treeview
**
**   Date : 26/10/2002 - version : 1.0
**   Author : Jean-Michel Garnier, http://rollerjm.free.fr
**   Source is free but feel free (!) to send any comment / suggestion to garnierjm@ifrance.com
**   One of the best tool to customize a css is TopStyle (www.bradsoft.com)
-->


<!-- Customize link style here -->
a:link {text-decoration:none;}
a:visited {text-decoration:none; }
a:hover {text-decoration:underline; cursor: hand;}

<!-- Customize the "folder" style here -->
a.folder {  font-family=arial;
            font-size: 9pt;
            padding:0px;
            font-family : cursive;
}

<!-- Customize the tag td "leaf" style here -->
td.folder {
	vertical-align:middle;
}


<!-- Customize the "leaf" style here -->
a.leaf {
	font-family : cursive;
	padding:0px;
	cursor: hand;
	font-size : 9pt;                             
}

<!-- Customize the tag td "leaf" style here -->
td.leaf {
	vertical-align:middle;
}



