.geolocation {
  .marker-cluster-Critical {
    background-color: rgba(204, 0, 0, 1);
    color: rgb(204, 0, 0);
  }
  .marker-cluster-Critical div {
    background-color: rgba(204, 0, 0, 1);
    color: rgb(204, 0, 0);
  }
  .marker-cluster-Major {
    background-color: rgba(255, 51, 0, 1);
    color: rgb(255, 51, 0);
  }
  .marker-cluster-Major div {
    background-color: rgba(255, 51, 0, 1);
    color: rgb(255, 51, 0);
  }
  .marker-cluster-Minor {
    background-color: rgba(255, 153, 0, 1);
    color: rgb(255, 153, 0);
  }
  .marker-cluster-Minor div {
    background-color: rgba(255, 153, 0, 1);
    color: rgb(255, 153, 0);
  }
  .marker-cluster-Warning {
    background-color: rgba(255, 204, 0, 1);
    color: rgb(255, 204, 0);
  }
  .marker-cluster-Warning div {
    background-color: rgba(255, 204, 0, 1);
    color: rgb(255, 204, 0);
  }
  .marker-cluster-Normal {
    background-color: rgba(51, 102, 0, 1);
    color: rgb(51, 102, 0);
  }
  .marker-cluster-Normal div {
    background-color: rgba(51, 102, 0, 1);
  }
  .marker-cluster div {
    position: absolute;
    top: 0;
    color: white;
    text-shadow: 1px 1px 2px #000;
  }

  .Cleared {
    fill: #999;
    stroke: #999;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Normal {
    fill: #336600;
    stroke: #336600;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Minor {
    fill: #FF9900;
    stroke: #FF9900;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Major {
    fill: #FF3300;
    stroke: #FF3300;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Warning {
    fill: #FFCC00;
    stroke: #FFCC00;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Indeterminate {
    fill: #999000;
    stroke: #999000;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Critical {
    fill: #CC0000;
    stroke: #CC0000;
    opacity: 0.6;
    stroke-opacity: 0.6;
  }

  .Cleared:hover {
    fill: #999;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Normal:hover {
    fill: #336600;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Minor:hover {
    fill: #FF9900;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Major:hover {
    fill: #FF3300;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Warning:hover {
    fill: #FFCC00;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Indeterminate:hover {
    fill: #999000;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .Critical:hover {
    fill: #CC0000;
    opacity: 1.0;
    stroke-opacity: 1.0;
  }

  .node-marker-popup .leaflet-popup-content ul {
    list-style-type: none;
    padding-left: 0;
  }

  table.node-marker-list {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10pt;
  }
  table.node-marker-list td {
    padding: 2px;
  }
  td.severity {
    text-align: center;
  }
  td.severity a {
    color: white;
    text-decoration: none;
  }
  td.severity.Critical {
    background-color: rgba(204, 0, 0, 1);
  }
  td.severity.Major {
    background-color: rgba(255, 51, 0, 1);
  }
  td.severity.Minor {
    background-color: rgba(255, 153, 0, 1);
  }
  td.severity.Warning {
    background-color: rgba(255, 204, 0, 1);
  }
  td.severity.Normal {
    background-color: rgba(51, 102, 0, 1);
  }

  .leaflet-container .leaflet-control-zoom {
    margin-top: 20px;
  }

  .leaflet-popup-content .node {
    word-wrap: break-word;
  }

  .leaflet-popup-scrolled {
    border-bottom: 0;
    border-top: 0;
  }

  .leaflet-control-dropdown {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #888;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin: 0 5px 0 0;
    color: black;
  }

  {
    width: 100px;
    height:400px;
    min-height: 100%;
    min-width: 100%;
    display: block;
  }
}