<settings>
    <mirrors>
        <mirror>
            <id>mvn1.cdn.eu-central-1</id>
            <name>Maven Cache in EU Central [mvn1]</name>
            <url>https://mvn1.cdn.eu-central-1.bluebirdlabs.tech/upstream</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
