///
/// Licensed to The OpenNMS Group, Inc (TOG) under one or more
/// contributor license agreements.  See the LICENSE.md file
/// distributed with this work for additional information
/// regarding copyright ownership.
///
/// TOG licenses this file to You under the GNU Affero General
/// Public License Version 3 (the "License") or (at your option)
/// any later version.  You may not use this file except in
/// compliance with the License.  You may obtain a copy of the
/// License at:
///
///      https://www.gnu.org/licenses/agpl-3.0.txt
///
/// Unless required by applicable law or agreed to in writing,
/// software distributed under the License is distributed on an
/// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
/// either express or implied.  See the License for the specific
/// language governing permissions and limitations under the
/// License.
///

@use "@featherds/styles/mixins/_typography.scss" as typo;
@use "@featherds/styles/themes/variables";

/**
* Add some additional base styles that weren't included in the base Feather typography.
* These help override legacy OpenNMS Bootstrap styles so that all text on legacy pages
* has a Feather font style.
*/
input,
label,
li,
select,
span,
td,
text,
th {
  @include typo.body-small();
  color: inherit;
  // Feather has the following, which seem a little too much. Legacy OpenNMS fonts were a bit narrower,
  // so we adjust these a bit below.
  // letter-spacing: var(--feather-body-small-letter-spacing);  // .25004px
  // line-height: var(--feather-body-small-line-height);        // 1.5rem or 24px
  //
  // For p, we leave it alone as the slightly larger spacing is more readable for paragraphs of text.
  letter-spacing: normal;
  line-height: 1.3rem;
}

// Do not want the Feather behavior of changing the color of links when visited.
a:visited {
  color: var(--feather-clickable-normal);
}
