{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "@typescript-eslint"
  ],
  "rules": {
    "vue/script-setup-uses-vars": "error",
      "semi": [
        "error",
        "never"
      ],
      "quotes": [
        "error",
        "single"
      ],
      "vue/html-quotes": [ 
        "error", 
        "double", 
        { "avoidEscape": false } 
      ],
      "@typescript-eslint/no-explicit-any": "off"
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly"
  }
}
