{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "./.eslintrc-auto-import.json"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "@typescript-eslint"
  ],
  "rules": {
    "vue/script-setup-uses-vars": "error",
    "indent": [
      "error", 2, {"SwitchCase": 1}
    ],
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "vue/html-quotes": [ 
      "error", 
      "double", 
      { "avoidEscape": false } 
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "comma-dangle": ["error", "never"]
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly"
  }
}
