{
  "semi": false,
  "trailingComma": "none",
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "parser": "typescript",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "crlf",
  "embeddedLanguageFormatting": "off"
}
