{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 40,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
