<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- WARN here is just for internal log4j messages and does not effect logging in general --><configuration monitorInterval="60" status="WARN">

  <!--
      The logging in OpenNMS is designed to associate a 'prefix' with each thread that runs.
      This prefix is used to indicate what 'subsystem' the thread is doing work for so that
      logging for the subsystem can all be directed to the same log.  The way this needs to work 
      in the code is that when a thread is doing work for subsystem (ie when it starts a method for
      this system) it sets its prefix in a ThreadLocal way.  All logs on this thread will then
      get logged to that 'prefix' file.  After the thread is done doing the work (that is before the 
      method returns) the prefix needs to be set back to the prefix it had before.  Failure to do that 
      will cause all subsequent work done by this thread to log to the wrong place.  
    
      If log messages are appearing in the wrong log, it is a bug on the part of the developers of the 
      subsystem that is receiving the log messages because they are not restoring the log prefix 
      correctly when their thread is finished. 

      If your log messages are showing up in uncategorized.log, it indicates that the subsystem making calls
      to your code is not properly setting a prefix when being called.
  -->

  <properties>
    <property name="prefix">uncategorized</property>
    <property name="logdir">${install.logs.dir}</property>
  </properties>

  <!--
    This section specifes how log messages are directed to log files.  The below indicates
    the log messages are sent to files of the form logs/${prefix}.log.  Each message is placed in 
    a log file corresponding to its MDC prefix.  This happens even if the prefix is not specified
    above.
    It is possible to add additional appenders to this section while debugging if you would
    like messages to be logged in some other way.  See http://logging.apache.org/log4j/2.x/ for details.
  -->
  <appenders>
    <Routing name="RoutingAppender">
      <Routes pattern="$${ctx:prefix}">
        <Route>
          <RollingFile fileName="\${logdir}/\${ctx:prefix}.log" filePattern="\${logdir}/\${ctx:prefix}.%i.log.gz" name="Rolling-\${ctx:prefix}">
            <PatternLayout>
              <pattern>%d %-5p [%t] %c{1.}: %m%n</pattern>
            </PatternLayout>

            <!-- Rotate logs at 100MB-->
            <SizeBasedTriggeringPolicy size="100MB"/>

            <!-- Rotate through 4 logs -->
            <DefaultRolloverStrategy fileIndex="min" max="4"/>
          </RollingFile>
        </Route>
          <!--
	      This route in configured specifically for the instrumentation log so it can be parsed
              by the instrumentation log reader.  It does not compress the logs and has modified
              pattern.
	  -->
        <Route key="instrumentation">
          <RollingFile fileName="\${logdir}/instrumentation.log" filePattern="\${logdir}/instrumentation.%i.log" name="Rolling-instrumentation">
            <PatternLayout>
              <!-- the logging class is not included here since its is verbose and always the same -->
              <pattern>%d %-5p [%t] %m%n</pattern>
            </PatternLayout>

            <!-- Rotate logs at 100MB-->
            <SizeBasedTriggeringPolicy size="100MB"/>

            <!-- Rotate through 4 logs -->
            <DefaultRolloverStrategy fileIndex="min" max="4"/>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>
  </appenders>

  <loggers>

    <!-- we always want this at info for the instrumentation log reader -->
    <logger additivity="false" level="INFO" name="org.opennms.netmgt.collectd.DefaultCollectdInstrumentation">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <!-- 
      Set the threshold for individual loggers that may be too chatty at the default 
      level for their prefix.
    -->
    <logger additivity="false" level="WARN" name="com.google.gwt.user.server">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="com.mchange">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="httpclient">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="mx4j">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="net.sf.jasperreports">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.apache.bsf">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.apache.commons">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.apache.coyote">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.asteriskjava">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.eclipse.jetty.webapp">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.exolab.castor">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.gwtwidgets">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.hibernate">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.hibernate.sql">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.hibernate.cfg.annotations.EntityBinder">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.mortbay">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.quartz">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.springframework">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    <logger additivity="false" level="WARN" name="snaq.db">
      <appender-ref ref="RoutingAppender"/>
    </logger>
    
    <!-- Allow any message to pass through the root logger -->
    <root level="DEBUG">
      <!-- 
        Each category/log can be set to one of TRACE, INFO, DEBUG, WARN, ERROR

        This section of the setting the log level based on Logging prefix. Log messages that are logged
        without a prefix work as if the prefix were 'uncategorized'.

        The KeyValuePair specifies a prefix and a log level for messages that have the prefix.

        The defaultThreshold is for log messages that do not match any configured KeyValuePair.

        None of the below of the KeyValuePairs are actually necessary but are just to indicate
        some well known prefixes in the log or to override the defaultThreshold for a given prefix.
      -->
      <DynamicThresholdFilter defaultThreshold="DEBUG" key="prefix">
        <!-- always leave instrumentation logging at INFO -->
        <KeyValuePair key="instrumentation" value="INFO"/>
        <KeyValuePair key="access-point-monitor" value="WARN"/>
        <KeyValuePair key="ackd" value="WARN"/>
        <KeyValuePair key="actiond" value="WARN"/>
        <KeyValuePair key="alarmd" value="WARN"/>
        <KeyValuePair key="asterisk-gateway" value="WARN"/>
        <KeyValuePair key="archiver" value="WARN"/>
        <KeyValuePair key="capsd" value="WARN"/>
        <KeyValuePair key="collectd" value="WARN"/>
        <KeyValuePair key="correlator" value="WARN"/>
        <KeyValuePair key="dhcpd" value="WARN"/>
        <KeyValuePair key="discover" value="WARN"/>
        <KeyValuePair key="eventd" value="WARN"/>
        <KeyValuePair key="event-translator" value="WARN"/>
        <KeyValuePair key="icmp" value="WARN"/>
        <KeyValuePair key="jetty-server" value="WARN"/>
        <KeyValuePair key="linkd" value="WARN"/>
        <KeyValuePair key="enlinkd" value="WARN"/>
        <KeyValuePair key="manager" value="DEBUG"/>
        <KeyValuePair key="map" value="WARN"/>
        <KeyValuePair key="model-importer" value="WARN"/>
        <KeyValuePair key="notifd" value="WARN"/>
        <KeyValuePair key="oss-qosd" value="WARN"/>
        <KeyValuePair key="oss-qosdrx" value="WARN"/>
        <KeyValuePair key="passive" value="WARN"/>
        <KeyValuePair key="poller" value="WARN"/>
        <KeyValuePair key="provisiond" value="WARN"/>
        <KeyValuePair key="queued" value="WARN"/>
        <KeyValuePair key="reportd" value="WARN"/>
        <KeyValuePair key="reports" value="WARN"/>
        <KeyValuePair key="rtc" value="WARN"/>
        <KeyValuePair key="statsd" value="WARN"/>
        <KeyValuePair key="scriptd" value="WARN"/>
        <KeyValuePair key="snmp-poller" value="WARN"/>
        <KeyValuePair key="syslogd" value="WARN"/>
        <KeyValuePair key="threshd" value="WARN"/>
        <KeyValuePair key="tl1d" value="WARN"/>
        <KeyValuePair key="trapd" value="WARN"/>
        <KeyValuePair key="trouble-ticketer" value="WARN"/>
        <KeyValuePair key="vacuumd" value="WARN"/>
        <KeyValuePair key="web" value="WARN"/>
        <KeyValuePair key="xmlrpcd" value="WARN"/>
      </DynamicThresholdFilter>

      <appender-ref ref="RoutingAppender"/>

    </root>
  </loggers>

</configuration>