[Unit]
Description=${install.package.description} server
Wants=${install.postgresql.service}.service
Requires=network.target network-online.target
After=${install.postgresql.service}.service postgresql-10.service postgresql-11.service postgresql-12.service postgresql-13.service network.target network-online.target

[Service]
AmbientCapabilities=CAP_NET_RAW CAP_NET_BIND_SERVICE
User=opennms
Environment="OPENNMS_HOME=${install.dir}"

Type=forking
RuntimeDirectory=opennms
RuntimeDirectoryMode=0775
PIDFile=${install.pid.file}

ExecStart=${install.bin.dir}/opennms -s start
# cosmetic: sleep just long enough that Systemd doesn't complain about not seeing the PID file yet
ExecStartPost=/bin/sleep 3
ExecStop=${install.bin.dir}/opennms -s stop

[Install]
WantedBy=multi-user.target
