#
# See: www.opennms.org/wiki/Dev-Jam_2015/elasticsearch
#
# for instructions on how to use this feature
#

# name of the ES cluster
elasticsearchCluster=opennms
# ip to connect to
elasticsearchIp=localhost
# also log event description (impacts index size and might not contain useful information)
logEventDescription=false
# 0=unlimited
cache_max_ttl=0
# 0=unlimited
cache_max_size=10000
