# VMWARE Topology
vmware.NETWORK_ICON = vmware-network
vmware.HOSTSYSTEM_ICON_ON = vmware-hostsystem-on
vmware.HOSTSYSTEM_ICON_OFF = vmware-hostsystem-off
vmware.HOSTSYSTEM_ICON_STANDBY = vmware-hostsystem-standby
vmware.HOSTSYSTEM_ICON_UNKNOWN = vmware-hostsystem-unknown
vmware.VIRTUALMACHINE_ICON_ON = vmware-virtualmachine-on
vmware.VIRTUALMACHINE_ICON_OFF = vmware-virtualmachine-off
vmware.VIRTUALMACHINE_ICON_SUSPENDED = vmware-virtualmachine-suspended
vmware.VIRTUALMACHINE_ICON_UNKNOWN = vmware-virtualmachine-unknown
vmware.DATASTORE_ICON = vmware-datastore
vmware.DATACENTER_ICON = vmware-datacenter