<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <tx:annotation-driven />
    

  <!-- Surveillance View beans -->
  <bean id="surveillanceViewConfigDao" class="org.opennms.web.svclayer.dao.support.DefaultSurveillanceViewConfigDao" />
  <bean id="surveillanceService" class="org.opennms.web.svclayer.support.DefaultSurveillanceService" >
    <property name="nodeDao" ref="nodeDao" />
    <property name="categoryDao" ref="categoryDao" />
    <property name="surveillanceConfigDao" ref="surveillanceViewConfigDao"/>
    
  </bean>

<!-- Site Status beans -->
  <bean id="siteStatusViewConfigDao" class="org.opennms.web.svclayer.dao.support.DefaultSiteStatusViewConfigDao" />
  <bean id="siteStatusViewService" class="org.opennms.web.svclayer.support.DefaultSiteStatusViewService" >
  	<property name="nodeDao" ref="nodeDao" />
    <property name="categoryDao" ref="categoryDao" />
    <property name="siteStatusViewConfigDao" ref="siteStatusViewConfigDao" />
  </bean>


<!-- Suppress Outage Service beans -->
  <bean id="outageService" class="org.opennms.web.svclayer.outage.DefaultOutageService">
    <property name="dao" ref="outageDao" />
  </bean>


  <bean id="outageTable" class="org.opennms.web.svclayer.outage.OutageTable">

  </bean>



<!-- Category Status View beans (note: categoryConfigDao is different that the DAO for the categories table -->
  <bean id="categoryConfigDao" class="org.opennms.web.svclayer.dao.support.DefaultCategoryConfigDao" />
  <bean id="viewDisplayDao" class="org.opennms.web.svclayer.dao.support.DefaultViewDisplayDao" />
  
  <bean id="categoryDao" class="org.opennms.netmgt.dao.hibernate.CategoryDaoHibernate">
  	<property name="sessionFactory" ref="sessionFactory" />
  </bean>
  


<!-- Demand Poll Service beans -->
  <bean id="eventProxy" class="org.opennms.netmgt.utils.TcpEventProxy">
    <!-- <constructor-arg index="1" type="String" value="127.0.0.1" />
      <constructor-arg index="2" type="int" value="5817" /> -->
  </bean>

  <bean id="pollerApi" class="org.opennms.web.services.DefaultPollerService">
    <property name="eventProxy" ref="eventProxy"></property>
  </bean>

  <bean id="demandPollService" class="org.opennms.web.svclayer.support.DefaultDemandPollService">
    <property name="demandPollDao" ref="demandPollDao" />
    <property name="monitoredServiceDao" ref="monitoredServiceDao" />
    <property name="pollerAPI" ref="pollerApi" />
  </bean>


<!-- Daemon Status Service beans -->   
  <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
    <property name="locateExistingServerIfPossible" value="true"/>
  </bean>

  <bean id="daemonStatusDao" class="org.opennms.netmgt.dao.jmx.JmxDaemonStatusDao">
    <property name="mbeanServer" ref="mbeanServer" />
  </bean>
  
  <bean id="daemonStatusService" class="org.opennms.web.svclayer.daemonstatus.support.DefaultDaemonStatusService">
    <property name="daemonStatusDao" ref="daemonStatusDao" />
  </bean>

<!-- Category Service Status beans -->
   <bean id="categoryStatusService" class="org.opennms.web.svclayer.catstatus.support.DefaultCategoryStatusService">
    <property name="categoryConfigDao" ref="categoryConfigDao" />
    <property name="outageDao"  ref="outageDao" />
    <property name="viewDisplayDao" ref ="viewDisplayDao"/>
  </bean>

  
</beans>
