<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- Aggregate Status beans -->
  <bean id="aggregateStatusService" class="org.opennms.web.svclayer.support.DefaultAggregateStatusService" >
  	<property name="nodeDao" ref="nodeDao" />
    <property name="statusViewDao" ref="aggregateStatusViewDao" />
  </bean>


<!-- Suppress Outage Service beans -->
  <bean id="outageService" class="org.opennms.web.svclayer.outage.DefaultOutageService">
    <property name="dao" ref="outageDao" />
  </bean>


<!-- Category Status View beans (note: categoryDao is different that than the DAO for the categories table -->
  <bean id="categoryDao" class="org.opennms.web.svclayer.catstatus.dao.support.DefaultCategoryDao" />
  <bean id="viewDisplayDao" class="org.opennms.web.svclayer.catstatus.dao.support.DefaultViewDisplayDao" />


<!-- Demand Poll Service beans -->
  <bean id="eventProxy" class="org.opennms.netmgt.utils.TcpEventProxy">
    <!-- <constructor-arg index="1" type="String" value="127.0.0.1" />
      <constructor-arg index="2" type="int" value="5817" /> -->
  </bean>

  <bean id="pollerApi" class="org.opennms.web.services.DefaultPollerService">
    <property name="eventProxy" ref="eventProxy"></property>
  </bean>

  <bean id="demandPollService" class="org.opennms.web.svclayer.support.DefaultDemandPollService">
    <property name="demandPollDao" ref="demandPollDao" />
    <property name="monitoredServiceDao" ref="monitoredServiceDao" />
    <property name="pollerAPI" ref="pollerApi" />
  </bean>


<!-- Daemon Status Service beans -->   
  <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
    <property name="locateExistingServerIfPossible" value="true"/>
  </bean>

  <bean id="daemonStatusDao" class="org.opennms.netmgt.dao.jmx.JmxDaemonStatusDao">
    <property name="mbeanServer" ref="mbeanServer" />
  </bean>
  
  <bean id="daemonStatusService" class="org.opennms.web.svclayer.daemonstatus.support.DefaultDaemonStatusService">
    <property name="daemonStatusDao" ref="daemonStatusDao" />
  </bean>

<!-- Category Service Status beans -->
   <bean id="categoryStatusService" class="org.opennms.web.svclayer.catstatus.support.DefaultCategoryStatusService">
    <property name="categoryDao" ref="categoryDao" />
    <property name="outageDao"  ref="outageDao" />
    <property name="viewDisplayDao" ref ="viewDisplayDao"/>
  </bean>

  
</beans>
