@import "dashboard.scss";

body {
	font-size: 1.2em;
}

.nodeHeader {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

p.nodeHeaderLocation {
	margin-bottom: 0px;
}


[node-list-popover] .popover {
	min-width: 300px;
}
