/*
Bootstrap Theme Specific Stylesheet
 * Contents:
 *  1.0 - Structure
 *  2.0 - Menu
 *  3.0 - Buttons
 *  4.0 - Typography
 *  5.0 - Alerts
 *  6.0 - Content Boxes
 *  7.0 - Form Elements
 *  8.0 - Progress Bars
 *  9.0 - List Groups
 *  10.0 - Dropdowns
 *  11.0 - Navs and Navbars
 *  12.0 - Panels
 *  13.0 - Dialogs
 *  14.0 - Tables
 *  15.0 - Miscellaneous and Workarounds
 */

@import "properties.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "severities.scss";

/* =1.0 Structure
----------------------------------------------- */

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}


/* =2.0 Menu
----------------------------------------------- */

#access {
  background: #444 url(../images/bkg-brand-border.jpg) top center repeat-x;
  height:60px;
  margin-bottom:30px;
  box-shadow: 0px 3px 5px #2f2f2f;
  border-color:transparent;
  padding-top:3px;
}
#access .navbar-brand {
  line-height: 30px;
  color: #777;
  text-shadow: -1px -1px 0 #222;
}
#access ul {
  margin:0;
  float:left;
  list-style:none;
}
#access li {
  float:left;
}
#access li a {
  display:block;
  color:#ccc;
  line-height:57px;
  padding:0 20px;
}
#access li li {
  float:none;
}
#access li li a {
  line-height: 1.42857143;
  color: #333;
  padding: 3px 20px;
}
#access li a:hover,
#access .navbar-inverse .navbar-nav>li>a:hover,
#access .navbar-inverse .navbar-nav>li>a:focus {
  text-decoration:none;
  background-color:#3a3a3a;
  box-shadow: inset 0px 1px 6px #222;
}
#access li li a:hover {
  background-color:#eee;
  box-shadow:none;
}
#access li.active a,
#access .navbar-inverse .navbar-nav>.active>a,
#access .navbar-inverse .navbar-nav>.active>a:hover,
#access .navbar-inverse .navbar-nav>.active>a:focus {
  background:url(../images/bkg-nav-active.jpg) bottom no-repeat;
  box-shadow:none;
  cursor:default;
}

#access .navbar-text {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* =3.0 Buttons
----------------------------------------------- */


/* =4.0 Typography
----------------------------------------------- */


/* =5.0 Alerts
----------------------------------------------- */


/* =6.0 Content Boxes
----------------------------------------------- */

.box {
  margin-bottom:20px;
  clear:both;
  background:#fff;
  box-shadow: 0px 0px 8px #000;
}
.box .bottom {
  padding: 15px;
}
.box h2.module-title {
  padding: 12px 15px;
  margin:0;
  font-weight:500;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(170,170,170,0.15) 66%, rgba(0,0,0,0.05) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.35) 0%,rgba(170,170,170,0.15) 66%,rgba(0,0,0,0.05) 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(170,170,170,0.15) 66%,rgba(0,0,0,0.05) 100%);
  //color:$color_opennms_dark;
  font-size: 17px;
  line-height: 30px;
  border-bottom:1px solid #ccc;
}
.box h2 .button {
  font-size: 14px;
  float: right;
  padding: 6px 10px;
}

/* =7.0 Form Elements
----------------------------------------------- */

.multi-select {
  min-width: 90%;
}

/* =8.0 Progress Bars
----------------------------------------------- */


/* =9.0 List Groups
----------------------------------------------- */

/* =10.0 Dropdowns
----------------------------------------------- */

/* Allow hovering over dropdown to show elements */
.dropdown:hover > .dropdown-menu {
  display: block;
}
/*
 Between the menu item and the (showing) dropdown menu is a space of >1 pixel.
 If the mouse is moved very slowly from the menu item to the dropdown menu the menu is
 disappearing before the user reaches the dropdown menu.
 The following css prevents this, by simply moving the dropdown-menu a little bit closer to
 the menu item.
*/
.dropdown > .dropdown-menu {
  top: calc(100% - 2px);
}


/* =11.0 Navs and Navbars
----------------------------------------------- */

#notificationOff {
  color: $danger;
}

#notificationOn {
  color: $success;
}

/* =12.0 Panels
----------------------------------------------- */


/* =13.0 Panels
----------------------------------------------- */



/* =14.0 Tables
----------------------------------------------- */


/* =15.0 Miscellaneous and Workarounds
----------------------------------------------- */

.graph-aux-controls {
  text-align: right;
}

.graph-container {
  margin-left: auto;
  margin-right: auto;
}

/* report list page action buttons */
.o-report-deliver,  .o-report-schedule, .o-report-online{
  width: 24px;
  vertical-align: middle;
  text-align: center;
  a {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }
}

.o-report-deliver {

  a {
    background: url(../images/reportDeliver_grey.png);
  }
  a:hover{
    background: url(../images/reportDeliver.png);
  }
}

.o-report-schedule {
  a {
    background: url(../images/reportSchedule_grey.png);
  }
  a:hover{
    background: url(../images/reportSchedule.png);
  }
}

.o-report-online {
  a{
    background: url(../images/reportOnline_grey.png);
  }

  a:hover {
    background: url(../images/reportOnline.png);
  }
}


.top-buffer {
  margin-top: 5px;
}

/* Add a margin to the left of the elements equilavent to one &nbsp */
.space-on-the-left {
  margin-left: 3px;
}

/* Used to set the color when using font-awesome icons */
.icon-black {
  color: black;
}

/* --------------------------------------------------
    :: Styles for DBIDs, foreign-source, and foreign-ID
    :: spans in the node list and node details pages
    -------------------------------------------------- */

span.NLdbid, span.NLfs, span.NLfid, span.NLloc {
  display: none;
}

div.NLnode {
  line-height: 2em;
}

div.NLnode:hover span.NLdbid, div.NLnode:hover span.NLfs, div.NLnode:hover span.NLfid, div.NLnode:hover span.NLloc {
  display: inline;
}

/* Removes the bullet, but keeps the padding. */
.list-no-bullet {
  list-style-type: none;
}

/* Resource Graph sidebar classes inspired by Bootstrap Docs: Begin */

.sidebar-fixed {
  position: fixed;
}
/* sidebar */
.resource-graphs-sidebar {
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resource-graphs-sidebar > ul {
  overflow-y: auto;
  height: 100%;
}
/* all links */
.resource-graphs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: 400;
}
/* nested links */
.resource-graphs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  font-size: 12px;
}
/* active & hover links */
.resource-graphs-sidebar .nav-link.active,
.resource-graphs-sidebar .nav-link:hover,
.resource-graphs-sidebar .nav-link:focus {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  border-left-color: $link-color;
}
/* all active links */
.resource-graphs-sidebar .nav .nav-link.active,
.resource-graphs-sidebar .nav .nav-link.active:hover,
.resource-graphs-sidebar .nav .nav-link.active:focus {
  font-weight: 700;
}
/* nested active links */
.resource-graphs-sidebar .nav .nav .nav-link.active,
.resource-graphs-sidebar .nav .nav .nav-link.active:hover,
.resource-graphs-sidebar .nav .nav .nav-link.active:focus {
  font-weight: 500;
}
/* Resource Graph sidebar classes inspired by Bootstrap Docs: End */

#content {
  padding-top: 15px;
}

#footer {
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
}

.card {
  margin-bottom: $spacer * 1.5; // equivalent of mb-4
}

// requisition ui uses bootbox for modals, however it is not yet bootstrap 4 compatible
// (bootbox v5 will be, release is imminent), see https://github.com/makeusabrew/bootbox/issues/566
// Until then use this hack
.bootbox .modal-header h4 {
  order: 0;
}
.bootbox .modal-header button {
  order: 1;
}

// With bootstrap 4 height=100% does not work anymore, this workaround is enforcing 100% height
iframe.vaadin-fullscreen {
  height: calc(100vh - 67px /* header */- 63px /* footer */ - 46px /* navbar */ - 30px /* padding */);
  width:100%;
}