//colors
$color_horizon:                     #4c9d29;
$color_meridian:                    #227cb8;
$link_color:                        #265A87;


$opennms-chromatic-black:           #0A0C1B;
$opennms-dark-blue:                 #131736;
$opennms-cool-gray-4:               #494C67;
$opennms-cool-gray-3:               #7E8198;
$opennms-cool-gray-2:               #B4B6C8;
$opennms-cool-gray-1:               #E9EBF9;

// Severities
$severity-cleared:                  #CDCDD0;
$severity-indeterminate:            #5DAFDD;
$severity-normal:                   #438953;
$severity-warning:                  #FFF000;
$severity-minor:                    #FFD60A;
$severity-major:                    #FF9F0A;
$severity-critical:                 #DF5251;

$font-size-base:  0.875rem;
//$font-family-base-sans-serif: 'Lucida Grande', Verdana, sans-serif;

// This is the default color, and does not overwrite, but reset the styling.
// Is required for the vaadin themes to compile
$table-border-color: #ddd !default;

// Add custom colors to the theme
$theme-colors: (
    // Flavours 
    "horizon":                      $color_horizon,
    "meridian":                     $color_meridian,

    // Some bootstrap 3 components are still used.
    // Usually they work properly, but they use mostly -default stylings, which
    // are no longer available with bootstrap 4.
    // Here default is defined the same as "light".
    "default":                      #f8f9fa,

    // The navbar uses a grey color, which works good for darker backgrounds
    "grey":                         rgba(255, 255, 255, 0.5),

    // Severities
    "severity-indeterminate":       $severity-indeterminate,
    "severity-Indeterminate":       $severity-indeterminate,
    "severity-cleared":             $severity-cleared,
    "severity-Cleared":             $severity-cleared,
    "severity-normal":              $severity-normal,
    "severity-Normal":              $severity-normal,
    "severity-warning":             $severity-warning,
    "severity-Warning":             $severity-warning,
    "severity-minor":               $severity-minor,
    "severity-Minor":               $severity-minor,
    "severity-major":               $severity-major,
    "severity-Major":               $severity-major,
    "severity-critical":            $severity-critical,
    "severity-Critical":            $severity-critical,
);

// Spacing of cards is a bit too much by default.
// The UI looks very bloated, so we reduce it
$card-spacer-y:                     .25rem !default;
$card-spacer-x:                     .42rem !default;

// Breadcrumbs take up a lot of space, so we reduce the default padding a bit
$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              .5rem !default;

// Default Card-Header is too bright, we make it a bit darker by just using the breadcrumb color
$breadcrumb-bg:                     #e9ecef !default; // Same as bootstrap $grey200 default
$card-cap-bg:                       $breadcrumb-bg;