//colors
$color_horizon: #4c9d29;
$color_meridian: #5D7CBA;

//$line-height-base: 1.35;
$font-size-base:  0.9rem;
//$font-family-base-sans-serif: 'Lucida Grande', Verdana, sans-serif;

// This is the default color, and does not overwrite, but reset the styling.
// Is required for the vaadin themes to compile
$table-border-color: #ddd !default;

// Add custom colors to the theme
$theme-colors: (
    "horizon": $color_horizon,
    "meridian": $color_meridian,
    // Additional colors may be added here, e.g. "severity-normal"
    // to allow alerts, badges, buttons, etc to be colored accordingly
);