//colors
$color_horizon: #4c9d29;
$color_meridian: #5D7CBA;

$font-size-base:  0.875rem;
//$font-family-base-sans-serif: 'Lucida Grande', Verdana, sans-serif;

// This is the default color, and does not overwrite, but reset the styling.
// Is required for the vaadin themes to compile
$table-border-color: #ddd !default;

// Add custom colors to the theme
$theme-colors: (
    "horizon": $color_horizon,
    "meridian": $color_meridian,
    // Additional colors may be added here, e.g. "severity-normal"
    // to allow alerts, badges, buttons, etc to be colored accordingly
);

// Spacing of cards is a bit too much by default.
// The UI looks very bloated, so we reduce it
$card-spacer-y:                     .25rem !default;
$card-spacer-x:                     .42rem !default;