@import "properties.scss";

$severity-alarm-critical-text: black;
$severity-alarm-critical-bg: #f5cdcd;
$severity-alarm-critical-border: #DF5251;

$severity-alarm-major-text: black;
$severity-alarm-major-bg: #ffd7cd;
$severity-alarm-major-border: #FF9F0A;

$severity-alarm-minor-text: black;
$severity-alarm-minor-bg: #ffebcd;
$severity-alarm-minor-border: #FFD60A;

$severity-alarm-warning-text: black;
$severity-alarm-warning-bg: #fff5cd;
$severity-alarm-warning-border: #FFF000;

$severity-alarm-indeterminate-text: black;
$severity-alarm-indeterminate-bg: #ebebcd;
$severity-alarm-indeterminate-border: #999000;

$severity-alarm-normal-text: black;
$severity-alarm-normal-bg: #d7e1cd;
$severity-alarm-normal-border: #438953;

$severity-alarm-cleared-text: black;
$severity-alarm-cleared-bg: #eeeeee;
$severity-alarm-cleared-border: #999999;