@import "severity-definition.scss";

$severity-alarm-critical-text: black;
$severity-alarm-critical-bg: #f5cdcd;
$severity-alarm-critical-border: #cc0000;

$severity-alarm-major-text: black;
$severity-alarm-major-bg: #ffd7cd;
$severity-alarm-major-border: #ff3300;

$severity-alarm-minor-text: black;
$severity-alarm-minor-bg: #ffebcd;
$severity-alarm-minor-border: #ff9900;

$severity-alarm-warning-text: black;
$severity-alarm-warning-bg: #fff5cd;
$severity-alarm-warning-border: #ffcc00;

$severity-alarm-indeterminate-text: black;
$severity-alarm-indeterminate-bg: #ebebcd;
$severity-alarm-indeterminate-border: $color_olive_approx;

$severity-alarm-normal-text: black;
$severity-alarm-normal-bg: #d7e1cd;
$severity-alarm-normal-border: $color_dell_approx;

$severity-alarm-cleared-text: black;
$severity-alarm-cleared-bg: #eeeeee;
$severity-alarm-cleared-border: $color_mountain_mist_approx;

@mixin severity-variant($textcolor, $bgcolor, $bordercolor, $type) {
  .severity & {
    color: $textcolor;
    background-color: $bgcolor;

    /* border: 1px 0 solid $table-border-color; */

    td {
      /* border: 1px 0 solid $table-border-color; */
    }
    &.nodivider {
      border-top: 1px solid $table-border-color;
    }
    .bright, &.bright {
      background-image: url(/opennms/images/bg#{$type}.png);
      background-repeat: repeat-y;
      background-position: left top;
      padding-left: 18px;
      td: {
        padding-left: 18px;
      }
    }
  }
}

.severity-critical, .severity-Critical {
  @include severity-variant($severity-alarm-critical-text, $severity-alarm-critical-bg, $severity-alarm-critical-border, 'Critical');
}

.severity-major, .severity-Major {
  @include severity-variant($severity-alarm-major-text, $severity-alarm-major-bg, $severity-alarm-major-border, 'Major');
}

.severity-minor, .severity-Minor {
  @include severity-variant($severity-alarm-minor-text, $severity-alarm-minor-bg, $severity-alarm-minor-border, 'Minor');
}

.severity-warning, .severity-Warning {
  @include severity-variant($severity-alarm-warning-text, $severity-alarm-warning-bg, $severity-alarm-warning-border, 'Warning');
}

.severity-indeterminate, .severity-Indeterminate {
  @include severity-variant($severity-alarm-indeterminate-text, $severity-alarm-indeterminate-bg, $severity-alarm-indeterminate-border, 'Indeterminate');
}

.severity-normal, .severity-Normal {
  @include severity-variant($severity-alarm-normal-text, $severity-alarm-normal-bg, $severity-alarm-normal-border, 'Normal');
}

.severity-cleared, .severity-Cleared {
  @include severity-variant($severity-alarm-cleared-text, $severity-alarm-cleared-bg, $severity-alarm-cleared-border, 'Cleared');
}
