/*
 Modifications:

 2006 Aug 22: A few CSS tweaks - Note that we're overriding font size and margin within
              tables to make things a bit more readable. In general we should be removing HTML
              from event descriptions - need to fix this
 2006 Apr 25: Added table.wdth600
 2005 Oct 01: More CSS work. -- DJ Gregor
 2005 Sep 30: Hacked up heavily to use CSS for layout and markup.  Some code
              (particularly #nav bits) provided by Mike Huot. -- DJ Gregor
 2014 Nov 20: Converted to Scss for bootstrapification

 */

/* --------------------------------------------------
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Header
:: Navigation
:: Layout (Onms Column Layout)
:: Tables
:: Treeview from UL/LI -- currently only in the scheduled outage page
:: List Styles
:: Main Page content
:: Onms Panel (the o-box)
:: Onms Panel (the boxWrapper, want to remove eventually)
:: Standard Forms
:: Custom Form Styles
:: Typography
:: Pagination
:: Page Specifics
:: Image
:: Footer
:: Misc.
*/

@import "properties.scss";
@import "severities.scss";

//fonts
$font_0: Lucida Grande;
$font_1: Verdana;
$font_2: sans-serif;

//Mixins


//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
	margin: 0;
	border: 0;
	vertical-align: baseline;
}

//original selectors
//td td, td p
%extend_2 {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

//original selectors
//.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active
%extend_3 {
	font-weight: normal;
	text-decoration: none;
	color: $color_opennms_dark;
	line-height: 1.5em;
}

//original selectors
//#o-report-online, #o-report-deliver, #o-report-schedule
%extend_4 {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	text-align: center;
}

html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
	background: $white;
	font-family: $font_0, $font_1, $font_2;
}


div {
	@extend %extend_1;
	&.nav-dropdown {
		list-style: none;
		position: relative;
		display: inline;
		width: 100%;
	}
	&.TwoColLeft {
		width: 48%;
		float: left;
		position: relative;
		margin-right: 2%;
	}
	&.TwoColRight {
		width: 49%;
		float: left;
		position: relative;
	}
	&.TwoColLAdmin {
		width: 40%;
		float: left;
		position: relative;
		margin-right: 2%;
	}
	&.TwoColRAdmin {
		width: 58%;
		float: left;
		position: relative;
	}
	&.o-box {
		overflow: auto;
		margin-top: 7px;
		.border {
			background-color: $white;
			border: 1px solid $color_mountain_mist_approx;
			border-top: 0;
		}
		h3 {
			background-repeat: repeat-x;
			background-position: center center;
			background-color: $color_opennms_dark;
			color: $white;
			margin-bottom: 0;
			margin-top: 0;
			font-size: 70%;
			padding: 6px;
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: $black_50 1px 1px 1px;
		}
		&.slim {
			padding: 0;
		}
	}
	&.o-box-spacer {
		padding: 4px 6px;
	}
	&.boxWrapper {
		background-color: #FFF;
		border: 1px solid $color_mountain_mist_approx;
		border-top: 0;
		padding: 4px 6px;
		overflow: auto;
	}
	&.formOnly {
		width: 250px;
		text-align: right;
		margin: 0 50px;
		padding: 50px 0;
	}
	&.spacer {
		position: relative;
		clear: both;
		height: 1px;
	}
	.alert {
		padding: 10pt;
	}
	.alert-error {
		color: #FF3300;
		background-color: #FFD7CD;
	}
	.alert-success {
		color: $color_dell_approx;
		background-color: #D7E1CD;
	}
	.alert-info {
		color: $color_mountain_mist_approx;
		background-color: #EEE;
	}
	.alert-warning {
		color: #FFCC00;
		background-color: #FFF5CD;
	}
	&.NLnode:hover span {
        /* --------------------------------------------------
            :: Styles for DBIDs, foreign-source, and foreign-ID
            :: spans in the node list and node details pages
            -------------------------------------------------- */
		&.NLdbid {
			display: inline;
		}
		&.NLfs {
			display: inline;
		}
		&.NLfid {
			display: inline;
		}
	}
}
span {
	@extend %extend_1;
	&.filter {
		color: $color_tundora_approx;
		border: 1px solid #CCC;
		background-color: #DDD;
		padding: 3px 4px;
		line-height: 25px;
	}
	&.NLdbid {
		display: none;
	}
	&.NLfs {
		display: none;
	}
	&.NLfid {
		display: none;
	}
	&.NPdbid {
	}
	&.NPfs {
	}
	&.NPfid {
	}
}
applet {
	@extend %extend_1;
}
object {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
}
h1 {
	@extend %extend_1;
	&#headerlogo {
		position: absolute;
		z-index: 2;
		margin: 0;
		padding: 0;
		left: 15px;
		top: 13px;
	}
}

/* --------------------------------------------------
    :: Typography
    -------------------------------------------------- */
h2 {
	@extend %extend_1;
	margin: 0;
	font-size: 80%;
}
h3 {
	@extend %extend_1;
	background-repeat: repeat-x;
	background-position: center center;
	background-color: $color_opennms_dark;
	color: #FFF;
	border: 1px solid $color_mountain_mist_approx;
	border-bottom: 0;
	margin-bottom: 0;
	margin-top: 7px;
	font-size: 70%;
	padding: 6px;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: $black_50 1px 1px 1px;
	a {
		color: $white;
	}
	&.o-box-header {
		background-repeat: repeat-x;
		background-position: center center;
		background-color: $color_opennms_dark;
		color: $white;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 70%;
		padding: 6px;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: $black_50 1px 1px 1px;
		a {
			color: $white;
		}
	}
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
p {
	@extend %extend_1;
	font-size: 70%;
	line-height: 1.25em;
	margin: 0 0 7px 0;
	&.noBottomMargin {
		margin-bottom: 0;
	}
	input {
		font-size: 100%;
	}
	select {
		font-size: 100%;
	}
	h3 {
		font-size: 100%;
	}
}
blockquote {
	@extend %extend_1;
}
pre {
	@extend %extend_1;
}
a {
	@extend %extend_1;
	color: $color_opennms_dark;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	&.nav-dropdown {
		padding: 5px;
		text-decoration: none;
		display: inline;
		white-space: nowrap;
		width: auto;
		&:hover {
			text-decoration: none !important;
		}
		> span.nav-item {
			vertical-align: bottom;
			font-size: 5px;
		}
	}
}
abbr {
	@extend %extend_1;
}
acronym {
	@extend %extend_1;
}
address {
	@extend %extend_1;
}
big {
	@extend %extend_1;
}
cite {
	@extend %extend_1;
}
code {
	@extend %extend_1;
}
del {
	@extend %extend_1;
}
dfn {
	@extend %extend_1;
}
em {
	@extend %extend_1;
}

/* --------------------------------------------------
    :: Image
    -------------------------------------------------- */
img {
	@extend %extend_1;
	border: none;
	&.info {
		background: url(../images/ui-icons_454545_256x240.png);
		width: 16px;
		height: 16px;
		background-position: -16px -144px;
	}
}
ins {
	@extend %extend_1;
}
kbd {
	@extend %extend_1;
}
q {
	@extend %extend_1;
}
s {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
}
small {
	@extend %extend_1;
}
strike {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
}
sub {
	@extend %extend_1;
}
sup {
	@extend %extend_1;
}
tt {
	@extend %extend_1;
}
var {
	@extend %extend_1;
}
b {
	@extend %extend_1;
}
u {
	@extend %extend_1;
}
i {
	@extend %extend_1;
}
center {
	@extend %extend_1;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
}
dd {
	@extend %extend_1;
}
ol {
	@extend %extend_1;
}

/*  --------------------------------------------------
    :: List Styles
    -------------------------------------------------- */
ul {
	@extend %extend_1;
	&.plain {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			line-height: 1.6em;
		}
	}
}
li {
	@extend %extend_1;
	font-size: 70%;
	line-height: 1.25em;
	li {
		font-size: 100%;
	}
	input {
		font-size: 100%;
	}
	select {
		font-size: 100%;
	}
	&.pagination {
		margin-top: 0;
	}
}
fieldset {
	@extend %extend_1;
}
form {
	@extend %extend_1;
	margin: 0;
}
label {
	@extend %extend_1;
}
legend {
	@extend %extend_1;
}

/*  --------------------------------------------------
    :: Tables
    -------------------------------------------------- */
table {
	@extend %extend_1;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;

    /*  --------------------------------------------------
        :: Onms Panel (the o-box)
    -------------------------------------------------- */
	&.o-box {
		margin-bottom: 0;
	}
	&.onms-table {
		margin-bottom: 0;
	}
	&.top {
		width: auto;
		border: none;
		background-color: transparent;
		vertical-align: top;
		td {
			border: none;
			background-color: transparent;
			vertical-align: top;
		}
	}
	&.normal {
		width: auto;
		font-size: 100%;
		td {
			border: none;
			background-color: transparent;
			font-size: 70%;
		}
	}
}
caption {
	@extend %extend_1;
}
tbody {
	@extend %extend_1;
}
tfoot {
	@extend %extend_1;
}
thead {
	@extend %extend_1;
}
tr {
	@extend %extend_1;
	&.CellStatus td {
		padding-left: 20px;
		background-position: top left;
		background-repeat: repeat-y;
		&.Critical {
			background-color: $severity-alarm-critical-bg;
			border-top: 2px solid $severity-alarm-critical-border !important;
			background-image: url(../images/bgCritical.png);
		}
		&.Major {
			background-color: $severity-alarm-major-bg;
			border-top: 2px solid $severity-alarm-major-border !important;
			background-image: url(../images/bgMajor.png);
		}
		&.Minor {
			background-color: $severity-alarm-minor-bg;
			border-top: 2px solid $severity-alarm-minor-border !important;
			background-image: url(../images/bgMinor.png);
		}
		&.Warning {
			background-color: $severity-alarm-warning-bg;
			border-top: 2px solid $severity-alarm-warning-border !important;
			background-image: url(../images/bgWarning.png);
		}
		&.Indeterminate {
			background-color: $severity-alarm-indeterminate-bg;
			border-top: 2px solid $severity-alarm-indeterminate-border !important;
			background-image: url(../images/bgIndeterminate.png);
		}
		&.Normal {
			background-color: $severity-alarm-normal-bg;
			border-top: 2px solid $severity-alarm-normal-border !important;
			background-image: url(../images/bgNormal.png);
		}
		&.Cleared {
			background-color: $severity-alarm-cleared-bg;
			border-top: 2px solid $severity-alarm-cleared-border !important;
			background-image: url(../images/bgCleared.png);
		}
		&.nobright {
			background-image: none;
		}
	}
	&.Critical td {
		background-color: $severity-alarm-critical-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-critical-border !important;
		}
		&.bright {
			background-image: url(../images/bgCritical.png);
		}
	}
	&.Major td {
		background-color: $severity-alarm-major-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-major-border !important;
		}
		&.bright {
			background-image: url(../images/bgMajor.png);
		}
	}
	&.Minor td {
		background-color: $severity-alarm-minor-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-minor-border !important;
		}
		&.bright {
			background-image: url(../images/bgMinor.png);
		}
	}
	&.Warning td {
		background-color: $severity-alarm-warning-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-warning-border !important;
		}
		&.bright {
			background-image: url(../images/bgWarning.png);
		}
	}
	&.Indeterminate td {
		background-color: $severity-alarm-indeterminate-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-indeterminate-border !important;
		}
		&.bright {
			background-image: url(../images/bgIndeterminate.png);
		}
	}
	&.Normal td {
		background-color: $severity-alarm-normal-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-normal-border !important;
		}
		&.bright {
			background-image: url(../images/bgNormal.png);
		}
	}
	&.Cleared td {
		background-color: $severity-alarm-cleared-bg;
		&.divider {
			border-top: 2px solid $severity-alarm-cleared-border !important;
		}
		&.bright {
			background-image: url(../images/bgCleared.png);
		}
	}
}
th {
	@extend %extend_1;
	font-size: 70%;
	line-height: 1.25em;
	border: 1px solid $color_mountain_mist_approx;
	padding: 4px 5px;
	background-color: $color_tundora_approx;
	font-weight: bold;
	text-align: left;
	color: #FFF;
	a {
		text-decoration: underline;
		color: #FFF;
		&:hover {
			color: #CCC;
		}
	}
}
td {
	@extend %extend_1;
	font-size: 70%;
	line-height: 1.25em;
	border: 1px solid $color_mountain_mist_approx;
	padding: 4px 5px;
	background-color: #FFF;
	&.bright {
		padding-left: 20px;
		background-position: top left;
		background-repeat: repeat-y;
	}
	td {
		font-size: 100%;
		@extend %extend_2;
	}
	p {
		@extend %extend_2;
	}
	&.normal {
		border: none;
		background-color: transparent;
	}
	input {
		font-size: 100%;
	}
	select {
		font-size: 100%;
	}
	h3 {
		font-size: 100%;
	}
	div.clip {
		margin: 0;
		padding: 0;
		height: 1.5em;
		overflow: hidden;
	}
}
article {
	@extend %extend_1;
}
aside {
	@extend %extend_1;
}
canvas {
	@extend %extend_1;
}
details {
	@extend %extend_1;
}
embed {
	@extend %extend_1;
}
figure {
	@extend %extend_1;
}
figcaption {
	@extend %extend_1;
}
footer {
	@extend %extend_1;
}
header {
	@extend %extend_1;
}
hgroup {
	@extend %extend_1;
}
menu {
	@extend %extend_1;
}
nav {
	@extend %extend_1;
}
output {
	@extend %extend_1;
}
ruby {
	@extend %extend_1;
}
section {
	@extend %extend_1;
}
summary {
	@extend %extend_1;
}
time {
	@extend %extend_1;
}
mark {
	@extend %extend_1;
}
audio {
	@extend %extend_1;
}
video {
	@extend %extend_1;
}

/*  --------------------------------------------------
    :: Header
    -------------------------------------------------- */
#header {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: $color_mine_shaft_approx;
	background-image: url(../images/headerbg.png);
	background-repeat: repeat-x;
	color: #FFF;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: $black_50 1px 1px 1px;
	a {
		color: #FFF;
	}
}
#headerinfo {
	position: relative;
	margin: 0;
	padding: 10px;
	text-align: right;
}

/*  --------------------------------------------------
    :: Navigation
    -------------------------------------------------- */
    /*Top Level Nav in the Grey Header area */
.navbar {
	ul {
		list-style: none;
//		display: inline;
	}
	li {
		padding: 0 10px 5px 0;
		list-style: none;
		display: inline;
		color: $color_mountain_mist_approx;
		> div.nav-dropdown > ul {
			background-color: $color_tundora_approx;
			border: 1px solid $color_suva_gray_approx;
			color: #FFF;
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: $black_50 1px 1px 1px;
			display: block;
			list-style: none;
			left: -9999px;
			z-index: 10;
			position: absolute;
			padding: 0;
			margin-top: 2px;
			> li {
				padding: 5px;
				display: block;
				> a {
					white-space: nowrap;
				}
			}
		}
		&:hover > div.nav-dropdown > ul {
			left: 0;
		}
	}
}
#linkbar {
	padding: 0 0 1em 0;
	ul {
		list-style: none;
		display: inline;
		padding: 0;
	}
	li {
		list-style: none;
		display: inline;
		padding-right: 0.75em;
	}
}
#headernavbarright {
	position: relative;
	float: right;
	padding: 2px 0 5px;
}

/*  --------------------------------------------------
   :: TOOLTIP
   -------------------------------------------------- */
.tooltip {
	position: absolute;
	display: none;
	padding: 10px;
	background-color: #EEE;
	z-index: 1000;
	max-width: 250px;
	border: 1px solid $color_mountain_mist_approx;
}

/*  --------------------------------------------------
   :: Treeview from UL/LI -- currently only in the scheduled outage page
   -------------------------------------------------- */
.treeview {
	list-style-type: none;
	font-size: 120%;
	padding-left: 0;
	ul li {
		list-style-type: none;
		font-size: 100%;
		margin-left: -2em;
	}
}

/*  --------------------------------------------------
    :: Main Page content
    -------------------------------------------------- */
#content {
	position: relative;
	background-image: url(../images/mainbg.png);
	background-repeat: repeat-x;
	background-color: #EEE;
	margin: 0;
	padding: 15px 20px 30px;
}

/* -----------------------------------------
   Standard Forms
----------------------------------------- */
textarea {
	display: inline;
}
select {
	display: inline;
	font-family: $font_0, $font_1, $font_2;
	font-size: 70%;
}
.right {
	text-align: right;
}
hr {
	position: relative;
	visibility: hidden;
	margin: 0;
	padding: 0;
	height: 0;
	clear: both;
}

/* --------------------------------------------------
    :: Pagination
    -------------------------------------------------- */
.pagination {
	height: 1%;
	width: auto;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	float: right;
	span {
		&.page-sep {
			display: none;
		}
		strong {
			font-weight: normal;
			color: #FFF;
			background-color: $color_opennms_dark;
		}
		a {
			@extend %extend_3;
			&:link {
				@extend %extend_3;
			}
			&:visited {
				@extend %extend_3;
			}
			&:active {
				@extend %extend_3;
			}
			&:hover {
				background-color: $color_opennms_dark;
				color: #FFF;
				text-decoration: none;
			}
		}
	}
	strong {
		font-weight: normal;
	}
	b {
		font-weight: normal;
	}
	img {
		vertical-align: middle;
	}
}

/* Online Report Page Styles */
#o-repository-title {
	background-repeat: repeat-x;
	background-position: center center;
	color: $white;
	font-size: 1em;
	font-weight: bold;
}
#o-report-subscribe {
	font-weight: bold;
	color: $color_bright_red_approx;
	text-align: center;
	width: 20px;
}
#o-report-online {
	@extend %extend_4;
	a {
		background: url(../images/reportOnline_grey.png);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		display: block;
		&:hover {
			background: url(../images/reportOnline.png);
		}
	}
}
#o-report-deliver {
	@extend %extend_4;
	a {
		background: url(../images/reportDeliver_grey.png);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		display: block;
		&:hover {
			background: url(../images/reportDeliver.png);
		}
	}
}
#o-report-schedule {
	@extend %extend_4;
	a {
		background: url(../images/reportSchedule_grey.png);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		display: block;
		&:hover {
			background: url(../images/reportSchedule.png);
		}
	}
}
/*End Online Reporting Styles*/

/* --------------------------------------------------
    :: Footer
    -------------------------------------------------- */
#footer {
	clear: both;
	text-align: center;
	padding: 30px 2px 2px;
	background-image: url(../images/footerbg.png);
	background-repeat: repeat-x;
}

/* --------------------------------------------------
    :: Misc.
    -------------------------------------------------- */
#index-contentleft {
	position: relative;
	width: 23%;
	float: left;
}
#contentleft {
	width: 48%;
	position: relative;
	float: left;
}
#index-contentmiddle {
	position: relative;
	width: 48%;
	float: left;
	margin: 0 2%;
}
#index-contentright {
	position: relative;
	width: 24%;
	float: left;
}
#contentright {
	width: 48%;
	float: right;
	position: relative;
}
.normal {
	font-size: 70%;
	margin: 5px;
	p {
		font-size: 100%;
	}
}
.noWrap {
	white-space: nowrap;
}

/* --------------------------------------------------
    :: Style for notification status
    -------------------------------------------------- */
#notificationOff {
	color: $color_alizarin_crimson_approx;
}
#notificationOn {
	color: $color_lima_approx;
}

/* --------------------------------------------------
    :: Style was marked as deprecated and should be
    -------------------------------------------------- */
#graph-results {
	text-align: center;
}
.onms-table td {
	background: $white;
}
input.input-text {
	display: inline;
}
