<!-- jsp:include page="/includes/header.jsp" flush="false" >
  <jsp:param name="title" value="Outages" />
  <jsp:param name="headTitle" value="Outages" />
  <jsp:param name="location" value="outage" />
  <jsp:param name="breadcrumb" value="Outages" />
</jsp:include -->
<div>
    <div class="TwoColLeft">
        <h3>Outage Menu</h3>
        <div class="boxWrapper">
            <p align="right">
                <label for="id">Outage ID:</label>
                <input ng-model="id" type="text" name="id" />
                <button ng-href="#/app/outages/{{id}}">Get details</button>
            </p>
            <ul class="plain">
                <li><a ng-href="#/app/outages">Search Outages</a></li>
                <li><a ng-href="#/app/outages/list?outtype=current">Current Outages</a></li>
                <li><a ng-href="#/app/outages/list?outtype=both">All Outages</a></li>
            </ul>
        </div>
    </div>
    <div class="TwoColRight">
        <h3>Outages and Service Level Availability</h3>
        <div class="boxWrapper">
            <p>Outages are tracked by OpenNMS by polling services that have been
                provisioned.  If the service does not respond to the poll, a service outage
                is created and service availability levels are impacted.  Service
                outages create notifications.</p>
        </div>
    </div>
    <hr />
</div>