name: "Auto Assign Pull Request"
on:
  pull_request_target:
    # types: [review_requested, ready_for_review, opened, synchronize, reopened]
    branches:
      - main

jobs:
  assign_reviewer:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: shufo/auto-assign-reviewer-by-files@v1.1.5
        with:
          config: ".github/assign-by-files.yml"
          token: ${{ secrets.GITHUB_TOKEN }}
