<div class="panel panel-default">
    <div class="panel-body">
        <span class="lead navbar-left">List of Daemons *</span>

       <div class="navbar-form navbar-right">
           <div class="alert alert-danger" ng-if="error">
               {{error}}
           </div>
           <div class="btn-group">
               <label class="btn btn-default" ng-model="filter" uib-btn-radio="0">Reloadable</label>
               <label class="btn btn-default" ng-model="filter" uib-btn-radio="1">All</label>
           </div>
           <div class="btn-group">
               <button type="button" ng-click="refreshDaemonList()" class="btn btn-default">
                    <i class="fa fa-refresh fa-lg"></i> Refresh
               </button>
           </div>
        </div>
        <div ng-show="daemons.length == 0">No daemons available.</div>
        <table ng-show="daemons.length > 0" class="table table-hover table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="col-md-6 text-nowrap">Name</th>
                <th class="col-md-1 text-nowrap text-center">Enabled</th>
                <th class="col-md-1 text-nowrap text-center">Actions</th>
                <th class="col-md-4 text-nowrap">Result</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in daemons">
                <td>{{d.name}}</td>
                <td class="text-center">
                    <i ng-class="{'fa fa-times text-danger' : !d.enabled, 'fa fa-check text-success' : d.enabled}" title="{{d.enabled ? 'Daemon is enabled' : 'Daemon is disabled'}}"/>
                </td>
                <td class="text-center">
                    <div ng-if="d.reloadable && d.enabled">
                        <button ng-disabled="d.isReloading" type="button" ng-click="reloadDaemon(d)" class="btn btn-sm" title="Reload daemon configuration">
                            <i class="fa fa-repeat fa-lg"/>
                        </button>
                        <button type="button" class="btn" ng-click="showCurlCommand(d)" title="Show curl command to reload the configuration">
                            <i class="fa fa-terminal fa-lg"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <span class="text-danger" ng-if="d.reloadState == 'Failed'"><i class="fa fa-times-circle"/></span>
                    <span class="small" ng-if="d.reloadState == 'Failed'">An error occurred while processing the reload event</span>

                    <span class="text-success" ng-if="d.reloadState == 'Success'"><i class="fa fa-check-circle"/></span>
                    <span class="small" ng-if="d.reloadState == 'Success'">The daemon processed the reload event successfully</span>

                    <span class="text-warning" ng-if="d.reloadState == 'Unknown'"><i class="fa fa-question-circle"/></span>
                    <span class="small" ng-if="d.reloadState == 'Unknown'">It is unclear if the reload event was processed successfully</span>

                    <span class="text-muted" ng-if="d.reloadState == 'Reloading'"><i class="fa fa-spinner fa-spin"/></span>
                    <span class="small" ng-if="d.reloadState == 'Reloading'">Reloading...</span>
                </td>
            </tr>
            </tbody>
        </table>
        <span class="text-muted" ng-if="filter==0">* All reloadable and enabled daemons are shown</span>
        <span class="text-muted" ng-if="filter==1">* All daemons defined in service-configuration.xml are shown</span>
    </div>
</div>