<project xmlns="http://maven.apache.org/POM/4.0.0" schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
@module.parent@
  <modelVersion>4.0.0</modelVersion>
  <artifactId>@module.artifactId@</artifactId>
  <name>@module.name@</name>
  <packaging>@module.packaging@</packaging>
  <dependencies>
    @module.dependencies@
  </dependencies>
      <build>
         <plugins>
            <plugin>
               <groupId>org.codehaus.mojo</groupId>
               <artifactId>castor-maven-plugin</artifactId>
			  <executions>
                 <execution>
                  <goals>
                     <goal>generate</goal>
                  </goals>
                 </execution>
               </executions>
            </plugin>
         </plugins>
      </build>
</project>

